<!DOCTYPE html>
<html>
    <head>
      <script type="text/javascript" src="../js/jquery.js"></script>
      <script type="text/javascript" src="../js/bootstrap.js"></script>

      <link href="../css/bootstrap.min.css" rel="stylesheet">

      <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
      <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

      <script>
        $(function () {
          <% user = Custinfo.where(custserial: tabletinterview.custserial).first %>
          try
          {
            var userName = decode_utf8('<%= user.custname %>')
            tempUserName = ""
            for(var i = 0; i < userName.length; i++){
              if(i == 0)
                tempUserName += userName.slice(0, 1)
              else if(i == userName.length - 1)
                tempUserName += userName.slice(userName.length - 1, userName.length)
              else
                tempUserName += "*"
            }
            console.log(tempUserName);
            $('#name_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id.to_i %>').append(tempUserName);
          }
          catch(err)
          {
            $('#name_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id.to_i %>').append("<%= user.custname %>");
          }

          //피부타입 한글로 변경
          $('#skin_type_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id.to_i %>').html(translate_skin_type('<%= tabletinterview.skin_type %>'));

          //솔루션 한글로 변경
          <% Rails.logger.info tabletinterview.recommand_program_step_1 %>
          <% Rails.logger.info tabletinterview.recommand_program_step_2 %>
          <% Rails.logger.info tabletinterview.recommand_program_step_3 %>
          $('#before_solution_1_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id.to_i %>').html(translate_solution('<%= tabletinterview.before_solution_1 %>'));
          $('#after_solution_1_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id.to_i %>').html(translate_solution('<%= tabletinterview.after_solution_1 %>'));

          $('#before_solution_2_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id.to_i %>').html(translate_solution('<%= tabletinterview.before_solution_2 %>'));
          $('#after_solution_2_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id.to_i %>').html(translate_solution('<%= tabletinterview.after_solution_2 %>'));

        });

        function decode_utf8(s) {
          return decodeURI(s);
        }

        function translate_skin_type(value){
            var skin_type = ""
            console.log(value);
            try{
              if(value.includes("skin_type_gunsung"))
                skin_type = "건성";
              else if(value.includes("skin_type_gun_boggab"))
                skin_type = "건복합성";
              else if(value.includes("skin_type_jisung"))
                skin_type = "지성";
              else if(value.includes("skin_type_jisung_boghab"))
                skin_type = "지복합성";
              else if(value.includes("skin_type_jungsung"))
                skin_type = "중성";
              else if(value.includes("skin_type_boggab"))
                skin_type = "복합";

              if(value.includes("senstive"))
                skin_type = skin_type + " (민감성)";
            }catch(err){
              console.log(err);
              return value;
            }

            console.log(skin_type);
            return skin_type;
        }

        function translate_solution(value){
            try{
              if(value == "SCORE_ELASTICITY")
                return "탄력 솔루션";
              else if(value == "SKIN_WRINKLE")
                return "주름 솔루션";
              else if(value == "SCORE_WATER")
                return "건조 솔루션";
              else if(value == "SCORE_TROUBLE")
                return "트러블 솔루션";
              else if(value == "SCORE_PIGMENT")
                return "색소침착 솔루션";
              else
                return value;
            }catch(err){
              console.log(err);
              return value;
            }
        }
      </script>
    </head>
    <body>
      <% user = Custinfo.where(custserial: tabletinterview.custserial).first %>
      <tr class="table_tr" id="<%= user.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id.to_i %>">
        <td id="name_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id.to_i %>"></td>
        <td class="text-center"><%= tabletinterview.custserial.to_i %></td>
        <td><%= tabletinterview.uptdate %></td>
        <td><%= user.ch_cd %></td>
        <% if @select_filter != [] %>
          <% @select_filter.each do |filter| %>
            <% fcdata = Fcdata.where(custserial: tabletinterview.custserial).where(measureno: tabletinterview.fcdata_id.to_i).first %>
            <% if !fcdata.nil? %>
              <% fcdata = fcdata.to_api_hash_for_admin %>
            <% end %>
            <% if filter.include?("skin_type") %>
              <td class="text-center" id="skin_type_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id.to_i %>"></td>
            <% elsif filter.include?("before_solution_1") %>
              <td class="text-center" id="before_solution_1_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id.to_i %>"></td>
            <% elsif filter.include?("after_solution_1") %>
              <td class="text-center" id="after_solution_1_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id.to_i %>"></td>
            <% elsif filter.include?("before_solution_2") %>
              <td class="text-center" id="before_solution_2_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id.to_i %>"></td>
            <% elsif filter.include?("after_solution_2") %>
              <td class="text-center" id="after_solution_2_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id.to_i %>"></td>
            <% elsif filter.include?("recommand_program_step_1") %>
              <% if !tabletinterview.recommand_program_step_1.nil? %>
                <td class="text-center"><%= URI.decode(tabletinterview.recommand_program_step_1).gsub("+"," ") %></td>
              <% else %>
                <td class="text-center">-</td>
              <% end %>
            <% elsif filter.include?("recommand_program_step_2") %>
              <% if !tabletinterview.recommand_program_step_2.nil? %>
                <td class="text-center"><%= URI.decode(tabletinterview.recommand_program_step_2).gsub("+"," ") %></td>
              <% else %>
                <td class="text-center">-</td>
              <% end %>
            <% elsif filter.include?("recommand_program_step_3") %>
              <% if !tabletinterview.recommand_program_step_3.nil? %>
                <td class="text-center"><%= URI.decode(tabletinterview.recommand_program_step_3).gsub("+"," ") %></td>
              <% else %>
                <td class="text-center">-</td>
              <% end %>
            <% elsif filter.include?("purchase1") %>
              <% if !tabletinterview.purchase1.nil? %>
                <td class="text-center"><%= URI.decode(tabletinterview.purchase1) %></td>
              <% else %>
                <td>-</td>
              <% end %>
            <% elsif filter.include?("purchase2") %>
              <% if !tabletinterview.purchase2.nil? %>
                <td class="text-center"><%= URI.decode(tabletinterview.purchase2) %></td>
              <% else %>
                <td>-</td>
              <% end %>
            <% elsif filter.include?("purchase3") %>
              <% if !tabletinterview.purchase3.nil? %>
                <td class="text-center"><%= URI.decode(tabletinterview.purchase3) %></td>
              <% else %>
                <td>-</td>
              <% end %>
            <% elsif !fcdata.nil? && filter.include?("pr_graph") %>
              <td class="text-center"><%= fcdata[:pr_graph].to_i %></td>
            <% elsif !fcdata.nil? && filter.include?("sb_graph") %>
              <td class="text-center"><%= fcdata[:sb_graph].to_i %></td>
            <% elsif !fcdata.nil? && filter.include?("pp_graph") %>
              <td class="text-center"><%= fcdata[:pp_graph].to_i %></td>
            <% elsif !fcdata.nil? && filter.include?("wr_graph") %>
              <td class="text-center"><%= fcdata[:wr_graph].to_i %></td>
            <% elsif !fcdata.nil? && filter.include?("el_graph") %>
              <td class="text-center"><%= fcdata[:el_graph].to_i %></td>
            <% elsif !fcdata.nil? && filter.include?("mo_graph") %>
              <td class="text-center"><%= fcdata[:mo_graph].to_i %></td>
            <% elsif filter.include?("turnover_value") %>
              <td class="text-center"><%= tabletinterview.turnover_value.to_i+1 %></td>
            <% elsif filter.include?("corneous_value") %>
              <td class="text-center"><%= tabletinterview.corneous_value.to_i %></td>
            <% elsif filter.include?("stress_value") %>
              <td class="text-center"><%= tabletinterview.stress_value.to_i %></td>
            <% else %>
              <td class="text-center"><%= tabletinterview[filter].to_i if tabletinterview[filter].to_i != -1 %></td>
            <% end %>
          <% end %>
        <% else %>
          <td id="skin_type_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id.to_i %>"></td>
          <td id="before_solution_1_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id.to_i %>"></td>
          <td id="after_solution_1_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id.to_i %>"></td>
          <td id="before_solution_2_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id.to_i %>"></td>
          <td id="after_solution_2_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id.to_i %>"></td>
          <% if !tabletinterview.recommand_program_step_1.nil? %>
            <td class="text-center"><%= URI.decode(tabletinterview.recommand_program_step_1).gsub("+"," ") %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %>
          <% if !tabletinterview.recommand_program_step_2.nil? %>
            <td class="text-center"><%= URI.decode(tabletinterview.recommand_program_step_2).gsub("+"," ") %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %>
          <% if !tabletinterview.recommand_program_step_3.nil? %>
            <td class="text-center"><%= URI.decode(tabletinterview.recommand_program_step_3).gsub("+"," ") %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %>
          <% if !tabletinterview.purchase1.nil? %>
            <td class="text-center"><%= URI.decode(tabletinterview.purchase1).gsub("+"," ") %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %>
          <% if !tabletinterview.purchase2.nil? %>
            <td class="text-center"><%= URI.decode(tabletinterview.purchase2).gsub("+"," ") %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %>
          <% if !tabletinterview.purchase3.nil? %>
            <td class="text-center"><%= URI.decode(tabletinterview.purchase3).gsub("+"," ") %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %>
          <td><%= tabletinterview.a_1.to_i if tabletinterview.a_1.to_i != -1 %></td>
          <td><%= tabletinterview.a_2.to_i if tabletinterview.a_2.to_i != -1 %></td>
          <td><%= tabletinterview.a_3.to_i if tabletinterview.a_3.to_i != -1 %></td>
          <td><%= tabletinterview.b_1.to_i if tabletinterview.b_1.to_i != -1 %></td>
          <td><%= tabletinterview.b_2.to_i if tabletinterview.b_2.to_i != -1 %></td>
          <td><%= tabletinterview.b_3.to_i if tabletinterview.b_3.to_i != -1 %></td>
          <td><%= tabletinterview.b_4.to_i if tabletinterview.b_4.to_i != -1 %></td>
          <td><%= tabletinterview.b_5.to_i if tabletinterview.b_5.to_i != -1 %></td>
          <td><%= tabletinterview.b_6.to_i if tabletinterview.b_6.to_i != -1 %></td>
          <td><%= tabletinterview.c_1.to_i if tabletinterview.c_1.to_i != -1 %></td>
          <td><%= tabletinterview.d_1.to_i if tabletinterview.d_1.to_i != -1 %></td>
          <td><%= tabletinterview.d_2.to_i if tabletinterview.d_2.to_i != -1 %></td>
          <td><%= tabletinterview.d_3.to_i if tabletinterview.d_3.to_i != -1 %></td>
          <td><%= tabletinterview.d_4.to_i if tabletinterview.d_4.to_i != -1 %></td>
          <td><%= tabletinterview.d_5.to_i if tabletinterview.d_5.to_i != -1 %></td>
          <td><%= tabletinterview.d_6.to_i if tabletinterview.d_6.to_i != -1 %></td>
          <% fcdata = Fcdata.where(custserial: tabletinterview.custserial).where(measureno: tabletinterview.fcdata_id.to_i).first %>
          <% if !fcdata.nil? %>
            <% fcdata = fcdata.to_api_hash_for_admin %>
            <td class="text-center"><%= fcdata[:pr_graph].to_i+1 %></td>
            <td class="text-center"><%= fcdata[:sb_graph].to_i+1 %></td>
            <td class="text-center"><%= fcdata[:pp_graph].to_i+1 %></td>
            <td class="text-center"><%= fcdata[:wr_graph].to_i+1 %></td>
            <td class="text-center"><%= fcdata[:el_graph].to_i+1 %></td>
            <td class="text-center"><%= fcdata[:mo_graph].to_i+1 %></td>
          <% end %>
          <td class="text-center"><%= tabletinterview.turnover_value.to_i+1 %></td>
          <td class="text-center"><%= tabletinterview.corneous_value.to_i %></td>
          <td class="text-center"><%= tabletinterview.stress_value.to_i %></td>
        <% end %>
      </tr>

    </body>
</html>
