<!DOCTYPE html>
<html>
    <head>
      <script type="text/javascript" src="../js/jquery.js"></script>
      <script type="text/javascript" src="../js/bootstrap.js"></script>

      <link href="../css/bootstrap.min.css" rel="stylesheet">

      <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
      <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

      <script>
        $(function () {
          <% user = Custinfo.where(custserial: tabletinterview.custserial).first %>
          $('#name_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>').append(decode_utf8('<%= user.custname %>'));
          //피부타입 한글로 변경
          $('#skin_type_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>').html(translate_skin_type('<%= tabletinterview.skin_type %>'));

          //솔루션 한글로 변경
          $('#before_solution_1_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>').html(translate_solution('<%= tabletinterview.before_solution_1 %>'));
          $('#after_solution_1_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>').html(translate_solution('<%= tabletinterview.after_solution_1 %>'));

          $('#before_solution_2_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>').html(translate_solution('<%= tabletinterview.before_solution_2 %>'));
          $('#after_solution_2_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>').html(translate_solution('<%= tabletinterview.after_solution_2 %>'));

          //세럼 한글 변경
          $('#before_serum_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>').html(translate_serum('<%= tabletinterview.before_serum %>'));
          $('#after_serum_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>').html(translate_serum('<%= tabletinterview.after_serum %>'));

          //앰플 한글 변경
          $('#before_ampoule_1_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>').html(translate_ampoule('<%= tabletinterview.before_ample_1 %>'));
          $('#after_ampoule_1_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>').html(translate_ampoule('<%= tabletinterview.after_ample_1 %>'));
          $('#before_ampoule_2_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>').html(translate_ampoule('<%= tabletinterview.before_ample_2 %>'));
          $('#after_ampoule_2_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>').html(translate_ampoule('<%= tabletinterview.after_ample_2 %>'));

          //제품 한글 변경
          $('#before_made_cosmetic_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>').html(translate_serum('<%= tabletinterview.before_made_cosmetic %>') + "Ex");
          $('#after_made_cosmetic_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>').html(translate_serum('<%= tabletinterview.after_made_cosmetic %>') + "Ex");

        });

        function translate_skin_type(value){
            var skin_type = ""
            console.log(value);
            try{
              if(value.includes("skin_type_gunsung"))
                skin_type = "건성";
              else if(value.includes("skin_type_gun_boggab"))
                skin_type = "건복합성";
              else if(value.includes("skin_type_jisung"))
                skin_type = "지성";
              else if(value.includes("skin_type_jisung_boghab"))
                skin_type = "지복합성";
              else if(value.includes("skin_type_jungsung"))
                skin_type = "중성";

              if(value.includes("senstive"))
                skin_type = skin_type + " (민감성)";
            }catch(err){
              console.log(err);
              return value;
            }

            console.log(skin_type);
            return skin_type;
        }

        function translate_solution(value){
            try{
              if(value == "elasticity solution")
                return "탄력 솔루션";
              else if(value == "pigment solution")
                return "색소침착 솔루션";
              else if(value == "pore solution")
                return "모공 솔루션";
              else if(value == "trouble solution")
                return "트러블 솔루션";
              else if(value == "wrinkle solution")
                return "주름 솔루션";
              else
                return value;
            }catch(err){
              console.log(err);
              return value;
            }
        }

        function translate_serum(value){
            try{
              if(value.includes("deep humect"))
                return "딥 휴멕트 세럼";
              else if(value.includes("skin control"))
                return "스킨 컨트롤 세럼";
              else if(value.includes("rebalencing"))
                return "리밸런싱 세럼";
              else
                return value;
            }catch(err){
              console.log(err);
              return value;
            }
        }

        function translate_ampoule(value){
            try{
              if(value == "pore clinic ampoule")
                return "포어클리닉 앰플";
              else if(value == "carming ampoule")
                return "카밍 앰플";
              else if(value == "luminus ampoule")
                return "루미너스 앰플";
              else if(value == "regenerating ampoule")
                return "리제네레이팅 앰플";
              else if(value == "perming ampoule")
                return "퍼밍 앰플";
              else
                return value;
            }catch(err){
              console.log(err);
              return value;
            }
        }

        function decode_utf8(s) {
          try{
            return decodeURI(s);
          }catch(err){
            console.log(err);
            return s;
          }
        }
      </script>
    </head>
    <body>
      <div style="display:table; height:150px; width: 100%; float:left; background: #cecece; margin: 2px; padding: 8px;">
        <% custinfo = Custinfo.where(custserial: tabletinterview.custserial).first %>
        <font size="4"><div id="name_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>"></div></font>
        시리얼 : <%= tabletinterview.custserial.to_i %> / 진단 날짜 : <%= tabletinterview.uptdate %><br>
        피부타입 : <font id="skin_type_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>"></font> <br>
        진단으로 나온 솔루션 1 : <font id="before_solution_1_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>"></font> / 최종으로 선택된 솔루션 1 : <font id="after_solution_1_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>"></font>  <br>
        진단으로 나온 솔루션 2 : <font id="before_solution_2_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>"></font> / 최종으로 선택된 솔루션 2 : <font id="after_solution_2_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>"></font>  <br>
        진단으로 나온 세럼 : <font id="before_serum_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>"></font> / 최종으로 선택된 세럼 : <font id="after_serum_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>"></font>  <br>
        진단으로 나온 앰플 1 : <font id="before_ampoule_1_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>"></font> / 최종으로 선택된 앰플 1 : <font id="after_ampoule_1_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>"></font>  <br>
        진단으로 나온 앰플 2 : <font id="before_ampoule_2_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>"></font> / 최종으로 선택된 앰플 2 : <font id="after_ampoule_2_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>"></font>  <br>
        진단으로 나온 화장품 : <font id="before_made_cosmetic_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>"></font> / 최종으로 선택된 화장품 : <font id="after_made_cosmetic_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>"></font>  <br>
      </div>
    </body>
</html>
