<!DOCTYPE html>
<html>
    <head>
      <script type="text/javascript" src="../js/jquery.js"></script>
      <script type="text/javascript" src="../js/bootstrap.js"></script>

      <link href="../css/bootstrap.min.css" rel="stylesheet">

      <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
      <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

      <script>
        $(function () {
          <% user = Custinfo.where(custserial: tabletinterview.custserial).first %>
          try
          {
            var userName = decode_utf8('<%= user.custname %>')
            tempUserName = ""
            if (userName.length == 2){
              tempUserName += userName.slice(0, 1)
              tempUserName += "*"
            } else {
              for(var i = 0; i < userName.length; i++){
                if(i == 0)
                  tempUserName += userName.slice(0, 1)
                else if(i == userName.length - 1)
                  tempUserName += userName.slice(userName.length - 1, userName.length)
                else
                  tempUserName += "*"
              }
            }
            $('#name_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').append(tempUserName);
          }
          catch(err)
          {
            <% if !tabletinterview.fcdata_id.nil? %>
              $('#name_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').append(tempUserName);
            <% else %>
              $('#name_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.measureno %>').append(tempUserName);
            <% end %>
          }

          //피부타입 한글로 변경
          $('#skin_type_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').html(translate_skin_type('<%= tabletinterview.skin_type %>'));

          //솔루션 한글로 변경
          <% if !tabletinterview.before_solution_1_new.nil? %>
            $('#before_solution_1_new_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id.to_i %>').html(translate_solution('<%= tabletinterview.before_solution_1_new %>'));
          <% else %>
            $('#before_solution_1_new_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id.to_i %>').html("-");
          <% end %>
          <% if !tabletinterview.before_solution_2_new.nil? %>
            $('#before_solution_2_new_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id.to_i %>').html(translate_solution('<%= tabletinterview.before_solution_2_new %>'));
          <% else %>
            $('#before_solution_2_new_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id.to_i %>').html("-");
          <% end %>

          <% if !tabletinterview.before_solution_1.nil? %>
            $('#before_solution_1_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').html(translate_solution('<%= tabletinterview.before_solution_1 %>'));
          <% else %>
            $('#before_solution_1_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').html("");
          <% end %>
          <% if !tabletinterview.before_solution_2.nil? %>
            $('#before_solution_2_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').html(translate_solution('<%= tabletinterview.before_solution_2 %>'));
          <% else %>
            $('#before_solution_2_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').html("");
          <% end %>

          <% if !tabletinterview.after_solution_1.nil? %>
            $('#after_solution_1_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').html(translate_solution('<%= tabletinterview.after_solution_1 %>'));
          <% else %>
            $('#after_solution_1_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').html("");
          <% end %>
          <% if !tabletinterview.after_solution_2.nil? %>
            $('#after_solution_2_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').html(translate_solution('<%= tabletinterview.after_solution_2 %>'));
          <% else %>
            $('#after_solution_2_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').html("");
          <% end %>

          //세럼 한글 변경
          <% if !tabletinterview.before_serum.nil? %>
            $('#before_serum_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').html(translate_serum('<%= tabletinterview.before_serum %>'));
          <% else %>
            $('#before_serum_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').html("");
          <% end %>
          <% if !tabletinterview.before_serum.nil? %>
            $('#after_serum_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').html(translate_serum('<%= tabletinterview.after_serum %>'));
          <% else %>
            $('#after_serum_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').html("");
          <% end %>

          //앰플 한글 변경
          <% if !tabletinterview.before_ample_1.nil? %>
            $('#before_ampoule_1_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').html(translate_ampoule('<%= tabletinterview.before_ample_1 %>'));
          <% else %>
            $('#before_ampoule_1_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').html("");
          <% end %>
          <% if !tabletinterview.after_ample_1.nil? %>
            $('#after_ampoule_1_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').html(translate_ampoule('<%= tabletinterview.after_ample_1 %>'));
          <% else %>
            $('#after_ampoule_1_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').html("");
          <% end %>
          <% if !tabletinterview.before_ample_2.nil? %>
            $('#before_ampoule_2_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').html(translate_ampoule('<%= tabletinterview.before_ample_2 %>'));
          <% else %>
            $('#before_ampoule_2_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').html("");
          <% end %>
          <% if !tabletinterview.after_ample_2.nil? %>
            $('#after_ampoule_2_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').html(translate_ampoule('<%= tabletinterview.after_ample_2 %>'));
          <% else %>
            $('#after_ampoule_2_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').html("");
          <% end %>

          //제품 한글 변경
          <% if !tabletinterview.before_made_cosmetic.nil? %>
            $('#before_made_cosmetic_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').html(translate_serum('<%= tabletinterview.before_made_cosmetic %>')+ "Ex");
          <% else %>
            $('#before_made_cosmetic_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').html("");
          <% end %>
          <% if !tabletinterview.after_made_cosmetic.nil? %>
            $('#after_made_cosmetic_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').html(translate_serum('<%= tabletinterview.after_made_cosmetic %>')+ "Ex");
          <% else %>
            $('#after_made_cosmetic_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>').html("");
          <% end %>
        });

        function decode_utf8(s) {
          return decodeURI(s);
        }

        function translate_skin_type(value){
            var skin_type = ""
            console.log(value);
            try{
              if(value.includes("skin_type_gunsung"))
                skin_type = "건성";
              else if(value.includes("skin_type_gun_boggab"))
                skin_type = "건복합성";
              else if(value.includes("skin_type_jisung_boghab"))
                skin_type = "지복합성";
              else if(value.includes("skin_type_jisung"))
                skin_type = "지성";
              else if(value.includes("skin_type_jungsung"))
                skin_type = "중성";

              if(value.includes("senstive"))
                skin_type = skin_type + " (민감성)";
            }catch(err){
              console.log(err);
              return value;
            }

            console.log(skin_type);
            return skin_type;
        }

        function translate_solution(value){
            try{
              if(value == "elasticity solution")
                return "탄력 솔루션";
              else if(value == "pigment solution")
                return "색소침착 솔루션";
              else if(value == "pore solution")
                return "모공 솔루션";
              else if(value == "trouble solution")
                return "트러블 솔루션";
              else if(value == "wrinkle solution")
                return "주름 솔루션";
              else
                return value;
            }catch(err){
              console.log(err);
              return value;
            }
        }

        function translate_serum(value){
            try{
              if(value.includes("deep humect"))
                return "딥 휴멕트 세럼";
              else if(value.includes("skin control"))
                return "스킨 컨트롤 세럼";
              else if(value.includes("rebalencing"))
                return "리밸런싱 세럼";
              else
                return value;
            }catch(err){
              console.log(err);
              return value;
            }
        }

        function translate_ampoule(value){
            try{
              if(value == "pore clinic ampoule")
                return "포어클리닉 앰플";
              else if(value == "carming ampoule")
                return "카밍 앰플";
              else if(value == "luminus ampoule")
                return "루미너스 앰플";
              else if(value == "regenerating ampoule")
                return "리제네레이팅 앰플";
              else if(value == "perming ampoule")
                return "퍼밍 앰플";
              else
                return value;
            }catch(err){
              console.log(err);
              return value;
            }
        }

      </script>
    </head>
    <body>
      <% custinfo = Custinfo.where(custserial: tabletinterview.custserial).first %>
      <tr class="table_tr" id="<%= custinfo.custserial.to_i %>/<%= tabletinterview.ch_cd %>/<%= tabletinterview.fcdata_id %>">
        <td id="name_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
        <td class="text-center"><%= tabletinterview.custserial.to_i %></td>
        <td><%= tabletinterview.ch_cd %></td>
        <td><%= tabletinterview.uptdate %></td>
        <td><%= tabletinterview.fcdata_id %></td>
        <td><%= custinfo.birthyy %>-<%= custinfo.birthmm %>-<%= custinfo.birthdd %></td>
        <% if @select_filter != [] %>
          <% @select_filter.each do |filter| %>
            <% fcdata = Fcdata.where(custserial: tabletinterview.custserial).where(measureno: tabletinterview.fcdata_id).first %>
            <% if !fcdata.nil? %>
              <% fcdata = fcdata.to_api_hash_for_admin %>
            <% end %>
            <% if filter.include?("skin_type") %>
              <td class="text-center" id="skin_type_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
            <% elsif filter.include?("before_solution_1_new") %>
              <td class="text-center" id="before_solution_1_new_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
            <% elsif filter.include?("before_solution_2_new") %>
              <td class="text-center" id="before_solution_2_new_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
            <% elsif filter.include?("before_solution_1") %>
              <td class="text-center" id="before_solution_1_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
            <% elsif filter.include?("before_solution_2") %>
              <td class="text-center" id="before_solution_2_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
            <% elsif filter.include?("after_solution_1") %>
              <td class="text-center" id="after_solution_1_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
            <% elsif filter.include?("after_solution_2") %>
              <td class="text-center" id="after_solution_2_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
            <% elsif filter.include?("before_serum") %>
              <td class="text-center" id="before_serum_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
            <% elsif filter.include?("after_serum") %>
              <td class="text-center" id="after_serum_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
            <% elsif filter.include?("before_ample_1") %>
              <td class="text-center" id="before_ampoule_1_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
            <% elsif filter.include?("after_ample_1") %>
              <td class="text-center" id="after_ampoule_1_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
            <% elsif filter.include?("before_ample_2") %>
              <td class="text-center" id="before_ampoule_2_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
            <% elsif filter.include?("after_ample_2") %>
              <td class="text-center" id="after_ampoule_2_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
            <% elsif filter.include?("before_made_cosmetic") %>
              <td class="text-center" id="before_made_cosmetic_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
            <% elsif filter.include?("after_made_cosmetic") %>
              <td class="text-center" id="after_made_cosmetic_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
              <% elsif filter.include?("after_made_cosmetic") %>
                <td class="text-center" id="after_made_cosmetic_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>

            <% elsif filter.include?("is_quick_mode") %>
              <% if !tabletinterview.is_quick_mode.nil? %>
                <% if tabletinterview.is_quick_mode == "T" %>
                  <% is_quick_mode = "O" %>
                <% else %>
                  <% is_quick_mode = "X" %>
                <% end %>
              <% else %>
                <% is_quick_mode = "-" %>
              <% end %>
              <td><%= is_quick_mode %></td>
            <% elsif filter.include?("base_lot") %>
              <% if !tabletinterview.base_lot.nil? && tabletinterview.base_lot != "null" %>
                <% base_lot = URI.decode(tabletinterview.base_lot) %>
              <% else %>
                <% base_lot = "-" %>
              <% end %>
              <td><%= base_lot %></td>
            <% elsif filter.include?("ampoule_1_lot") %>
              <% if !tabletinterview.ampoule_1_lot.nil? && tabletinterview.ampoule_1_lot != "null" %>
                <% ampoule_1_lot = URI.decode(tabletinterview.ampoule_1_lot) %>
              <% else %>
                <% ampoule_1_lot = "-" %>
              <% end %>
              <td><%= ampoule_1_lot %></td>
            <% elsif filter.include?("ampoule_1_lot") %>
              <% if !tabletinterview.ampoule_2_lot.nil? && tabletinterview.ampoule_2_lot != "null" %>
                <% ampoule_2_lot = URI.decode(tabletinterview.ampoule_2_lot) %>
              <% else %>
                <% ampoule_2_lot = "-" %>
              <% end %>
              <td><%= ampoule_2_lot %></td>

            <% elsif !fcdata.nil? && filter.include?("pr_graph") %>
              <td class="text-center"><%= 5-fcdata[:pr_graph].to_i %></td>
            <% elsif !fcdata.nil? && filter.include?("sb_graph") %>
              <td class="text-center"><%= 5-fcdata[:sb_graph].to_i %></td>
            <% elsif !fcdata.nil? && filter.include?("pp_graph") %>
              <td class="text-center"><%= 5-fcdata[:pp_graph].to_i %></td>
            <% elsif !fcdata.nil? && filter.include?("wr_graph") %>
              <td class="text-center"><%= 5-fcdata[:wr_graph].to_i %></td>
            <% elsif !fcdata.nil? && filter.include?("el_graph") %>
              <td class="text-center"><%= 5-fcdata[:el_graph].to_i %></td>
            <% else %>
              <td class="text-center"><%= tabletinterview[filter].to_i %></td>
            <% end %>
          <% end %>
        <% else %>
          <td><%= tabletinterview.a_1.to_i if tabletinterview.a_1.to_i != -1 %></td>
          <td><%= tabletinterview.a_2.to_i if tabletinterview.a_2.to_i != -1 %></td>
          <td><%= tabletinterview.a_3.to_i if tabletinterview.a_3.to_i != -1 %></td>
          <td><%= tabletinterview.b_1.to_i if tabletinterview.b_1.to_i != -1 %></td>
          <td><%= tabletinterview.b_2.to_i if tabletinterview.b_2.to_i != -1 %></td>
          <td><%= tabletinterview.b_3.to_i if tabletinterview.b_3.to_i != -1 %></td>
          <td><%= tabletinterview.b_4.to_i if tabletinterview.b_4.to_i != -1 %></td>
          <td><%= tabletinterview.c_1.to_i if tabletinterview.c_1.to_i != -1 %></td>
          <td><%= tabletinterview.d_1.to_i if tabletinterview.d_1.to_i != -1 %></td>
          <td><%= tabletinterview.d_2.to_i if tabletinterview.d_2.to_i != -1 %></td>
          <td><%= tabletinterview.d_3.to_i if tabletinterview.d_3.to_i != -1 %></td>
          <td><%= tabletinterview.d_4.to_i if tabletinterview.d_4.to_i != -1 %></td>
          <td><%= tabletinterview.d_5.to_i if tabletinterview.d_5.to_i != -1 %></td>
          <td><%= tabletinterview.d_6.to_i if tabletinterview.d_6.to_i != -1 %></td>
          <td><%= tabletinterview.d_7.to_i if tabletinterview.d_7.to_i != -1 %></td>
          <td><%= tabletinterview.d_8.to_i if tabletinterview.d_8.to_i != -1 %></td>
          <td><%= tabletinterview.d_9.to_i if tabletinterview.d_9.to_i != -1 %></td>
          <td><%= tabletinterview.d_10.to_i if tabletinterview.d_10.to_i != -1 %></td>
          <td id="skin_type_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
          <td id="before_solution_1_new_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id.to_i %>"></td>
          <td id="before_solution_2_new_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id.to_i %>"></td>
          <td id="before_solution_1_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
          <td id="before_solution_2_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
          <td id="after_solution_1_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
          <td id="after_solution_2_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
          <td id="before_serum_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
          <td id="after_serum_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
          <td id="before_ampoule_1_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
          <td id="after_ampoule_1_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
          <td id="before_ampoule_2_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
          <td id="after_ampoule_2_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
          <td id="before_made_cosmetic_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>
          <td id="after_made_cosmetic_<%= tabletinterview.custserial.to_i %>_<%= tabletinterview.ch_cd %>_<%= tabletinterview.fcdata_id %>"></td>

          <% if !tabletinterview.is_quick_mode.nil? %>
            <% if tabletinterview.is_quick_mode == "T" %>
              <% is_quick_mode = "O" %>
            <% else %>
              <% is_quick_mode = "X" %>
            <% end %>
          <% else %>
            <% is_quick_mode = "-" %>
          <% end %>
          <td><%= is_quick_mode %></td>

          <% if !tabletinterview.base_lot.nil? && tabletinterview.base_lot != "null" %>
            <% base_lot = URI.decode(tabletinterview.base_lot) %>
          <% else %>
            <% base_lot = "-" %>
          <% end %>
          <td><%= base_lot %></td>

          <% if !tabletinterview.ampoule_1_lot.nil? && tabletinterview.ampoule_1_lot != "null" %>
            <% ampoule_1_lot = URI.decode(tabletinterview.ampoule_1_lot) %>
          <% else %>
            <% ampoule_1_lot = "-" %>
          <% end %>
          <td><%= ampoule_1_lot %></td>

          <% if !tabletinterview.ampoule_2_lot.nil? && tabletinterview.ampoule_2_lot != "null" %>
            <% ampoule_2_lot = URI.decode(tabletinterview.ampoule_2_lot) %>
          <% else %>
            <% ampoule_2_lot = "-" %>
          <% end %>
          <td><%= ampoule_2_lot %></td>

          <% fcdata = Fcdata.where(custserial: tabletinterview.custserial).where(measureno: tabletinterview.fcdata_id).first %>
          <% if !fcdata.nil? %>
            <% fcdata = fcdata.to_api_hash_for_admin %>
            <td class="text-center"><%= 5-fcdata[:pr_graph].to_i %></td>
            <td class="text-center"><%= 5-fcdata[:sb_graph].to_i %></td>
            <td class="text-center"><%= 5-fcdata[:pp_graph].to_i %></td>
            <td class="text-center"><%= 5-fcdata[:wr_graph].to_i %></td>
            <td class="text-center"><%= 5-fcdata[:el_graph].to_i %></td>
          <% end %>
        <% end %>
      </tr>

    </body>
</html>
