<html>
  <head>
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.js"></script>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

    <script>
    $ (function () {
        <% user = Custinfo.where(custserial: @tabletinterview.custserial).first %>
        try
        {
          $('#name_<%= @tabletinterview.custserial.to_i %>').append( decode_utf8('<%= user.custname %>'));
        }
        catch(err)
        {
          $('#name_<%= @tabletinterview.custserial.to_i %>').append('<%= user.custname %>');
        }

        // 메모 인코딩
        try
        {
          $('#memo_<%= @tabletinterview.custserial.to_i %>').append( decode_utf8('<%= @tabletinterview.memo %>'));
        }
        catch(err)
        {
          $('#memo_<%= @tabletinterview.custserial.to_i %>').append('<%= @tabletinterview.memo %>');
        }

        //피부타입 한글로 변경
        $('#skin_type_<%= @tabletinterview.custserial.to_i %>_<%= @tabletinterview.ch_cd %>_<%= @tabletinterview.fcdata_id %>').html(translate_skin_type('<%= @tabletinterview.skin_type %>'));

        //솔루션 한글로 변경
        $('#before_solution_1_<%= @tabletinterview.custserial.to_i %>_<%= @tabletinterview.ch_cd %>_<%= @tabletinterview.fcdata_id %>').html(translate_solution('<%= @tabletinterview.before_solution_1 %>'));
        $('#after_solution_1_<%= @tabletinterview.custserial.to_i %>_<%= @tabletinterview.ch_cd %>_<%= @tabletinterview.fcdata_id %>').html(translate_solution('<%= @tabletinterview.after_solution_1 %>'));

        $('#before_solution_2_<%= @tabletinterview.custserial.to_i %>_<%= @tabletinterview.ch_cd %>_<%= @tabletinterview.fcdata_id %>').html(translate_solution('<%= @tabletinterview.before_solution_2 %>'));
        $('#after_solution_2_<%= @tabletinterview.custserial.to_i %>_<%= @tabletinterview.ch_cd %>_<%= @tabletinterview.fcdata_id %>').html(translate_solution('<%= @tabletinterview.after_solution_2 %>'));

        <% if !@tabletinterview.before_overlap.nil? %>
          $('#before_overlap_<%= @tabletinterview.custserial.to_i %>_<%= @tabletinterview.ch_cd %>_<%= @tabletinterview.fcdata_id.to_i %>').html(translate_solution('<%= @tabletinterview.before_overlap %>'));
        <% else %>
          $('#before_overlap_<%= @tabletinterview.custserial.to_i %>_<%= @tabletinterview.ch_cd %>_<%= @tabletinterview.fcdata_id.to_i %>').html("-");
        <% end %>
        <% if !@tabletinterview.after_overlap.nil? %>
          $('#after_overlap_<%= @tabletinterview.custserial.to_i %>_<%= @tabletinterview.ch_cd %>_<%= @tabletinterview.fcdata_id.to_i %>').html(translate_solution('<%= @tabletinterview.after_overlap %>'));
        <% else %>
          $('#after_overlap_<%= @tabletinterview.custserial.to_i %>_<%= @tabletinterview.ch_cd %>_<%= @tabletinterview.fcdata_id.to_i %>').html("-");
        <% end %>

        $(document).on("click", ".edit-tablet", function (e) {
          var userId = $(this).attr('id').split("/")[0]
          var ch_cd = $(this).attr('id').split("/")[1]
          var fcdata_id = $(this).attr('id').split("/")[2]
          location.href = "/admin/tabletinterview/cnpr_edit?userId=" +userId+ "&ch_cd=" +ch_cd+ "&fcdata_id=" +fcdata_id;
        });
      });

      function decode_utf8(s) {
        return decodeURI(s);
      }

      function translate_skin_type(value){
          var skin_type = ""
          console.log(value);
          try{
            if(value.includes("skin_type_gunsung"))
              skin_type = "건성";
            else if(value.includes("skin_type_gun_boggab"))
              skin_type = "건복합성";
            else if(value.includes("skin_type_jisung"))
              skin_type = "지성";
            else if(value.includes("skin_type_jisung_boghab"))
              skin_type = "지복합성";
            else if(value.includes("skin_type_jungsung"))
              skin_type = "중성";

            if(value.includes("senstive"))
              skin_type = skin_type + " (민감성)";
          }catch(err){
            console.log(err);
            return value;
          }

          console.log(skin_type);
          return skin_type;
      }

      function translate_solution(value){
          try{
            if(value == "elasticity solution")
              return "탄력 솔루션";
            else if(value == "pigment solution")
              return "색소침착 솔루션";
            else if(value == "pore solution")
              return "모공 솔루션";
            else if(value == "trouble solution")
              return "트러블 솔루션";
            else if(value == "wrinkle solution")
              return "주름 솔루션";
            else
              return value;
          }catch(err){
            console.log(err);
            return value;
          }
      }

      function translate_serum(value){
          try{
            if(value.includes("deep humect"))
              return "딥 휴멕트 세럼";
            else if(value.includes("skin control"))
              return "스킨 컨트롤 세럼";
            else if(value.includes("rebalencing"))
              return "리밸런싱 세럼";
            else
              return value;
          }catch(err){
            console.log(err);
            return value;
          }
      }

      function translate_ampoule(value){
          try{
            if(value == "pore clinic ampoule")
              return "포어클리닉 앰플";
            else if(value == "carming ampoule")
              return "카밍 앰플";
            else if(value == "luminus ampoule")
              return "루미너스 앰플";
            else if(value == "regenerating ampoule")
              return "리제네레이팅 앰플";
            else if(value == "perming ampoule")
              return "퍼밍 앰플";
            else
              return value;
          }catch(err){
            console.log(err);
            return value;
          }
      }

    </script>
  </head>

  <body style="padding: 10px;">
    <div style="display:inline;">
      <h2 style="float:left; width:45%;">태블릿 인터뷰 정보</h2>
      <div style="float:right; width:45%; margin-top:30px;">
      </div>
    </div><br>

    <% user = Custinfo.where(custserial: @tabletinterview.custserial).first %>
    <div style="display:table; height:50px; width: 100%; float:left; background: #cecece; margin: 2px; padding: 8px;">
      <% custinfo = Custinfo.where(custserial: @tabletinterview.custserial).first %>
      <font size="4"><div id="name_<%= @tabletinterview.custserial.to_i %>"></div></font>
      <font size="2">시리얼: <%= @tabletinterview.custserial.to_i %> / 진단 날짜: <%= @tabletinterview.uptdate %> / 채널: <%= custinfo.ch_cd %><br>
      <font style="float:left;">피부타입: </font><div style="float:left;" id="skin_type_<%= @tabletinterview.custserial.to_i %>_<%= @tabletinterview.ch_cd %>_<%= @tabletinterview.fcdata_id %>"></div><br>
      진단으로 나온 솔루션 1: <font id="before_solution_1_<%= @tabletinterview.custserial.to_i %>_<%= @tabletinterview.ch_cd %>_<%= @tabletinterview.fcdata_id %>"></font><br>
      최종으로 선택된 솔루션 1: <font id="after_solution_1_<%= @tabletinterview.custserial.to_i %>_<%= @tabletinterview.ch_cd %>_<%= @tabletinterview.fcdata_id %>"></font><br>
      진단으로 나온 솔루션 2: <font id="before_solution_2_<%= @tabletinterview.custserial.to_i %>_<%= @tabletinterview.ch_cd %>_<%= @tabletinterview.fcdata_id %>"></font><br>
      최종으로 선택된 솔루션 2: <font id="after_solution_2_<%= @tabletinterview.custserial.to_i %>_<%= @tabletinterview.ch_cd %>_<%= @tabletinterview.fcdata_id %>"></font><br>
      맞춤제품 Step1: <%= URI.decode(@tabletinterview.recommand_program_step_1).gsub("+"," ") %><br>
      맞춤제품 Step2: <%= URI.decode(@tabletinterview.recommand_program_step_1).gsub("+"," ") %><br>
      맞춤제품 Step3: <%= URI.decode(@tabletinterview.recommand_program_step_1).gsub("+"," ") %><br>
      <% if !@tabletinterview.purchase1.nil? %>
        <% purchase1 = URI.decode(@tabletinterview.purchase1).gsub("+"," ") %>
      <% else %>
        <% purchase1 = "-" %>
      <% end %>
      <% if !@tabletinterview.purchase2.nil? %>
        <% purchase2 = URI.decode(@tabletinterview.purchase2).gsub("+"," ") %>
      <% else %>
        <% purchase2 = "-" %>
      <% end %>
      <% if !@tabletinterview.purchase3.nil? %>
        <% purchase3 = URI.decode(@tabletinterview.purchase3).gsub("+"," ") %>
      <% else %>
        <% purchase3 = "-" %>
      <% end %>
      구매제품 Step1: <%= purchase1 %><br>
      구매제품 Step2: <%= purchase2 %><br>
      구매제품 Step3: <%= purchase3 %><br>
      <font size="2"> A1: <%= @tabletinterview.a_1.to_i %> / A2: <%= @tabletinterview.a_2.to_i %> / A3: <%= @tabletinterview.a_3.to_i %><br>
      B1: <%= @tabletinterview.b_1.to_i %> / B2: <%= @tabletinterview.b_2.to_i %> / B3: <%= @tabletinterview.b_3.to_i %> / B4: <%= @tabletinterview.b_4.to_i %> / B5: <%= @tabletinterview.b_5.to_i %> / B6: <%= @tabletinterview.b_6.to_i %><br>
      C1: <%= @tabletinterview.c_1.to_i %><br>
      D1: <%= @tabletinterview.d_1.to_i %> / D2: <%= @tabletinterview.d_2.to_i %> / D3: <%= @tabletinterview.d_3.to_i %> / D4: <%= @tabletinterview.d_4.to_i %> / D5: <%= @tabletinterview.d_5.to_i %><br>
      D6: <%= @tabletinterview.d_6.to_i %> / D7: <%= @tabletinterview.d_7.to_i %> / D8: <%= @tabletinterview.d_8.to_i %> / D9: <%= @tabletinterview.d_9.to_i %> / D10: <%= @tabletinterview.d_10.to_i %> / D11: <%= @tabletinterview.d_11.to_i %><br>
      <% fcdata = Fcdata.where(custserial: @tabletinterview.custserial).where(measureno: @tabletinterview.fcdata_id).first %>
      <% if !fcdata.nil? %>
        <% fcdata = fcdata.to_api_hash %>
        [그래프] 모공 점수 : <%= fcdata[:pr_graph].to_i %> / 트러블 점수 : <%= fcdata[:sb_graph].to_i %> / 색소침착 점수 : <%= fcdata[:pp_graph].to_i %> / 주름 점수 : <%= fcdata[:wr_graph].to_i %> / 탄력 점수 : <%= fcdata[:el_graph].to_i %> / 건조 점수 : <%= fcdata[:mo_graph].to_i %><br>
      <% end %>
      턴오버 지수: <%= tabletinterview.turnover_value.to_i+1 %></td>
      각질 측정: <%= tabletinterview.corneous_value.to_i %></td>
      스트레스 지수: <%= tabletinterview.stress_value.to_i %></td>
      초기 중복샷: <font id="before_overlap_<%= @tabletinterview.custserial.to_i %>_<%= @tabletinterview.ch_cd %>_<%= @tabletinterview.fcdata_id %>"></font><br>
      최종 중복샷: <font id="after_overlap_<%= @tabletinterview.custserial.to_i %>_<%= @tabletinterview.ch_cd %>_<%= @tabletinterview.fcdata_id %>"></font><br>
      <font size="2">메모: </font><br>
      <div id="memo_<%= @tabletinterview.custserial.to_i %>"></div>
    </div>
  </body>
</html>
