<html>
  <head>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>

    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

    <script>
      $(function () {
        $(".top-list").css('color', '#9d9d9d');
        $("#point_feedback_list").css('color', 'hotpink');

        <% if @ch_cd != "" %>
          $('select[id="select_channel"]').val('<%= @ch_cd %>');
        <% end %>

        <% if @custserial != "" %>
          document.getElementById("custserial").value = '<%= @custserial %>'
        <% end %>

        <% if session[:admin_user] == "user" || (!session[:admin_user]['role'].nil? && session[:admin_user]['role'] == "admin") %>
          <% if !@shop_cd.nil? && @shop_cd != "" && %>
            document.getElementById("select_shop").value = '<%= @shop_cd %>'
          <% end %>

          <% if !@name.nil? && @name != "" %>
            document.getElementById("name").value = decode_utf8('<%= @name %>')
          <% end %>
        <% end %>

        $("#start_date").datepicker({
                    dateFormat: 'yy-mm-dd',
                    dayNamesMin: [
                        '일',
                        '월',
                        '화',
                        '수',
                        '목',
                        '금',
                        '토'
                    ],
                    monthNamesShort: [
                        '1월',
                        '2월',
                        '3월',
                        '4월',
                        '5월',
                        '6월',
                        '7월',
                        '8월',
                        '9월',
                        '10월',
                        '11월',
                        '12월'
                    ],
                    currentText: '오늘 날짜',
                    changeMonth: true
                });
            $("#end_date").datepicker({
                        dateFormat: 'yy-mm-dd',
                        dayNamesMin: [
                            '일',
                            '월',
                            '화',
                            '수',
                            '목',
                            '금',
                            '토'
                        ],
                        monthNamesShort: [
                            '1월',
                            '2월',
                            '3월',
                            '4월',
                            '5월',
                            '6월',
                            '7월',
                            '8월',
                            '9월',
                            '10월',
                            '11월',
                            '12월'
                        ],
                        currentText: '오늘 날짜',
                        changeMonth: true
                    });

          $("#date_init").click(function(){
            $("#start_date").datepicker('setDate', '2017-01-25');
            $("#end_date").datepicker('setDate', '<%= @today %>');
            // load();
          });

          $("#age_init").click(function(){
            document.getElementById("start_age").value = '14'
            document.getElementById("end_age").value = '<%= @max_age %>'
          });

          $("#start_date").datepicker('setDate', '2017-01-25');
          $("#end_date").datepicker('setDate', '<%= @end_date %>');

          // <% if !@start_age.nil? %>
          //   document.getElementById("start_age").value = '<%= @start_age %>'
          // <% else %>
          //   document.getElementById("start_age").value = '<%= @min_age %>'
          // <% end %>
          // <% if !@end_age.nil? %>
          //   document.getElementById("end_age").value = '<%= @end_age %>'
          // <% else %>
          //   document.getElementById("end_age").value = '<%= @max_age %>'
          // <% end %>

          <% if !@name.nil? %>
            document.getElementById("name").value = decode_utf8('<%= @name %>')
          <% end %>

          <% if !@sex.nil? %>
            $('select[id="select_sex"]').val('<%= @sex %>');
          <% end %>

          <% if !@select_interview.nil? %>
            $('select[id="select_interview"]').val('<%= @select_interview %>');
          <% end %>

          $('#submit').click(function(){
            load();
          });

          $(document).on("click", ".table_tr", function (e) {
            var userId = $(this).attr('id').split("/")[0]
            var after_interview_id = $(this).attr('id').split("/")[1]
            window.open("/admin/feedbacks/cnpr_detail?userId=" + userId +"&after_interview_id=" +after_interview_id , "/feedbacks/cnpr_detail?userId=" + userId +"&after_interview_id=" +after_interview_id, "scrollbars=1,resizable=1,height=500,width=600");
          });
      });

      function load(){
        var select_sex = document.getElementById("select_sex").options[document.getElementById("select_sex").selectedIndex].value;
        var select_interview = document.getElementById("select_interview").options[document.getElementById("select_interview").selectedIndex].value;
        var is_agree_thirdparty_info = []
        $('input:checkbox[name="is_agree_thirdparty_info"]').each(function() {
            if(this.checked){//checked 처리된 항목의 값
              is_agree_thirdparty_info.push(this.value)
            }
         });

        url = ""
        url += "/admin/feedback_list_cnpr?start_date=" + $('#start_date').val() + "&end_date=" + $('#end_date').val();
        url += "&sex=" + select_sex;
        url += "&start_age=" + document.getElementById("start_age").value;
        url += "&end_age=" + document.getElementById("end_age").value;
        url += "&select_interview=" + select_interview;
        url += "&name=" + encodeURI(encodeURI(document.getElementById("name").value));
        url += "&custserial=" +document.getElementById("custserial").value;
        url += "&is_agree_thirdparty_info=" +is_agree_thirdparty_info;

        if (document.getElementById("select_channel") != null) {
          var ch_cd = document.getElementById("select_channel").options[document.getElementById("select_channel").selectedIndex].value;
          url += "&select_channel=" +ch_cd;
          url += "&select_shop=" +$("#select_shop").val();
        }

        location.href = url;
      }

      function showDetail(userId, after_interview_id){
        window.open("/admin/feedbacks/cnpr_detail?userId=" + userId +"&after_interview_id=" +after_interview_id , "/feedbacks/detail?userId=" + userId +"&after_interview_id=" +after_interview_id, "scrollbars=1,resizable=1,height=500,width=600");
      }

      function decode_utf8(s) {
        try{
          return decodeURI(s);
        }catch(err){
          console.log(err);
          return s;
        }
      }
    </script>
    <style>
    .fixed-table-body {
      max-height: 250px;
    }

    th {
      margin: 0 auto;
      text-align: center !important;
    }

    td {
      width: auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    </style>
  </head>

  <body>
    <%= render "admin/header" %>

    <div id="filter" style="background: #b1cbbb; padding: 8px;">
      <div class="form-inline">
        <p style="float:left; margin-top: 7px;">진단 날짜: </p>
        <input class="form-control" type="text" id="start_date" style="width:100px; float:left;">
        <input class="form-control" type="text" id="end_date" style="width:100px; float:left;">
        <button id="date_init" class="btn btn-primary" style="float:left;">전체</button>
        <% if session[:admin_user] == "user" || (!session[:admin_user]['role'].nil? && session[:admin_user]['role'] == "admin") %>
          <p style="float:left; margin-left: 20px; margin-top: 7px;">채널: </p>
          <select class="form-control" id="select_channel" style="margin-left: 5px; float:left;">
            <option value="ALL">전체</option>
            <option value="CNPR">CNPR</option>
            <option value="RLAB">RLAB</option>
          </select>

          <p style="float:left; margin-left: 20px; margin-top: 7px;">매장 코드: </p>
          <input class="form-control" type="text" name="select_shop" id="select_shop" style="float:left; width: 200px;">
        <% end %>

        <p style="float:right; margin-right:20px;">
          Download:
          <%= link_to "Excel", admin_feedback_list_cnpr_path(format: "xlsx", :start_date => @start_date, :end_date => @end_date, :sex => @sex, :start_age => @start_age, :end_age => @end_age,
          :select_interview => @select_interview,
          :name => @name, :custserial => @custserial, :isExcel => true, :select_channel => @ch_cd, :select_shop => @shop_cd, :is_agree_thirdparty_info => @is_agree_thirdparty_info) %>
        </p>
      </div><br><br>
      <div class="form-inline">
        이름 :
        <input class="form-control" type="text" id="name" style="width:100px;">

        시리얼 :
        <input class="form-control" type="text" id="custserial" style="width:100px;">

        유형 :
        <select class="form-control" id="select_interview">
          <option value="all">전체</option>
          <option value="today">당일</option>
          <option value="2weeks_ago">2주차</option>
          <option value="3months_ago">3개월차</option>
        </select>
      </div>

      <div class="form-inline" style="margin-top:10px;">
        성별 :
        <select class="form-control" id="select_sex">
          <option value="all">전체</option>
          <option value="F">여자</option>
          <option value="M">남자</option>
        </select>

        나이 :
        <input class="form-control" type="text" id="start_age" style="width:100px;">
        <input class="form-control" type="text" id="end_age" style="width:100px;">
        <button id="age_init" class="btn btn-primary">전체</button>
        <button class="btn btn-warning" id="submit" style="margin-left:10px;">조회</button>
      </div>
    </div>

    <div>
      <div>
        <div id="avr" style="background: #eea29a; padding: 8px;">
          총 인원 수 : <%= @count %> / 설문 1의 평균 점수 : <%= @average_a1 %> / 설문 2의 평균 점수 : <%= @average_a2 %> / 설문 3의 평균 점수 : <%= @average_a3 %>
          / 설문 4의 평균 점수 : <%= @average_a4 %> / 설문 5의 평균 점수 : <%= @average_a5 %> / 설문 6의 평균 점수 : <%= @average_a6 %><br>
        </div>

        <table data-toggle="table">
          <thead>
            <tr>
              <th>이름</th>
              <th>시리얼</th>
              <th>설문 날짜</th>
              <th>진단 날짜</th>
              <th>성별</th>
              <th>나이</th>
              <th>매장코드</th>
              <th>추천제품 Step1</th>
              <th>추천제품 Step2</th>
              <th>추천제품 Step3</th>
              <th>설문1</th>
              <th>설문1 기타의견</th>
              <th>설문2</th>
              <th>설문3</th>
              <th>설문4</th>
              <th>설문5</th>
              <th>설문6</th>
              <th>설문6 기타의견</th>
            </tr>
          </thead>
          <tbody>
            <% @after_interviews.each do |after_interview| %>
            <%= render partial: "admin/feedback/after_item_rx", locals: { after_interview: after_interview } %>
            <% end %>
          </tbody>
        </table>

        <div>
          <%= paginate @after_interviews %>
        </div>
      </div>
    </div>
  </body>
</html>
