<html>
  <head>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>

    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

    <script>
      $(function () {
        <% if @ch_cd != ""%>
          $('select[id="select_channel"]').val('<%= @ch_cd %>');
        <% end %>

        <% if @shop_cd != ""%>
          $('select[id="select_shop"]').val('<%= @shop_cd %>');
        <% end %>
        
        $("#datepicker").datepicker({
                    dateFormat: 'yy-mm-dd',
                    dayNamesMin: [
                        '일',
                        '월',
                        '화',
                        '수',
                        '목',
                        '금',
                        '토'
                    ],
                    monthNamesShort: [
                        '1월',
                        '2월',
                        '3월',
                        '4월',
                        '5월',
                        '6월',
                        '7월',
                        '8월',
                        '9월',
                        '10월',
                        '11월',
                        '12월'
                    ],
                    currentText: '오늘 날짜',
                    changeMonth: true
                });
          $("#datepicker").datepicker('setDate', '<%= @date %>');
          // $('#datepicker').change(function () {
          //     location.href = "/admin/feedback?date=" + $('#datepicker').val()
          // });

          $('#submit').click(function(){
            var ch_cd = document.getElementById("select_channel").options[document.getElementById("select_channel").selectedIndex].value;
            var shop_cd = document.getElementById("select_shop").options[document.getElementById("select_shop").selectedIndex].value;

            url = "/admin/feedback?date=" + $('#datepicker').val();
            url += "&select_channel=" +ch_cd
            url += "&select_shop=" +shop_cd
            location.href = url;
          });
      });

      function show_after_interview(after_interview_id, tablet_interview_id, custserial){
        window.open("/admin/after_interview?custserial=" + custserial + "&after_interview_id=" + after_interview_id + "&tablet_interview_id=" + tablet_interview_id, "/after_interview?custserial=" + custserial + "&after_interview_id=" + after_interview_id + "&tablet_interview_id=" + tablet_interview_id, "scrollbars=1,resizable=1,height=800,width=700");
      }

      function show_after_interview_1(after_interview_id, tablet_interview_id, custserial){
        window.open("/admin/after_interview_1?custserial=" + custserial + "&after_interview_id=" + after_interview_id + "&tablet_interview_id=" + tablet_interview_id, "/after_interview?custserial=" + custserial + "&after_interview_id=" + after_interview_id + "&tablet_interview_id=" + tablet_interview_id, "scrollbars=1,resizable=1,height=800,width=700");
      }

    </script>
  </head>

  <body>
    <%= render "admin/header" %>
    <div style="background: #b1cbbb; padding: 8px;">
      <input type="text" id="datepicker" style="float:left; width:200px; margin-top:5px;">
      <p style="float:left; margin-left: 20px; margin-top: 5px;">채널 :</p>
      <select class="form-control" id="select_channel" style="float:left; margin-left: 5px; width:200px;">
        <option value="ALL">ALL</option>
        <option value="CNP">CNP</option>
        <option value="MART">마트</option>
        <option value="NC">NC</option>
        <option value="BEAU">보떼</option>
        <option value="LABO">LABO</option>
        <option value="CLAB">CLAB</option>
      </select>
      <p style="float:left; margin-left: 20px; margin-top: 5px;">매장 이름 : </p>
      <select class="form-control" id="select_shop" style="float:left; width:200px;">
      <option id="LABO" value="ALL">ALL</option>
        <option id="LABO" value="1001">LG연구소</option>
        <option id="LABO" value="1002">젠스토리</option>
        <option id="LABO" value="1003">LG에스타워 보떼</option>
        <option id="CLAB" value="1004">LG에스타워 CNP</option>
        <option id="TMR" value="304639">NC 인천 올리브점</option>
        <option id="BEAU" value="505415">수지 상현점</option>
        <option id="BEAU" value="504130">파주 금촌점</option>
        <option id="MART" value="505488">홈플러스 월드컵점</option>
        <option id="TMR" value="304401">NC 안산 상록수점</option>
        <option id="CNP" value="59100">르메디바이씨앤피 이대점</option>
        <option id="TMR" value="304369">NC 신촌점</option>
      </select>
      <button style="margin-left: 10px;" class="btn btn-warning" id="submit">조회</button>
    </div>

    <div>
      <h4 style="background: #b1cbbb; padding: 8px;">당일 (<%= @date_today %>)</h4>
      <div>
        <% if !@is_admin_init %>
          <% @tablet_interviews_today.each do |tabletinterview| %>
            <%= render partial: "admin/feedback/item", locals: { tabletinterview: tabletinterview } %>
          <% end %>
        <% end %>
      </div>

      <h4 style="background: #b1cbbb; padding: 8px;">2주 후 (<%= @date_2weeks_ago %>)</h4>
      <div>
        <% if !@is_admin_init %>
          <% @tablet_interviews_2_weeks_ago.each do |tabletinterview| %>
            <%= render partial: "admin/feedback/item", locals: { tabletinterview: tabletinterview } %>
          <% end %>
        <% end %>
      </div>

      <h4 style="background: #b1cbbb; padding: 8px;">3개월 후 (<%= @date_3months_ago %>)</h4>
      <div>
        <% if !@is_admin_init %>
          <% @tablet_interviews_3_months_ago.each do |tabletinterview| %>
            <%= render partial: "admin/feedback/item", locals: { tabletinterview: tabletinterview } %>
          <% end %>
        <% end %>
      </div>
    </div>
  </body>
</html>
