<!DOCTYPE html>
<html>
    <head>
      <script type="text/javascript" src="../js/jquery.js"></script>
      <script type="text/javascript" src="../js/bootstrap.js"></script>

      <link href="../css/bootstrap.min.css" rel="stylesheet">

      <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
      <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

      <script>
        $(function () {
          <% user = Custinfo.find data.custserial.to_i %>
          try
          {
            var userName = decode_utf8('<%= user.custname %>')
            tempUserName = ""
            for(var i = 0; i < userName.length; i++){
              if(i == 0)
                tempUserName += userName.slice(0, 1)
              else if(i == userName.length - 1)
                tempUserName += userName.slice(userName.length - 1, userName.length)
              else
                tempUserName += "*"
            }
            $('#name_<%= user.custserial.to_i %>_<%= data.uptdate %>').append(tempUserName);
          }
          catch(err)
          {
            $('#name_<%= user.custserial.to_i %>_<%= data.uptdate %>').append('<%= user.custname %>');
          }

          try
          {
            var phone = '<%= user.phone %>'
            tempPhone = ""
            for(var i = 0; i < phone.length; i++){
              if(i == 0 || i == 1 || (i > phone.length - 5 && i != phone.length - 1))
                continue

              if(i == 2)
                tempPhone += phone.slice(0, 3)
              else if(i == phone.length - 1)
                tempPhone += phone.slice(phone.length - 4, phone.length)
              else
                tempPhone += "*"
            }
            $('#phone_<%= user.custserial.to_i %>_<%= data.uptdate %>').append(tempPhone);
          }
          catch(err)
          {
            $('#phone_<%= user.custserial.to_i %>_<%= data.uptdate %>').append('<%= user.phone %>');
          }
        });

        function decode_utf8(s) {
          try{
            return decodeURI(s);
          }catch(err){
            console.log(err);
            return s;
          }
        }
      </script>
    </head>
    <body>
      <% custinfo = Custinfo.where(custserial: data.custserial).first %>
      <div style="display:table; height:130px; width: 100%; float:left; background: #cecece; margin: 2px; padding: 8px;">
        <font size="4"><div id="name_<%= user.custserial.to_i %>_<%= data.uptdate %>"></div></font>
        <font size="2">채널구분: <%= user.ch_cd %> / 전면,좌,우측면: <%= data.faceno %> / 분석 일: <%= data.measuredate %> / 분석 횟수: <%= data.measureno.to_i %> / 업데이트 일: <%= data.uptdate %></font><br>
        <font size="2">이마 영역정보: <%= data.fh_x %> / <%= data.fh_y %> / <%= data.fh_w %> / <%= data.fh_h %></font><br>
        <font size="2">코 영역정보: <%= data.ns_x %> / <%= data.ns_y %> / <%= data.ns_w %> / <%= data.ns_h %></font><br>
        <font size="2">우측 눈가 영역정보: <%= data.res_x %> / <%= data.res_y %> / <%= data.res_w %> / <%= data.res_h %></font><br>
        <font size="2">우측 눈밑 영역정보: <%= data.reu_x %> / <%= data.reu_y %> / <%= data.reu_w %> / <%= data.reu_h %></font><br>
        <font size="2">좌측 눈가 영역정보: <%= data.les_x %> / <%= data.les_y %> / <%= data.les_w %> / <%= data.les_h %></font><br>
        <font size="2">좌측 눈밑 영역정보: <%= data.leu_x %> / <%= data.leu_y %> / <%= data.leu_w %> / <%= data.leu_h %></font><br>
        <font size="2">우측 볼 영역정보: <%= data.rs_x %> / <%= data.rs_y %> / <%= data.rs_w %> / <%= data.rs_h %></font><br>
        <font size="2">좌측 볼 영역정보: <%= data.ls_x %> / <%= data.ls_y %> / <%= data.ls_w %> / <%= data.ls_h %></font><br>
        <font size="2">우측눈 사각영역 정보: <%= data.rt_re_l %> / <%= data.rt_re_t %> / <%= data.rt_re_r %> / <%= data.rt_re_b %></font><br>
        <font size="2">좌측눈 사각영역 정보: <%= data.rt_le_l %> / <%= data.rt_le_t %> / <%= data.rt_le_r %> / <%= data.rt_le_b %></font><br>
        <font size="2">입 사각영역 정보: <%= data.rt_lip_l %> / <%= data.rt_lip_t %> / <%= data.rt_lip_r %> / <%= data.rt_lip_b %></font><br>
        <font size="2">우측 얼굴 끝 라인 좌표: <%= data.rt_res_x %> / <%= data.rt_res_y %></font><br>
        <font size="2">좌측 얼굴 끝 라인 좌표: <%= data.rt_les_x %> / <%= data.rt_les_y %></font><br>



      </div>
    </body>
</html>
