<html>
  <head>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>

    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

    <script>
    var filterStr = "";
    $(function () {
      $(document).keyup(function (e) {
          if ($("#search").is(":focus") && (e.keyCode == 13)) {
              console.log(encodeURI($("#search").val()));
              location.href = "/admin/fcpos_list?search=" + encodeURI(encodeURI($("#search").val()));
          }
      });
      if (encodeURI('<%= @search %>').length != 0) {
        $("#search").val(decode_utf8('<%= @search %>'));
      }

      $(document).on("click", ".table_tr", function (e) {
        var userId = $(this).attr('id').split("/")[0]
        var measureno = $(this).attr('id').split("/")[1]
        window.open("/admin/fcpos/detail?userId=" +userId+ "&measureno=" +measureno, "/admin/fcpos/detail?userId=" +userId+ "&measureno=" +measureno, "scrollbars=1,resizable=1,height=600,width=600");
      });

      $("input:checkbox[id='all_check']").prop("checked", true);
      $(document).on("click", "#all_check", function (e) {
        if (!$("input:checkbox[id='all_check']").is(":checked")){
          window.open("/admin/fcpos/filter_check", "/admin/fcpos/filter_check", "scrollbars=1,resizable=1,height=650,width=900");
        } else {
          filterStr = ""
        }
      });
    });

    function decode_utf8(s) {
      try{
        return decodeURI(s);
      }catch(err){
        console.log(err);
        return s;
      }
    }

    function show_all(){
      location.href = "/admin/fcpos_list";
    }

    function showDetail(userId, measureno){
      window.open("/admin/fcpos/detail?userId=" +userId+ "&measureno=" +measureno, "/admin/fcpos/detail?userId=" +userId+ "&measureno=" +measureno, "scrollbars=1,resizable=1,height=600,width=600");
    }

    $('#submit').click(function(){
      url = "/admin/fcpos_list?search=" + encodeURI(encodeURI($("#search").val()));
      url += "&select_filter=" +filterStr
      location.href = url;
    });

    function selectPosFilter(select_filter){
      filterStr = select_filter
    }

    </script>
    <style>
    .fixed-table-body {
      max-height: 280px;
    }

    .text-center {
        margin: 0 auto;
        text-align: center !important;
    }

    th {
      font-size: 15px;
    }

    td {
      font-size: 15px;
    }

    .width70 {
      min-width:70px
    }
    .width100 {
      min-width:100px
    }
    .width170 {
      min-width:170px
    }
    </style>
  </head>

  <body>
    <%= render "admin/header" %>

    <div style="background: #b1cbbb; padding: 8px;">
      <input type="text" name="search" id="search" placeholder="이름으로 검색" style="width: 200px;">
      <button class="btn btn-warning" id="submit">조회</button>
      <button class="btn btn-warning" id="show_all" onclick="show_all()">전체보기</button>
      <p style="float:right; margin-right:20px;">
        Download:
        <%= link_to "Excel", admin_fcpos_list_path(format: "xlsx", :search => @search, :select_filter => @params_filter, :isExcel => true) %>
      </p>
      <div class="form-inline">
       필터링 전체 선택: <input type="checkbox" id="all_check">
      </div>
    </div>

    <table data-toggle="table">
      <thead style="width: 100%;">
        <tr>
            <th class="width70 text-center">이름</th>
            <th>채널</th>
            <th>전면,좌,우측면</th>
            <th class="width170 text-center">분석 일</th>
            <th>분석 횟수</th>
            <th class="width100 text-center">업데이트 일</th>
            <th>이마 영역정보x</th>
            <th>이마 영역정보y</th>
            <th>이마 영역정보w</th>
            <th>이마 영역정보h</th>
            <th>코 영역정보x</th>
            <th>코 영역정보y</th>
            <th>코 영역정보w</th>
            <th>코 영역정보h</th>
            <th>우측 눈가 영역정보x</th>
            <th>우측 눈가 영역정보y</th>
            <th>우측 눈가 영역정보w</th>
            <th>우측 눈가 영역정보h</th>
            <th>우측 눈밑 영역정보x</th>
            <th>우측 눈밑 영역정보y</th>
            <th>우측 눈밑 영역정보w</th>
            <th>우측 눈밑 영역정보h</th>
            <th>좌측 눈가 영역정보x</th>
            <th>좌측 눈가 영역정보y</th>
            <th>좌측 눈가 영역정보w</th>
            <th>좌측 눈가 영역정보h</th>
            <th>좌측 눈밑 영역정보x</th>
            <th>좌측 눈밑 영역정보y</th>
            <th>좌측 눈밑 영역정보w</th>
            <th>좌측 눈밑 영역정보h</th>
            <th>우측 볼 영역정보x</th>
            <th>우측 볼 영역정보y</th>
            <th>우측 볼 영역정보w</th>
            <th>우측 볼 영역정보h</th>
            <th>좌측 볼 영역정보x</th>
            <th>좌측 볼 영역정보y</th>
            <th>좌측 볼 영역정보w</th>
            <th>좌측 볼 영역정보h</th>
            <th>우측눈 사각영역 정보l</th>
            <th>우측눈 사각영역 정보t</th>
            <th>우측눈 사각영역 정보r</th>
            <th>우측눈 사각영역 정보b</th>
            <th>좌측눈 사각영역 정보l</th>
            <th>좌측눈 사각영역 정보t</th>
            <th>좌측눈 사각영역 정보r</th>
            <th>좌측눈 사각영역 정보b</th>
            <th>입 사각영역 정보l</th>
            <th>입 사각영역 정보t</th>
            <th>입 사각영역 정보r</th>
            <th>입 사각영역 정보b</th>
            <th>우측 얼굴 끝 라인 좌표x</th>
            <th>우측 얼굴 끝 라인 좌표y</th>
            <th>좌측 얼굴 끝 라인 좌표x</th>
            <th>좌측 얼굴 끝 라인 좌표y</th>
        </tr>
      </thead>
      <tbody>
        <% @fcpos.each do |data| %>
          <%= render partial: "admin/pos/item", locals: { data: data } %>
        <% end %>
      </tbody>
    </table>
    <div>
      <%= paginate @fcpos %>
    </div>

  </body>
</html>
