<html>
  <head>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>

    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

    <script>
      $(function () {
        <% user = Custinfo.where(custserial: @after_interview.custserial).first %>
        <% fctabletinterview = Fctabletinterviewrx.where(custserial: @after_interview.custserial).where(tablet_interview_id: @after_interview.rx_tablet_interview_id).first %>

        try
        {
          $('#name_<%= user.custserial.to_i %>_<%= user.lastanaldate %>').append( decode_utf8('<%= user.custname %>'));
        }
        catch(err)
        {
          $('#name_<%= user.custserial.to_i %>_<%= user.lastanaldate %>').append('<%= user.custname %>');
        }

        try
        {
          $('#base_lot').append( (decode_utf8('<%= fctabletinterview.base_lot %>')).replace(/\+/g, " "));
          $('#ampoule_1_lot').append( (decode_utf8('<%= fctabletinterview.ampoule_1_lot %>')).replace(/\+/g, " "));
          $('#ampoule_2_lot').append( (decode_utf8('<%= fctabletinterview.ampoule_2_lot %>')).replace(/\+/g, " "));
        }
        catch(err)
        {
          // $('#name_<%= user.custserial.to_i %>_<%= user.lastanaldate %>').append('<%= user.custname %>');
        }

        try
        {
          var temp_memo = decode_utf8('<%= fctabletinterview.memo %>');
          temp_memo = temp_memo.replace(/\+/gi, " ");
          $('#memo_<%= user.custserial.to_i %>_<%= user.lastanaldate %>').append(temp_memo);
        }
        catch(err)
        {
          $('#memo_<%= user.custserial.to_i %>_<%= user.lastanaldate %>').append('<%= fctabletinterview.memo %>');
        }

        $('input[type="checkbox"]').on('change', function() {
            console.log("Changed " + this.id);

            if(this.id == "a1_6" && $('input[id="' + this.id + '"]').is(":checked")){
              document.getElementById("a1_6_text").disabled = false;
            }else{
              if(this.name.includes("group1")){
                document.getElementById("a1_6_text").value = "";
                document.getElementById("a1_6_text").disabled = true;
              }
            }
            $('input[name="' + this.name + '"]').not(this).prop('checked', false);

            if(this.id == "a3_6" && $('input[id="' + this.id + '"]').is(":checked")){
              document.getElementById("a3_6_text").disabled = false;
            }else{
              if(this.name.includes("group3")){
                document.getElementById("a3_6_text").value = "";
                document.getElementById("a3_6_text").disabled = true;
              }
            }
        });


        document.getElementById("a1_6_text").disabled = true;
        document.getElementById("a3_6_text").disabled = true;

        <% if !@after_interview.a1.nil? %>
          <% if @after_interview.a1 == 1 %>
            $('#a1_1').prop('checked', true);
          <% elsif @after_interview.a1 == 2 %>
            $('#a1_2').prop('checked', true);
          <% elsif @after_interview.a1 == 3 %>
            $('#a1_3').prop('checked', true);
          <% elsif @after_interview.a1 == 4 %>
            $('#a1_4').prop('checked', true);
          <% elsif @after_interview.a1 == 6 %>
            $('#a1_6').prop('checked', true);
            document.getElementById("a1_6_text").disabled = false;
          <% end %>

          <% if !@after_interview.a1_1.nil? %>
            document.getElementById("a1_6_text").value = "<%= @after_interview.a1_1.to_s.gsub(/\r\n/, " ") %>";
          <% end %>

          <% if @after_interview.a2 == 1 %>
            $('#a2_1').prop('checked', true);
          <% elsif @after_interview.a2 == 2 %>
            $('#a2_2').prop('checked', true);
          <% elsif @after_interview.a2 == 3 %>
            $('#a2_3').prop('checked', true);
          <% end %>

          <% if @after_interview.a3 == 1 %>
            $('#a3_1').prop('checked', true);
          <% elsif @after_interview.a3 == 2 %>
            $('#a3_2').prop('checked', true);
          <% elsif @after_interview.a3 == 6 %>
            $('#a3_6').prop('checked', true);
            document.getElementById("a3_6_text").disabled = false;
          <% end %>

          <% if !@after_interview.a3_1.nil? %>
            document.getElementById("a3_6_text").value = "<%= @after_interview.a3_1.to_s.gsub(/\r\n/, " ") %>";
          <% end %>

          <% if @after_interview.a4 == 1 %>
            $('#a4_1').prop('checked', true);
          <% elsif @after_interview.a4 == 2 %>
            $('#a4_2').prop('checked', true);
          <% elsif @after_interview.a4 == 3 %>
            $('#a4_3').prop('checked', true);
          <% elsif @after_interview.a4 == 4 %>
            $('#a4_4').prop('checked', true);
          <% end %>

          <% if @after_interview.a5 == 1 %>
            $('#a5_1').prop('checked', true);
          <% elsif @after_interview.a5 == 2 %>
            $('#a5_2').prop('checked', true);
          <% elsif @after_interview.a5 == 3 %>
            $('#a5_3').prop('checked', true);
          <% elsif @after_interview.a5 == 4 %>
            $('#a5_4').prop('checked', true);
          <% elsif @after_interview.a5 == 5 %>
            $('#a5_5').prop('checked', true);
          <% end %>

          <% if @after_interview.a6 == 1 %>
            $('#a6_1').prop('checked', true);
          <% elsif @after_interview.a6 == 2 %>
            $('#a6_2').prop('checked', true);
          <% elsif @after_interview.a6 == 3 %>
            $('#a6_3').prop('checked', true);
          <% end %>

          <% if !@after_interview.a7.nil? %>
            document.getElementById("a7").value = "<%= @after_interview.a7.to_s.gsub(/\r\n/, " ") %>";
          <% end %>
        <% end %>

        $('#delete').click(function(){
          var r = confirm("정말 삭제하시겠습니까?")
          if(r){
            var formData = new FormData($(this)[0]);
            formData.append("custserial", '<%= @after_interview.custserial.to_i %>');
            formData.append("tablet_interview_id", '<%= @after_interview.rx_tablet_interview_id.to_i %>');
            formData.append("after_interview_id", '<%= @after_interview.after_interview_id.to_i %>');
            formData.append("order", '<%= @after_interview.order.to_i %>');

            $.ajax({
                url: "/admin/rx_after_interview",
                type: 'DELETE',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (returndata) {
                  opener.location.reload();
                  window.close();
                },
                error: function (returndata) {}
            });
          }
        });

        $('#submit').click(function(){
            console.log("Click");

            var a1 = -1;
            if ($('#a1_1').is(":checked"))
              a1 = 1
            else if ($('#a1_2').is(":checked"))
              a1 = 2
            else if ($('#a1_3').is(":checked"))
              a1 = 3
            else if ($('#a1_4').is(":checked"))
              a1 = 4
            else if ($('#a1_6').is(":checked"))
              a1 = 6

            var a2 = -1;
            if ($('#a2_1').is(":checked"))
              a2 = 1
            else if ($('#a2_2').is(":checked"))
              a2 = 2
            else if ($('#a2_3').is(":checked"))
              a2 = 3

            var a3 = -1;
            if ($('#a3_1').is(":checked"))
              a3 = 1
            else if ($('#a3_2').is(":checked"))
              a3 = 2
            else if ($('#a3_6').is(":checked"))
              a3 = 6

            var a4 = -1;
            if ($('#a4_1').is(":checked"))
              a4 = 1
            else if ($('#a4_2').is(":checked"))
              a4 = 2
            else if ($('#a4_3').is(":checked"))
              a4 = 3
            else if ($('#a4_4').is(":checked"))
              a4 = 4

            var a5 = -1;
            if ($('#a5_1').is(":checked"))
              a5 = 1
            else if ($('#a5_2').is(":checked"))
              a5 = 2
            else if ($('#a5_3').is(":checked"))
              a5 = 3
            else if ($('#a5_4').is(":checked"))
              a5 = 4
            else if ($('#a5_5').is(":checked"))
              a5 = 5

            var a6 = -1;
            if ($('#a6_1').is(":checked"))
              a6 = 1
            else if ($('#a6_2').is(":checked"))
              a6 = 2
            else if ($('#a6_3').is(":checked"))
              a6 = 3

            if(a1 != -1 && a2 != -1 && a3 != -1 && a4 != -1 && a5 != -1 && a6 != -1){
              var formData = new FormData($(this)[0]);
              formData.append("custserial", '<%= @after_interview.custserial.to_i %>');
              formData.append("tablet_interview_id", '<%= @after_interview.rx_tablet_interview_id.to_i %>');
              formData.append("after_interview_id", '<%= @after_interview.after_interview_id.to_i %>');
              formData.append("order", '<%= @after_interview.order.to_i %>');
              formData.append("a1", a1);
              formData.append("a1_1", $('#a1_6_text').val());
              formData.append("a2", a2);
              formData.append("a3", a3);
              formData.append("a3_1", $('#a3_6_text').val());
              formData.append("a4", a4);
              formData.append("a5", a5);
              formData.append("a6", a6);
              formData.append("a7", $('#a7').val());

              $.ajax({
                  url: "/admin/update_rx_after_interview",
                  type: 'POST',
                  data: formData,
                  async: false,
                  cache: false,
                  contentType: false,
                  processData: false,
                  success: function (returndata) {
                    opener.location.reload();
                    window.close();
                  },
                  error: function (returndata) {}
              });
            }else{
              alert("모든 값을 체크한 후 입력을 눌러주세요");
            }
        });


      });

      function decode_utf8(s) {
        return decodeURI(s);
      }
    </script>
  </head>

  <body>
    <div>
        <% user = Custinfo.where(custserial: @after_interview.custserial).first %>
        <% fctabletinterview = Fctabletinterviewrx.where(custserial: @after_interview.custserial).where(tablet_interview_id: @after_interview.rx_tablet_interview_id).first %>
        <div style="background: #b1cbbb; padding: 8px;">
          <font size="5"><b><div id="name_<%= user.custserial.to_i %>_<%= user.lastanaldate %>"></b></div></font>

          <div>
            <font size="4">
              <b>전화번호</b> <%= user.phone %> <br>
              <b>맞춤일자</b> <%= fctabletinterview.uptdate %> <br>
              <b>맞춤제품</b><br>
              Step1: <%= URI.decode(fctabletinterview.recommand_program_step_1).gsub("+"," ") %><br>
              Step2: <%= URI.decode(fctabletinterview.recommand_program_step_2).gsub("+"," ") %><br>
              Step3: <%= URI.decode(fctabletinterview.recommand_program_step_3).gsub("+"," ") %><br>
              <b>구매제품</b><br>
              <% if !fctabletinterview.purchase1.nil? %>
              Step1: <%= URI.decode(fctabletinterview.purchase1).gsub("+"," ") %><br>
              <% end %>
              <% if !fctabletinterview.purchase1.nil? %>
              Step2: <%= URI.decode(fctabletinterview.purchase2).gsub("+"," ") %><br>
              <% end %>
              <% if !fctabletinterview.purchase1.nil? %>
              Step3: <%= URI.decode(fctabletinterview.purchase3).gsub("+"," ") %><br>
              <% end %>
              <b>메모</b> <div id="memo_<%= user.custserial.to_i %>_<%= user.lastanaldate %>"></b></div> <br>
            </font>
          </div>
          <br>
        </div>
        <div>

        1. 피부진단 서비스 이용 경로를 선택해 주시기 바랍니다.<br>
        <input type="checkbox" name="group1[]" id="a1_1"/> CNPRX 매장 직원 추천
        <input type="checkbox" name="group1[]" id="a1_2"/> 홍보물(배너, 문자)
        <input type="checkbox" name="group1[]" id="a1_3"/> 홈페이지 또는 인터넷
        <input type="checkbox" name="group1[]" id="a1_4"/> 기 진단 받은 고객 추천
        <br>
        <input type="checkbox" name="group1[]" id="a1_6"/> 기타
        <textarea type="text" rows="1" style="width: 300px;" id="a1_6_text" onfocus="this.value = this.value;"></textarea>
        <br><br>
        2. 피부진단 모드를 선택해 주시기 바랍니다.
        <input type="checkbox" name="group2[]" id="a2_1"/> 종합모드
        <input type="checkbox" name="group2[]" id="a2_2"/> 메이크업 모드
        <input type="checkbox" name="group2[]" id="a2_3"/> 설문 모드
        <br><br>
        3. 매장에서 클렌징을 하였습니까?<br>
        <input type="checkbox" name="group3[]" id="a3_1"/> 예
        <input type="checkbox" name="group3[]" id="a3_2" /> 아니오
        <input type="checkbox" name="group3[]" id="a3_6" /> 기타
        <textarea type="text" rows="1" style="width: 300px;" id="a3_6_text" onfocus="this.value = this.value;"></textarea>
        <br><br>
        4. 매장에서 클렌징을 하였습니까?<br>
        <input type="checkbox" name="group4[]" id="a4_1"/> 쉽게 이해
        <input type="checkbox" name="group4[]" id="a4_2" /> 그냥 그렇다
        <input type="checkbox" name="group4[]" id="a4_3" /> 잘 이해하지 못한다
        <input type="checkbox" name="group4[]" id="a4_4" /> 전혀 이해하지 못한다
        <br><br>
        5. 피부진단 카운셀링 및 추천 제품(피부진단, 제품구매등 전체적인 프로세스)에 대한 만족도를 선택해 주시기 바랍니다.<br>
        <input type="checkbox" name="group5[]" id="a5_1"/> 매우 만족
        <input type="checkbox" name="group5[]" id="a5_2" /> 만족
        <input type="checkbox" name="group5[]" id="a5_3" /> 보통
        <input type="checkbox" name="group5[]" id="a5_4" /> 그냥 그렇다
        <input type="checkbox" name="group5[]" id="a5_5" /> 불만족
        <br><br>
        6. 추천 제품 구매 의사를 선택해주시기 바랍니다.<br>
        <input type="checkbox" name="group6[]" id="a6_1"/> 추천제품 중에서 구매함
        <input type="checkbox" name="group6[]" id="a6_2" /> 상관없이 구매함
        <input type="checkbox" name="group6[]" id="a6_3" /> 구매 안 함
        <br><br>

        7. 특이사항<br>피부진단 프로세스 중 어려운 점이나 불필요한 사항 및 기타 요청 사항을 자유롭게 기재해 주시기 바랍니다.<br>
        <textarea type="text" rows="5" style="width: 500px;" id="a7" onfocus="this.value = this.value;" ></textarea>
        <br>
        <button class="btn btn-primary" id="submit" type="submit" value="Submit">입력</button>
        <button class="btn btn-danger" id="delete">삭제</button>
      </div>
    </div>
  </body>
</html>
