<html>
  <head>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>

    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

    <script>
      $(function () {
        <% user = Custinfo.where(custserial: @after_interview.custserial).first %>
        <% fctabletinterview = Fctabletinterviewrx.where(custserial: @after_interview.custserial).where(tablet_interview_id: @after_interview.rx_tablet_interview_id).first %>

        try
        {
          var userName = decode_utf8('<%= user.custname %>')
          tempUserName = ""
          if (userName.length == 2){
            tempUserName += userName.slice(0, 1)
            tempUserName += "*"
          } else {
            for(var i = 0; i < userName.length; i++){
              if(i == 0)
                tempUserName += userName.slice(0, 1)
              else if(i == userName.length - 1)
                tempUserName += userName.slice(userName.length - 1, userName.length)
              else
                tempUserName += "*"
            }
          }
          $('#name_<%= user.custserial.to_i %>_<%= user.lastanaldate %>').append(tempUserName);
        }
        catch(err)
        {
          $('#name_<%= user.custserial.to_i %>_<%= user.lastanaldate %>').append('<%= user.custname %>');
        }

        try
        {
          var phone = '<%= user.phone %>'
          tempPhone = ""
          for(var i = 0; i < phone.length; i++){
            if(i == 0 || i == 1 || (i > phone.length - 5 && i != phone.length - 1))
              continue

            if(i == 2)
              tempPhone += phone.slice(0, 3)
            else if(i == phone.length - 1)
              tempPhone += phone.slice(phone.length - 4, phone.length)
            else
              tempPhone += "*"
          }
          $('#phone_<%= user.custserial.to_i %>_<%= fctabletinterview.uptdate %>').append(tempPhone);
        }
        catch(err)
        {
          $('#phone_<%= user.custserial.to_i %>_<%= fctabletinterview.uptdate %>').append('<%= user.phone %>');
        }

        try
        {
          $('#base_lot').append( (decode_utf8('<%= fctabletinterview.base_lot %>')).replace(/\+/g, " "));
          $('#ampoule_1_lot').append( (decode_utf8('<%= fctabletinterview.ampoule_1_lot %>')).replace(/\+/g, " "));
          $('#ampoule_2_lot').append( (decode_utf8('<%= fctabletinterview.ampoule_2_lot %>')).replace(/\+/g, " "));
        }
        catch(err)
        {
          // $('#name_<%= user.custserial.to_i %>_<%= user.lastanaldate %>').append('<%= user.custname %>');
        }

        try
        {
          var temp_memo = decode_utf8('<%= fctabletinterview.memo %>');
          temp_memo = temp_memo.replace(/\+/gi, " ");
          $('#memo_<%= user.custserial.to_i %>_<%= user.lastanaldate %>').append(temp_memo);
        }
        catch(err)
        {
          $('#memo_<%= user.custserial.to_i %>_<%= user.lastanaldate %>').append('<%= fctabletinterview.memo %>');
        }

        $('input[type="checkbox"]').on('change', function() {
            console.log("Changed " + this.id);

            if(this.id == "a1_5" && $('input[id="' + this.id + '"]').is(":checked")){
              document.getElementById("a1_5_text").disabled = false;
            }else{
              if(this.name.includes("group1")){
                document.getElementById("a1_5_text").value = "";
                document.getElementById("a1_5_text").disabled = true;
              }
            }

            if (document.getElementById("a6_5").checked){
              document.getElementById("a6_5_text").disabled = false;
            }else{
              document.getElementById("a6_5_text").value = "";
              document.getElementById("a6_5_text").disabled = true;
            }

            // if(this.id == "a6_5" && $('input[id="' + this.id + '"]').is(":checked")){
            //   document.getElementById("a6_5_text").disabled = false;
            // }else{
            //   if(this.name.includes("group6")){
            //     document.getElementById("a6_5_text").value = "";
            //     document.getElementById("a6_5_text").disabled = true;
            //   }
            // }
            // if(!this.name.includes("group6")){
            //   $('input[name="' + this.name + '"]').not(this).prop('checked', false);
            // }
        });


        document.getElementById("a1_5_text").disabled = true;
        document.getElementById("a6_5_text").disabled = true;

        <% if !@after_interview.a1.nil? %>
          <% if @after_interview.a1 == 1 %>
            $('#a1_1').prop('checked', true);
          <% elsif @after_interview.a1 == 2 %>
            $('#a1_2').prop('checked', true);
          <% elsif @after_interview.a1 == 3 %>
            $('#a1_3').prop('checked', true);
          <% elsif @after_interview.a1 == 4 %>
            $('#a1_4').prop('checked', true);
          <% elsif @after_interview.a1 == 5 %>
            $('#a1_5').prop('checked', true);
            document.getElementById("a1_5_text").disabled = false;
          <% end %>

          <% if !@after_interview.a1_1.nil? %>
            document.getElementById("a1_5_text").value = decode_utf8("<%= @after_interview.a1_1.to_s.gsub(/\r\n/, " ") %>");
          <% end %>

          <% if !@after_interview.a2.nil? %>
            <% if @after_interview.a2 == 1 %>
              $('#a2_1').prop('checked', true);
            <% elsif @after_interview.a2 == 2 %>
              $('#a2_2').prop('checked', true);
            <% end %>
          <% end %>

          <% if @after_interview.a3 == 1 %>
            $('#a3_1').prop('checked', true);
          <% elsif @after_interview.a3 == 2 %>
            $('#a3_2').prop('checked', true);
          <% elsif @after_interview.a3 == 3 %>
            $('#a3_3').prop('checked', true);
          <% elsif @after_interview.a3 == 4 %>
            $('#a3_4').prop('checked', true);
          <% elsif @after_interview.a3 == 5 %>
            $('#a3_5').prop('checked', true);
          <% end %>

          <% if @after_interview.a4 == 1 %>
            $('#a4_1').prop('checked', true);
          <% elsif @after_interview.a4 == 2 %>
            $('#a4_2').prop('checked', true);
          <% elsif @after_interview.a4 == 3 %>
            $('#a4_3').prop('checked', true);
          <% elsif @after_interview.a4 == 4 %>
            $('#a4_4').prop('checked', true);
          <% elsif @after_interview.a4 == 5 %>
            $('#a4_5').prop('checked', true);
          <% end %>

          <% if @after_interview.a5 == 1 %>
            $('#a5_1').prop('checked', true);
          <% elsif @after_interview.a5 == 2 %>
            $('#a5_2').prop('checked', true);
          <% elsif @after_interview.a5 == 3 %>
            $('#a5_3').prop('checked', true);
          <% end %>

          <% if !@after_interview.a6.nil? %>
            <% if @after_interview.a6.include?("1") %>
              $('#a6_1').prop('checked', true);
            <% end %>
            <% if @after_interview.a6.include?("2") %>
              $('#a6_2').prop('checked', true);
            <% end %>
            <% if @after_interview.a6.include?("3") %>
              $('#a6_3').prop('checked', true);
            <% end %>
            <% if @after_interview.a6.include?("4") %>
              $('#a6_4').prop('checked', true);
            <% end %>
            <% if @after_interview.a6.include?("5") %>
              $('#a6_5').prop('checked', true);
              document.getElementById("a6_5_text").disabled = false;
            <% end %>
          <% end %>

          <% if !@after_interview.a6_1.nil? %>
            document.getElementById("a6_5_text").value = "<%= URI.decode(@after_interview.a6_1).gsub(/\r\n/, " ").gsub("+"," ") %>";
          <% end %>
        <% end %>

        $('#delete').click(function(){
          var r = confirm("정말 삭제하시겠습니까?")
          if(r){
            var formData = new FormData($(this)[0]);
            formData.append("custserial", '<%= @after_interview.custserial.to_i %>');
            formData.append("tablet_interview_id", '<%= @after_interview.rx_tablet_interview_id.to_i %>');
            formData.append("after_interview_id", '<%= @after_interview.after_interview_id.to_i %>');
            formData.append("order", '<%= @after_interview.order.to_i %>');

            $.ajax({
                url: "/admin/rx_after_interview",
                type: 'DELETE',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (returndata) {
                  opener.location.reload();
                  window.close();
                },
                error: function (returndata) {}
            });
          }
        });

        $('#submit').click(function(){
            console.log("Click");

            var a1 = -1;
            if ($('#a1_1').is(":checked"))
              a1 = 1
            else if ($('#a1_2').is(":checked"))
              a1 = 2
            else if ($('#a1_3').is(":checked"))
              a1 = 3
            else if ($('#a1_4').is(":checked"))
              a1 = 4
            else if ($('#a1_5').is(":checked"))
              a1 = 5

            var a2 = -1;
            if ($('#a2_1').is(":checked"))
              a2 = 1
            else if ($('#a2_2').is(":checked"))
              a2 = 2

            var a3 = -1;
            if ($('#a3_1').is(":checked"))
              a3 = 1
            else if ($('#a3_2').is(":checked"))
              a3 = 2
            else if ($('#a3_3').is(":checked"))
              a3 = 3
            else if ($('#a3_4').is(":checked"))
              a3 = 4
            else if ($('#a3_5').is(":checked"))
              a3 = 5

            var a4 = -1;
            if ($('#a4_1').is(":checked"))
              a4 = 1
            else if ($('#a4_2').is(":checked"))
              a4 = 2
            else if ($('#a4_3').is(":checked"))
              a4 = 3
            else if ($('#a4_4').is(":checked"))
              a4 = 4
            else if ($('#a4_5').is(":checked"))
              a4 = 5

            var a5 = -1;
            if ($('#a5_1').is(":checked"))
              a5 = 1
            else if ($('#a5_2').is(":checked"))
              a5 = 2
            else if ($('#a5_3').is(":checked"))
              a5 = 3

            var a6 = [];
            if ($('#a6_1').is(":checked"))
              a6.push("1")
            if ($('#a6_2').is(":checked"))
              a6.push("2")
            if ($('#a6_3').is(":checked"))
              a6.push("3")
            if ($('#a6_4').is(":checked"))
              a6.push("4")
            if ($('#a6_5').is(":checked"))
              a6.push("5")

            console.log(a6);

            if(a1 != -1 && a2 != -1 && a3 != -1 && a4 != -1 && a5 != -1 && a6.length != 0){
              var formData = new FormData($(this)[0]);
              formData.append("custserial", '<%= @after_interview.custserial.to_i %>');
              formData.append("tablet_interview_id", '<%= @after_interview.rx_tablet_interview_id.to_i %>');
              formData.append("after_interview_id", '<%= @after_interview.after_interview_id.to_i %>');
              formData.append("order", '<%= @after_interview.order.to_i %>');
              formData.append("a1", a1);
              formData.append("a1_1", $('#a1_5_text').val());
              formData.append("a2", a2);
              formData.append("a3", a3);
              formData.append("a4", a4);
              formData.append("a5", a5);
              formData.append("a6", a6);
              formData.append("a6_1", $('#a6_5_text').val());

              $.ajax({
                  url: "/admin/update_rx_after_interview",
                  type: 'POST',
                  data: formData,
                  async: false,
                  cache: false,
                  contentType: false,
                  processData: false,
                  success: function (returndata) {
                    opener.location.reload();
                    window.close();
                  },
                  error: function (returndata) {}
              });
            }else{
              alert("모든 값을 체크한 후 입력을 눌러주세요");
            }
        });


      });

      function decode_utf8(s) {
        return decodeURI(s);
      }
    </script>
  </head>

  <body>
    <div>
        <% user = Custinfo.where(custserial: @after_interview.custserial).first %>
        <% fctabletinterview = Fctabletinterviewrx.where(custserial: @after_interview.custserial).where(tablet_interview_id: @after_interview.rx_tablet_interview_id).first %>
        <div style="background: #b1cbbb; padding: 8px;">
          <font size="5"><b><div id="name_<%= user.custserial.to_i %>_<%= user.lastanaldate %>"></div></b></font>

          <div>
            <font size="4">
              <b>전화번호</b><font id="phone_<%= user.custserial.to_i %>_<%= fctabletinterview.uptdate %>"> </font><br>
              <b>맞춤일자</b> <%= fctabletinterview.uptdate %> <br>
              <b>맞춤제품</b><br>
              <% if !fctabletinterview.recommand_program_step_1.nil? %>
              Step1: <%= URI.decode(fctabletinterview.recommand_program_step_1).gsub("+"," ") %><br>
              <% end %>
              <% if !fctabletinterview.recommand_program_step_2.nil? %>
              Step2: <%= URI.decode(fctabletinterview.recommand_program_step_2).gsub("+"," ") %><br>
              <% end %>
              <% if !fctabletinterview.recommand_program_step_3.nil? %>
              Step3: <%= URI.decode(fctabletinterview.recommand_program_step_3).gsub("+"," ") %><br>
              <% end %>
              <b>구매제품</b><br>
              <% if !fctabletinterview.purchase1.nil? %>
              Step1: <%= URI.decode(fctabletinterview.purchase1).gsub("+"," ") %><br>
              <% end %>
              <% if !fctabletinterview.purchase2.nil? %>
              Step2: <%= URI.decode(fctabletinterview.purchase2).gsub("+"," ") %><br>
              <% end %>
              <% if !fctabletinterview.purchase3.nil? %>
              Step3: <%= URI.decode(fctabletinterview.purchase3).gsub("+"," ") %><br>
              <% end %>
              <b>메모</b> <div id="memo_<%= user.custserial.to_i %>_<%= user.lastanaldate %>"></b></div> <br>
            </font>
          </div>
          <br>
        </div>
        <div style="padding-left:10px;">

        1. 고객이 피부분석 서비스를 이용하게 된 경로는?<br>
        <input type="checkbox" name="group1[]" id="a1_1"/> CNP RX 매장 직원 추천
        <input type="checkbox" name="group1[]" id="a1_2"/> 홍보물(배너, 문자)
        <input type="checkbox" name="group1[]" id="a1_3"/> 홈페이지 또는 인터넷
        <input type="checkbox" name="group1[]" id="a1_4"/> 기 진단 받은 고객 추천
        <br>
        <input type="checkbox" name="group1[]" id="a1_5"/> 기타<br>
        <textarea type="text" rows="1" style="width: 500px; height:50px;" id="a1_5_text" onfocus="this.value = this.value;"></textarea>
        <br><br>
        2. 고객이 매장에서 클렌징을 했나요?<br>
        <input type="checkbox" name="group2[]" id="a2_1"/> 예
        <input type="checkbox" name="group2[]" id="a2_2"/> 아니오
        <br><br>
        3. 피부 분석 및 카운셀링에 대한 고객 만족도는?<br>
        <input type="checkbox" name="group3[]" id="a3_1"/> 매우 만족
        <input type="checkbox" name="group3[]" id="a3_2" /> 만족
        <input type="checkbox" name="group3[]" id="a3_3" /> 보통
        <input type="checkbox" name="group3[]" id="a3_4" /> 그냥 그렇다
        <input type="checkbox" name="group3[]" id="a3_5" /> 불만족
        <br><br>
        4. 추천 제품에 대한 고객 만족도는?<br>
        <input type="checkbox" name="group4[]" id="a4_1"/> 매우 만족
        <input type="checkbox" name="group4[]" id="a4_2" /> 만족
        <input type="checkbox" name="group4[]" id="a4_3" /> 보통
        <input type="checkbox" name="group4[]" id="a4_4" /> 그냥 그렇다
        <input type="checkbox" name="group4[]" id="a4_5" /> 불만족
        <br><br>
        5. 추천해 드린 제품을 고객이 구매했나요?.<br>
        <input type="checkbox" name="group5[]" id="a5_1"/> 추천 제품 중에서 구매함
        <input type="checkbox" name="group5[]" id="a5_2" /> 상관없이 구매함
        <input type="checkbox" name="group5[]" id="a5_3" /> 구매 안 함
        <br><br>
        6. 특이사항<br>
        고객의 반응, 피부 측정 중 어려운 점이나 수정이 필요한 사항에 대해 <br>
        아래 보기 중 체크하시거나 자유롭게 기재해 주시기 바랍니다. (중복 체크 가능) <br>
        <input type="checkbox" name="group6[]" id="a6_1"/> 다른 곳에서 피부 측정을 받아봤지만 가장 전문적이고 흥미롭다고 하심<br>
        <input type="checkbox" name="group6[]" id="a6_2" /> 상담을 통해 피부 관리에 대한 경각심을 가지심<br>
        <input type="checkbox" name="group6[]" id="a6_3" /> 피부 측정을 통해 추천하는 제품이라는 점에 높은 관심이나 신뢰감을 가지심<br>
        <input type="checkbox" name="group6[]" id="a6_4" /> 상담 및 제품에 대해 높은 관심을 보였으나 가격 때문에 제품 구매까지는 연결되지 않음<br>
        <input type="checkbox" name="group6[]" id="a6_5" /> 기타의견<br>
        <textarea type="text" rows="1" style="width: 500px; height:50px;" id="a6_5_text" onfocus="this.value = this.value;"></textarea>
        <br><br>
        <button class="btn btn-primary" id="submit" type="submit" value="Submit">입력</button>
        <button class="btn btn-danger" id="delete">삭제</button>
      </div>
    </div>
  </body>
</html>
