<!DOCTYPE html>
<html>
    <head>
      <script>
      </script>
    </head>
    <body>
      <tr class="table_tr" id="<%= fcmode.modecnt_serial.to_i %>">
        <td><%= fcmode.modecnt_serial.to_i %></td>
        <td><%= fcmode.mode_name %></td>
        <td><%= fcmode.analdate %></td>
        <td><%= fcmode.ch_cd %></td>
        <td><%= fcmode.shop_cd %></td>
      </tr>
    </body>
</html>
