<html>
  <head>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script>
      <% search = "" %>
      $(function () {
        $(document).keyup(function (e) {
            if ($("#search").is(":focus") && (e.keyCode == 13)) {
                console.log(encodeURI($("#search").val()));
                location.href = "/admin/user_list?search=" + encodeURI(encodeURI($("#search").val()));
            }
        });

        $(document).on("click", ".table_tr", function (e) {
          var userId = $(this).attr('id')
          window.open("/admin/users/detail?userId=" + userId, "/users/detail?userId=" + userId, "scrollbars=1,resizable=1,height=500,width=600");
        });
      });

      function decode_utf8(s) {
        return decodeURI(s);
      }

      function showDetail(userId){
        window.open("/admin/users/detail?userId=" + userId, "/users/detail?userId=" + userId, "scrollbars=1,resizable=1,height=500,width=600");
      }

      function show_all(){
        location.href = "/admin/user_list";
      }
    </script>
    <style>
    .fixed-table-body {
      max-height: 350px;
    }

    .text-center {
        margin: 0 auto;
        text-align: center !important;
    }
    </style>
  </head>

  <body>
    <%= render "admin/header" %>
    <div style="background: #b1cbbb; padding: 8px;">
      <input type="text" name="search" id="search" placeholder="이름으로 검색" style="width: 200px;"> <button class="btn btn-warning" id="show_all" onclick="show_all()">전체보기</button>
      <p style="float:right; margin-right:20px;">
        Download:
        <!-- <%= link_to "CSV", admin_user_list_path(format: "csv") %> -->
        <%= link_to "Excel", admin_user_list_path(format: "xlsx", :search => @search, :isExcel => true) %>
      </p>
    </div>
      <table data-toggle="table" style="width:1200px;">
        <thead style="width: 100%;">
          <tr>
              <th>이름</th>
              <th>가입날짜</th>
              <th>마지막 진단 날짜</th>
              <th>시리얼</th>
              <th>전화번호</th>
              <th>성별</th>
              <th>생년월일</th>
              <th>개인정보 이용동의</th>
              <th>제 3자 정보 제공 동의</th>
              <th>마케팅 정보 동의</th>
              <th>측정 횟수</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <%= render partial: "admin/user/item", locals: { user: user } %>
          <% end %>
        </tbody>
      </table>

      <div>
        <%= paginate @users %>
      </div>
  </body>
</html>
