<html>
  <head>
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.js"></script>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

    <script>
    $ (function () {
        try
        {
          var userName = decode_utf8('<%= @user.custname %>')
          tempUserName = ""
          if (userName.length == 2){
            tempUserName += userName.slice(0, 1)
            tempUserName += "*"
          } else {
            for(var i = 0; i < userName.length; i++){
              if(i == 0)
                tempUserName += userName.slice(0, 1)
              else if(i == userName.length - 1)
                tempUserName += userName.slice(userName.length - 1, userName.length)
              else
                tempUserName += "*"
            }
          }
          if ('<%= @user.ch_cd %>' == "CNP") {
            $('#name_<%= @user.custserial.to_i %>_<%= @user.lastanaldate %>').append(userName);
          } else {
            $('#name_<%= @user.custserial.to_i %>_<%= @user.lastanaldate %>').append(tempUserName);
          }
        }
        catch(err)
        {
          $('#name_<%= @user.custserial.to_i %>_<%= @user.lastanaldate %>').append('<%= @user.custname %>');
        }

        try
        {
          var phone = '<%= @user.phone %>'
          tempPhone = ""
          for(var i = 0; i < phone.length; i++){
            if(i == 0 || i == 1 || (i > phone.length - 5 && i != phone.length - 1))
              continue

            if(i == 2)
              tempPhone += phone.slice(0, 3)
            else if(i == phone.length - 1)
              tempPhone += phone.slice(phone.length - 4, phone.length)
            else
              tempPhone += "*"
          }
          if ('<%= @user.ch_cd %>' == "CNP") {
            $('#phone_<%= @user.custserial.to_i %>_<%= @user.lastanaldate %>').append(phone);
          } else {
              $('#phone_<%= @user.custserial.to_i %>_<%= @user.lastanaldate %>').append(tempPhone);
          }
        }
        catch(err)
        {
          $('#phone_<%= @user.custserial.to_i %>_<%= @user.lastanaldate %>').append('<%= @user.phone %>');
        }

        $(document).on("click", ".edit-user", function (e) {
          var userId = $(this).attr('id').split("/")[0]
          var ch_cd = $(this).attr('id').split("/")[1]
          var measureno = $(this).attr('id').split("/")[2]
          location.href = "/admin/users/edit?userId=" +userId+ "&ch_cd=" +ch_cd+ "&measureno=" +measureno;
        });

        $(document).on("click", ".delete-user", function (e) {
          var r = confirm("정말 삭제 하시겠습니까?");
          if (r){
            var userId = $(this).attr('id').split("/")[0]
            var ch_cd = $(this).attr('id').split("/")[1]
            var measureno = $(this).attr('id').split("/")[2]

            $.ajax({
                url: "/admin/users/delete?userId=" +userId+ "&ch_cd=" +ch_cd+ "&measureno=" +measureno,
                type: 'GET',
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (returndata) {
                  window.close();
                },
                error: function (returndata) {
                  alert("삭제가 실패했습니다.");
                }
            });
          }
        });
      });

      function decode_utf8(s) {
        return decodeURI(s);
      }

    </script>
  </head>

  <body style="padding: 10px;">
    <div style="display:inline;">
      <h2 style="float:left; width:45%;">고객정보</h2>

      <div style="float:right; width:45%; margin-top:30px;">
        <button id="<%= @user.custserial %>/<%= @user.ch_cd %>/<%= @user.measureno.to_i %>" style="float:right; margin-right:50px;" class="btn btn-warning edit-user">수정</button>
        <button id="<%= @user.custserial %>/<%= @user.ch_cd %>/<%= @user.measureno.to_i %>" style="float:right; margin-right:50px;" class="btn btn-danger delete-user">삭제</button>
      </div>

    </div><br><br>

    <font size="5"><b><div style="margin-top:25px;" id="name_<%= @user.custserial.to_i %>_<%= @user.lastanaldate %>"></div></b></font>

    <div><font size="4">
      <b>가입날짜</b>  <%= @user.uptdate %> <br>
      <b>마지막 진단 날짜</b> <%= @user.lastanaldate %> <br>
      <b>시리얼</b> <%= @user.custserial.to_i %> <br>
      <b>전화번호</b> <font id="phone_<%= @user.custserial.to_i %>_<%= @user.lastanaldate %>"></font><br>
      <% sex = "남" %>
      <% if @user.sex == "F" %>
        <% sex = "여" %>
      <% end %>
      <b>성별</b> <%= sex %> <br>
      <b>생년월일</b> <%= @user.birthyy %>-<%= @user.birthmm %>-<%= @user.birthdd %><br><br>
      <% is_agree_privacy = "X" %>
      <% if @user.is_agree_privacy== "T" %>
       <% is_agree_privacy = "O" %>
      <% end %>
      <b>개인정보 이용동의</b> <%= is_agree_privacy %> <br>
      <% is_agree_thirdparty_info = "X" %>
      <% if @user.is_agree_thirdparty_info== "T" %>
       <% is_agree_thirdparty_info = "O" %>
      <% end %>
      <b>제 3자 정보 제공 동의</b> <%= is_agree_thirdparty_info %> <br>
      <% is_agree_marketing = "X" %>
      <% if @user.is_agree_marketing== "T" %>
       <% is_agree_marketing = "O" %>
      <% end %>
      <b>마케팅 정보 동의</b> <%= is_agree_marketing %> <br>
      <% is_agree_after = "X" %>
      <% if @user.is_agree_after== "T" %>
       <% is_agree_after = "O" %>
      <% end %>
      <b>사후 피드백 서비스</b> <%= is_agree_after %> <br>
      <b>측정 횟수</b> <%= @user.measureno.to_i %>
    </font>

  </body>
</html>
