<html>
  <head>
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.js"></script>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

    <script>
    $ (function () {
        try
        {
          $('#name_<%= @user.custserial.to_i %>_<%= @user.lastanaldate %>').append( decode_utf8('<%= @user.custname %>'));
        }
        catch(err)
        {
          $('#name_<%= @user.custserial.to_i %>_<%= @user.lastanaldate %>').append('<%= @user.custname %>');
        }
      });

      function decode_utf8(s) {
        return decodeURI(s);
      }

    </script>
  </head>

  <body style="padding: 10px;">
    <h2>고객정보</h2>

    <font size="5"><b><div id="name_<%= @user.custserial.to_i %>_<%= @user.lastanaldate %>"></b></div></font>

    <div><font size="4">
      (가입날짜 : <%= @user.uptdate %>  마지막 진단 날짜 : <%= @user.lastanaldate %>)<br>
      <b>시리얼</b> <%= @user.custserial.to_i %> <br>
      <b>전화번호</b> <%= @user.phone %> <br>
      <b>성별</b> <%= @user.sex %> <br>
      <b>생년월일</b> <%= @user.birthyy %>-<%= @user.birthmm %>-<%= @user.birthdd %><br><br>
      <% is_agree_privacy = "X" %>
      <% if @user.is_agree_privacy== "T" %>
       <% is_agree_privacy = "O" %>
      <% end %>
      <b>개인정보 이용동의</b> <%= is_agree_privacy %> <br>
      <% is_agree_thirdparty_info = "X" %>
      <% if @user.is_agree_thirdparty_info== "T" %>
       <% is_agree_thirdparty_info = "O" %>
      <% end %>
      <b>제 3자 정보 제공 동의</b> <%= is_agree_thirdparty_info %> <br>
      <% is_agree_marketing = "X" %>
      <% if @user.is_agree_marketing== "T" %>
       <% is_agree_marketing = "O" %>
      <% end %>
      <b>마케팅 정보 동의</b> <%= is_agree_marketing %> <br>
      <!-- <% is_agree_after = "X" %>
      <% if @user.is_agree_after== "T" %>
       <% is_agree_after = "O" %>
      <% end %>
      <b>사후 피드백 서비스</b> <%= is_agree_after %> <br> -->
      <b>측정 횟수</b> <%= Fctabletinterview.where(custserial: @user.custserial).count %>
    </font>

  </body>
</html>
