<html>
  <head>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>

    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

    <script>
      $(function () {
          $("#start_date").datepicker({
                  dateFormat: 'yy-mm-dd',
                  dayNamesMin: [
                      '일',
                      '월',
                      '화',
                      '수',
                      '목',
                      '금',
                      '토'
                  ],
                  monthNamesShort: [
                      '1월',
                      '2월',
                      '3월',
                      '4월',
                      '5월',
                      '6월',
                      '7월',
                      '8월',
                      '9월',
                      '10월',
                      '11월',
                      '12월'
                  ],
                  currentText: '오늘 날짜',
                  changeMonth: true
              });
          $("#end_date").datepicker({
                      dateFormat: 'yy-mm-dd',
                      dayNamesMin: [
                          '일',
                          '월',
                          '화',
                          '수',
                          '목',
                          '금',
                          '토'
                      ],
                      monthNamesShort: [
                          '1월',
                          '2월',
                          '3월',
                          '4월',
                          '5월',
                          '6월',
                          '7월',
                          '8월',
                          '9월',
                          '10월',
                          '11월',
                          '12월'
                      ],
                      currentText: '오늘 날짜',
                      changeMonth: true
                  });

        $("#start_date").datepicker('setDate', '2017-01-25');
        $("#end_date").datepicker('setDate', '<%= @end_date %>');

        <% if !@name.nil? %>
          document.getElementById("name").value = '<%= @name %>'
        <% end %>

        <% if !@custserial.nil? %>
          document.getElementById("custserial").value = '<%= @custserial %>'
        <% end %>

        <% if !@measureno.nil? %>
          document.getElementById("measureno").value = '<%= @measureno %>'
        <% end %>

        <% if !@select_sex.nil? %>
          $('select[id="select_sex"]').val('<%= @select_sex %>');
        <% end %>

        <% if !@start_age.nil? %>
          document.getElementById("start_age").value = '<%= @start_age %>'
        <% end %>
        <% if !@end_age.nil? %>
          document.getElementById("end_age").value = '<%= @end_age %>'
        <% end %>

        <% if !@start_birthyy.nil? %>
          document.getElementById("start_birthyy").value = '<%= @start_birthyy %>'
        <% end %>
        <% if !@end_birthyy.nil? %>
          document.getElementById("end_birthyy").value = '<%= @end_birthyy %>'
        <% end %>

        <% if !@start_birthmm.nil? %>
          document.getElementById("start_birthmm").value = '<%= @start_birthmm %>'
        <% end %>
        <% if !@end_birthmm.nil? %>
          document.getElementById("end_birthmm").value = '<%= @end_birthmm %>'
        <% end %>

        <% if !@select_channel.nil? %>
          $('select[id="select_channel"]').val('<%= @select_channel %>');
        <% end %>

        <% if !@select_mode.nil? %>
          $('select[id="select_mode"]').val('<%= @select_mode %>');
        <% end %>

        <% if !@select_makeup.nil? %>
          $('select[id="select_makeup"]').val('<%= @select_makeup %>');
        <% end %>

        <% if !@select_area.nil? %>
          $('select[id="select_area"]').val('<%= @select_area %>');
        <% end %>

        <% if !@select_skin_type_device.nil? %>
          $('select[id="select_skin_type_device"]').val('<%= @select_skin_type_device %>');
        <% end %>

        <% if !@select_skin_type_survey.nil? %>
          $('select[id="select_skin_type_survey"]').val('<%= @select_skin_type_survey %>');
        <% end %>

        <% if !@select_senstive.nil? %>
          $('select[id="select_senstive"]').val('<%= @select_senstive %>');
        <% end %>

        <% if !@select_skin_anxiety1.nil? %>
          $('select[id="select_skin_anxiety1"]').val('<%= @select_skin_anxiety1 %>');
        <% end %>

        <% if !@select_skin_anxiety2.nil? %>
          $('select[id="select_skin_anxiety2"]').val('<%= @select_skin_anxiety2 %>');
        <% end %>

        $("#date_init").click(function(){
          $("#start_date").datepicker('setDate', '2017-01-25');
          $("#end_date").datepicker('setDate', '<%= @today %>');
        });

        $("#age_init").click(function(){
          document.getElementById("start_age").value = '<%= @min_age %>';
          document.getElementById("end_age").value = '<%= @max_age %>';
        });

        $("#birthyy_init").click(function(){
          document.getElementById("start_birthyy").value = '<%= @max_birthyy %>';
          document.getElementById("end_birthyy").value = '<%= @min_birthyy %>';
        });

        $("#birthmm_init").click(function(){
          document.getElementById("start_birthmm").value = '<%= @min_birthmm %>';
          document.getElementById("end_birthmm").value = '<%= @max_birthmm %>';
        });

        $('#submit').click(function(){
          load();
        });

      });

      function load(){
        var select_sex = document.getElementById("select_sex").options[document.getElementById("select_sex").selectedIndex].value;
        var select_channel = document.getElementById("select_channel").options[document.getElementById("select_channel").selectedIndex].value;
        var select_mode = document.getElementById("select_mode").options[document.getElementById("select_mode").selectedIndex].value;
        var select_makeup = document.getElementById("select_makeup").options[document.getElementById("select_makeup").selectedIndex].value;
        var select_area = document.getElementById("select_area").options[document.getElementById("select_area").selectedIndex].value;
        var select_skin_type_device = document.getElementById("select_skin_type_device").options[document.getElementById("select_skin_type_device").selectedIndex].value;
        var select_skin_type_survey = document.getElementById("select_skin_type_survey").options[document.getElementById("select_skin_type_survey").selectedIndex].value;
        var select_senstive = document.getElementById("select_senstive").options[document.getElementById("select_senstive").selectedIndex].value;
        var select_skin_anxiety1 = document.getElementById("select_skin_anxiety1").options[document.getElementById("select_skin_anxiety1").selectedIndex].value;
        var select_skin_anxiety2 = document.getElementById("select_skin_anxiety2").options[document.getElementById("select_skin_anxiety2").selectedIndex].value;

        url = ""
        url += "/admin/data_list?start_date=" + $('#start_date').val() + "&end_date=" + $('#end_date').val();
        url += "&select_sex=" + select_sex;
        url += "&start_age=" + document.getElementById("start_age").value;
        url += "&end_age=" + document.getElementById("end_age").value;
        url += "&name=" + encodeURI(encodeURI($("#name")val()));
        url += "&custserial=" + document.getElementById("custserial").value;
        url += "&measureno=" + document.getElementById("measureno").value;
        url += "&start_birthyy=" + document.getElementById("start_birthyy").value;
        url += "&end_birthyy=" + document.getElementById("end_birthyy").value;
        url += "&start_birthmm=" + document.getElementById("start_birthmm").value;
        url += "&end_birthmm=" + document.getElementById("end_birthmm").value;
        url += "&select_channel=" + select_channel;
        url += "&select_mode=" + select_mode;
        url += "&select_makeup=" + select_makeup;
        url += "&select_area=" + select_area;
        url += "&select_skin_type_device=" + select_skin_type_device;
        url += "&select_skin_type_survey=" + select_skin_type_survey;
        url += "&select_senstive=" + select_senstive;
        url += "&select_skin_anxiety2=" + select_skin_anxiety2;

        location.href = url;
      }
    </script>
  </head>

  <body>
    <%= render "admin/header" %>

    <div id="filter" style="background: #b1cbbb; padding: 8px;">
      <div class="form-inline">
        분석일 : <input class="form-control" type="text" id="start_date" style="width:100px;">
        <input class="form-control" type="text" id="end_date" style="width:100px;">
        <button id="date_init" class="btn btn-primary">ALL</button>
        <p style="float:right; margin-right:20px;">
          Download:
          <%= link_to "Excel", admin_data_list_path(format: "xls", :start_date => @start_date, :end_date => @end_date, :select_sex => @select_sex, :start_age => @start_age, :end_age => @end_age, :name => @name, :custserial => @custserial, :measureno => @measureno, :start_birthyy => @start_birthyy, :end_birthyy => @end_birthyy, :start_birthmm => @start_birthmm, :end_birthmm => @end_birthmm, :select_channel => @select_channel, :select_mode => @select_mode, :select_makeup => @select_makeup, :select_area => @select_area, :select_skin_type_device => @select_skin_type_device, :select_skin_type_survey => @select_skin_type_survey, :select_senstive => @select_senstive, :select_skin_anxiety2 => @select_skin_anxiety2, :isExcel => true) %>
        </p>
      </div>

      <div class="form-inline">
        이름 :
        <input class="form-control" type="text" id="name" style="width:100px;">

        시리얼키 :
        <input class="form-control" type="text" id="custserial" style="width:100px;">

        분석횟수 :
        <input class="form-control" type="text" id="measureno" style="width:100px;">

        성별 :
        <select class="form-control" id="select_sex">
          <option value="all">All</option>
          <option value="F">F</option>
          <option value="M">M</option>
        </select>

        나이 :
        <input class="form-control" type="text" id="start_age" style="width:100px; margin-top:10px;">
        <input class="form-control" type="text" id="end_age" style="width:100px; margin-top:10px;">
        <button id="age_init" class="btn btn-primary">ALL</button>

        연도 :
        <input class="form-control" type="text" id="start_birthyy" style="width:100px; margin-top:10px;">
        <input class="form-control" type="text" id="end_birthyy" style="width:100px; margin-top:10px;">
        <button id="birthyy_init" class="btn btn-primary">ALL</button>

        생월 :
        <input class="form-control" type="text" id="start_birthmm" style="width:100px; margin-top:10px;">
        <input class="form-control" type="text" id="end_birthmm" style="width:100px; margin-top:10px;">
        <button id="birthmm_init" class="btn btn-primary">ALL</button>

        채널 :
        <select class="form-control" id="select_channel">
          <option value="all">All</option>
          <option value="CNP">CNP</option>
          <option value="MART">마트</option>
          <option value="NC">NC</option>
          <option value="BEAU">보떼</option>
          <option value="CNPRX">CNPRX</option>
        </select>
      </div>

      <div class="form-inline">
        모드 :
        <select class="form-control" id="select_mode">
          <option value="all">All</option>
          <option value="total">종합모드</option>
          <option value="quick">간편모드</option>
          <option value="makeup">메이크업모드</option>
        </select>

        메이크업 유무 :
        <select class="form-control" id="select_makeup">
          <option value="all">All</option>
          <option value="T">유</option>
          <option value="F">무</option>
        </select>

        측정부위 :
        <select class="form-control" id="select_area">
          <option value="all">All</option>
          <option value="F">전면</option>
          <option value="L">좌</option>
          <option value="R">우</option>
        </select>

        피부타입(기기) :
        <select class="form-control" id="select_skin_type_device">
          <option value="all">All</option>
          <option value="gunsung">건성</option>
          <option value="jungsung">중성</option>
          <option value="jisung">지성</option>
          <option value="t_zone_boghab">T존 복합</option>
          <option value="u_zone_boghab">U존 복합</option>
        </select>

        피부타입(설문) :
        <select class="form-control" id="select_skin_type_survey">
          <option value="all">All</option>
          <option value="gun_boggab">건복합성</option>
          <option value="jisung_boghab">지복합성</option>
          <option value="boghab">복합성</option>
          <option value="jungsung">중성</option>
          <option value="jisung">지성</option>
        </select>

        민감성 :
        <select class="form-control" id="select_senstive">
          <option value="all">All</option>
          <option value="yes">예</option>
          <option value="no">아니오</option>
        </select>

        피부고민1 :
        <select class="form-control" id="select_skin_anxiety1">
          <option value="all">All</option>
          <option value="wrinkle">주름</option>
          <option value="elasticity">탄력</option>
          <option value="pore">모공</option>
          <option value="trouble">트러블</option>
          <option value="dry">건조</option>
          <option value="spot_pl">색소침착</option>
          <option value="sebum">피지</option>
        </select>

        피부고민2 :
        <select class="form-control" id="select_skin_anxiety2">
          <option value="all">All</option>
          <option value="wrinkle">주름</option>
          <option value="elasticity">탄력</option>
          <option value="pore">모공</option>
          <option value="trouble">트러블</option>
          <option value="dry">건조</option>
          <option value="spot_pl">색소침착</option>
          <option value="sebum">피지</option>
        </select>

        <button class="btn btn-warning" id="submit">조회</button>
      </div>
    </div>

    <div>
      <div>
        <% @fcdatas.each do |fcdata| %>
          <%= render partial: "admin/data/item", locals: { fcdata: fcdata } %>
        <% end %>
        <div>
          <%= paginate @fcdatas %>
        </div>
      </div>
    </div>
  </body>
</html>
