<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>


    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
  </head>

    <script>
      var filterStr = "";
      $(function () {
          $(".top-list").css('color', '#9d9d9d');
          $("#point_data_list").css('color', 'hotpink');

          <% if @is_init == true %>
            document.getElementById("is_agree_thirdparty_info_true").checked = true
          <% elsif @is_agree_thirdparty_info.present? && @is_agree_thirdparty_info == "F" %>
            document.getElementById("is_agree_thirdparty_info_false").checked = true
          <% elsif @is_agree_thirdparty_info.present? && @is_agree_thirdparty_info == "T,F" %>
            document.getElementById("is_agree_thirdparty_info_true").checked = true
            document.getElementById("is_agree_thirdparty_info_false").checked = true
          <% elsif @is_agree_thirdparty_info.present? && @is_agree_thirdparty_info == "T" %>
            document.getElementById("is_agree_thirdparty_info_true").checked = true
          <% elsif !@is_agree_thirdparty_info.present? %>
            document.getElementById("is_agree_thirdparty_info_true").checked = false
            document.getElementById("is_agree_thirdparty_info_false").checked = false
          <% end %>

          <% if @ch_cd.include?("CNP") %>
            $("input:checkbox[value=CNP]").prop("checked", true);
          <% else %>
            $("input:checkbox[value=CNP]").prop("checked", false);
          <% end %>

          <% if @ch_cd.include?("CLAB") %>
            $("input:checkbox[value=CLAB]").prop("checked", true);
          <% else %>
            $("input:checkbox[value=CLAB]").prop("checked", false);
          <% end %>

          <% if @ch_cd == "" && @custserial.nil? %>
            $("input:checkbox[name=check_box]").prop("checked", true);
          <% end %>

          <% if @skin_type_device_array.include?("gunsung") %>
            $("input:checkbox[value=gunsung]").prop("checked", true);
          <% else %>
            $("input:checkbox[value=gunsung]").prop("checked", false);
          <% end %>

          <% if @skin_type_device_array.include?("jungsung") %>
            $("input:checkbox[value=jungsung]").prop("checked", true);
          <% else %>
            $("input:checkbox[value=jungsung]").prop("checked", false);
          <% end %>

          <% if @skin_type_device_array.include?("jisung") %>
            $("input:checkbox[value=jisung]").prop("checked", true);
          <% else %>
            $("input:checkbox[value=jisung]").prop("checked", false);
          <% end %>

          <% if @skin_type_device_array.include?("t_zone_boghab") %>
            $("input:checkbox[value=t_zone_boghab]").prop("checked", true);
          <% else %>
            $("input:checkbox[value=t_zone_boghab]").prop("checked", false);
          <% end %>

          <% if @skin_type_device_array.include?("u_zone_boghab") %>
            $("input:checkbox[value=u_zone_boghab]").prop("checked", true);
          <% else %>
            $("input:checkbox[value=u_zone_boghab]").prop("checked", false);
          <% end %>

          <% if @skin_type_device_array == [] && @custserial.nil? %>
            $("input:checkbox[name=skin_type_device_check_box]").prop("checked", true);
          <% end %>

          $("input:checkbox[value=skin_type_gun_boggab]").prop("checked", false);
          $("input:checkbox[value=skin_type_jisung_boghab]").prop("checked", false);
          $("input:checkbox[value=skin_type_gunsung]").prop("checked", false);
          $("input:checkbox[value=skin_type_jungsung]").prop("checked", false);
          $("input:checkbox[value=skin_type_jisung]").prop("checked", false);

          <% @skin_type_survey_array.each do |array| %>
            <% if array.include?("skin_type_gun_boggab") %>
              $("input:checkbox[value=skin_type_gun_boggab]").prop("checked", true);
            <% end %>

            <% if array.include?("skin_type_jisung_boghab") %>
              $("input:checkbox[value=skin_type_jisung_boghab]").prop("checked", true);
            <% end %>

            <% if array.include?("skin_type_gunsung") %>
              $("input:checkbox[value=skin_type_gunsung]").prop("checked", true);
            <% end %>

            <% if array.include?("skin_type_jungsung") %>
              $("input:checkbox[value=skin_type_jungsung]").prop("checked", true);
            <% end %>

            <% if array.include?("skin_type_jisung") %>
              $("input:checkbox[value=skin_type_jisung]").prop("checked", true);
            <% end %>
          <% end %>

          <% if @skin_type_survey_array == [] && @custserial.nil? %>
            $("input:checkbox[name=skin_type_survey_check_box]").prop("checked", true);
          <% end %>

          // 피부고민1
          <% if @select_skin_anxiety1_array.include?("elasticity solution") %>
            $("input:checkbox[id=select_skin_anxiety1_1]").prop("checked", true);
          <% else %>
            $("input:checkbox[id=select_skin_anxiety1_1]").prop("checked", false);
          <% end %>

          <% if @select_skin_anxiety1_array.include?("wrinkle solution") %>
            $("input:checkbox[id=select_skin_anxiety1_2]").prop("checked", true);
          <% else %>
            $("input:checkbox[id=select_skin_anxiety1_2]").prop("checked", false);
          <% end %>

          <% if @select_skin_anxiety1_array.include?("pore solution") %>
            $("input:checkbox[id=select_skin_anxiety1_3]").prop("checked", true);
          <% else %>
            $("input:checkbox[id=select_skin_anxiety1_3]").prop("checked", false);
          <% end %>

          <% if @select_skin_anxiety1_array.include?("trouble solution") %>
            $("input:checkbox[id=select_skin_anxiety1_4]").prop("checked", true);
          <% else %>
            $("input:checkbox[id=select_skin_anxiety1_4]").prop("checked", false);
          <% end %>

          <% if @select_skin_anxiety1_array.include?("pigment solution") %>
            $("input:checkbox[id=select_skin_anxiety1_5]").prop("checked", true);
          <% else %>
            $("input:checkbox[id=select_skin_anxiety1_5]").prop("checked", false);
          <% end %>

          <% if @select_skin_anxiety1_array == [] && @custserial.nil? %>
            $("input:checkbox[name=select_skin_anxiety1]").prop("checked", true);
          <% end %>

          // 피부고민2
          <% if @select_skin_anxiety2_array.include?("elasticity solution") %>
            $("input:checkbox[id=select_skin_anxiety2_1]").prop("checked", true);
          <% else %>
            $("input:checkbox[id=select_skin_anxiety2_1]").prop("checked", false);
          <% end %>

          <% if @select_skin_anxiety2_array.include?("wrinkle solution") %>
            $("input:checkbox[id=select_skin_anxiety2_2]").prop("checked", true);
          <% else %>
            $("input:checkbox[id=select_skin_anxiety2_2]").prop("checked", false);
          <% end %>

          <% if @select_skin_anxiety2_array.include?("pore solution") %>
            $("input:checkbox[id=select_skin_anxiety2_3]").prop("checked", true);
          <% else %>
            $("input:checkbox[id=select_skin_anxiety2_3]").prop("checked", false);
          <% end %>

          <% if @select_skin_anxiety2_array.include?("trouble solution") %>
            $("input:checkbox[id=select_skin_anxiety2_4]").prop("checked", true);
          <% else %>
            $("input:checkbox[id=select_skin_anxiety2_4]").prop("checked", false);
          <% end %>

          <% if @select_skin_anxiety2_array.include?("pigment solution") %>
            $("input:checkbox[id=select_skin_anxiety2_5]").prop("checked", true);
          <% else %>
            $("input:checkbox[id=select_skin_anxiety2_5]").prop("checked", false);
          <% end %>

          <% if @select_skin_anxiety2_array == [] && @custserial.nil? %>
            $("input:checkbox[name=select_skin_anxiety2]").prop("checked", true);
          <% end %>

          $("#start_date").datepicker({
                  dateFormat: 'yy-mm-dd',
                  dayNamesMin: [
                      '일',
                      '월',
                      '화',
                      '수',
                      '목',
                      '금',
                      '토'
                  ],
                  monthNamesShort: [
                      '1월',
                      '2월',
                      '3월',
                      '4월',
                      '5월',
                      '6월',
                      '7월',
                      '8월',
                      '9월',
                      '10월',
                      '11월',
                      '12월'
                  ],
                  currentText: '오늘 날짜',
                  changeMonth: true
              });
          $("#end_date").datepicker({
                      dateFormat: 'yy-mm-dd',
                      dayNamesMin: [
                          '일',
                          '월',
                          '화',
                          '수',
                          '목',
                          '금',
                          '토'
                      ],
                      monthNamesShort: [
                          '1월',
                          '2월',
                          '3월',
                          '4월',
                          '5월',
                          '6월',
                          '7월',
                          '8월',
                          '9월',
                          '10월',
                          '11월',
                          '12월'
                      ],
                      currentText: '오늘 날짜',
                      changeMonth: true
                  });

        <% if @start_date.nil? %>
          $("#start_date").datepicker('setDate', '2017-01-25');
        <% else %>
          $("#start_date").datepicker('setDate', '<%= @start_date %>');
        <% end %>
        $("#end_date").datepicker('setDate', '<%= @end_date %>');

        <% if !@shop_cd.nil? && @shop_cd != "" && %>
          document.getElementById("select_shop").value = '<%= @shop_cd %>'
        <% end %>

        <% if !@name.nil? %>
          document.getElementById("name").value = decode_utf8('<%= @name %>')
        <% end %>

        <% if !@custserial.nil? %>
          document.getElementById("custserial").value = '<%= @custserial %>'
        <% end %>

        <% if !@measureno.nil? %>
          document.getElementById("measureno").value = '<%= @measureno %>'
        <% end %>

        <% if !@select_sex.nil? %>
          $('select[id="select_sex"]').val('<%= @select_sex %>');
        <% end %>

        // <% if !@start_age.nil? %>
        //   document.getElementById("start_age").value = '<%= @start_age %>'
        // <% else %>
        //   document.getElementById("start_age").value = '<%= @min_age %>'
        // <% end %>
        // <% if !@end_age.nil? %>
        //   document.getElementById("end_age").value = '<%= @end_age %>'
        // <% else %>
        //   document.getElementById("end_age").value = '<%= @max_age %>'
        // <% end %>

        <% if !@start_birthyy.nil? %>
          document.getElementById("start_birthyy").value = '<%= @start_birthyy %>'
        <% end %>
        <% if !@end_birthyy.nil? %>
          document.getElementById("end_birthyy").value = '<%= @end_birthyy %>'
        <% end %>

        <% if !@start_birthmm.nil? %>
          document.getElementById("start_birthmm").value = '<%= @start_birthmm %>'
        <% end %>
        <% if !@end_birthmm.nil? %>
          document.getElementById("end_birthmm").value = '<%= @end_birthmm %>'
        <% end %>

        <% if !@select_mode.nil? %>
          $('select[id="select_mode"]').val('<%= @select_mode %>');
        <% end %>

        <% if !@select_makeup.nil? %>
          $('select[id="select_makeup"]').val('<%= @select_makeup %>');
        <% end %>

        <% if !@select_area.nil? %>
          $('select[id="select_area"]').val('<%= @select_area %>');
        <% end %>

        <% if !@select_skin_type_device.nil? %>
          $('select[id="select_skin_type_survey"]').val('<%= @select_skin_type_survey %>');
        <% end %>

        <% if !@select_skin_type_survey.nil? %>
          $('select[id="select_skin_type_survey"]').val('<%= @select_skin_type_survey %>');
        <% end %>

        <% if !@select_senstive.nil? %>
          $('select[id="select_senstive"]').val('<%= @select_senstive %>');
        <% end %>

        $("#date_init").click(function(){
          $("#start_date").datepicker('setDate', '2017-01-25');
          $("#end_date").datepicker('setDate', '<%= @today %>');
        });

        $("#age_init").click(function(){
          document.getElementById("start_age").value = '<%= @min_age %>';
          document.getElementById("end_age").value = '<%= @max_age %>';
        });

        $("#birthyy_init").click(function(){
          document.getElementById("start_birthyy").value = '<%= @max_birthyy %>';
          document.getElementById("end_birthyy").value = '2003';
        });

        $("#birthmm_init").click(function(){
          document.getElementById("start_birthmm").value = '<%= @min_birthmm %>';
          document.getElementById("end_birthmm").value = '<%= @max_birthmm %>';
        });

        $(document).on("click", ".table_tr", function (e) {
          var userId = $(this).attr('id').split("/")[0]
          var measureno = $(this).attr('id').split("/")[1]
          window.open("/admin/data/detail?userId=" +userId+ "&measureno=" +measureno, "/admin/data/detail?userId=" +userId+ "&measureno=" +measureno, "scrollbars=1,resizable=1,height=500,width=600");
        });

        $('#filter-btn').click(function(){
          window.open("/admin/data/filter_check", "/admin/data/filter_check", "scrollbars=1,resizable=1,height=600,width=900");
        });

        $('#submit').click(function(){
          load();
        });
      });
      function selectFilter(select_filter){
        filterStr = select_filter
      }

      function load(){
        var select_sex = document.getElementById("select_sex").options[document.getElementById("select_sex").selectedIndex].value;
        var select_mode = document.getElementById("select_mode").options[document.getElementById("select_mode").selectedIndex].value;
        var select_makeup = document.getElementById("select_makeup").options[document.getElementById("select_makeup").selectedIndex].value;
        var select_area = document.getElementById("select_area").options[document.getElementById("select_area").selectedIndex].value;
        var select_senstive = document.getElementById("select_senstive").options[document.getElementById("select_senstive").selectedIndex].value;
        var select_channel = []
        $('input:checkbox[name="check_box"]').each(function() {
            if(this.checked){
              select_channel.push(this.value)
            }
        });
        var select_skin_type_device = []
        $('input:checkbox[name="skin_type_device_check_box"]').each(function() {
            if(this.checked){
              select_skin_type_device.push(this.value)
            }
        });
        var select_skin_type_survey = []
        $('input:checkbox[name="skin_type_survey_check_box"]').each(function() {
            if(this.checked){
              select_skin_type_survey.push(this.value)
            }
        });
        var select_skin_anxiety1 = []
        $('input:checkbox[name="select_skin_anxiety1"]').each(function() {
            if(this.checked){
              select_skin_anxiety1.push(this.value)
            }
        });
        var select_skin_anxiety2 = []
        $('input:checkbox[name="select_skin_anxiety2"]').each(function() {
            if(this.checked){
              select_skin_anxiety2.push(this.value)
            }
        });
        var is_agree_thirdparty_info = []
        $('input:checkbox[name="is_agree_thirdparty_info"]').each(function() {
            if(this.checked){
              is_agree_thirdparty_info.push(this.value)
            }
        });

        url = ""
        url += "/admin/data_list_cnp?start_date=" + $('#start_date').val() + "&end_date=" + $('#end_date').val();
        url += "&select_sex=" + select_sex;
        url += "&start_age=" + document.getElementById("start_age").value;
        url += "&end_age=" + document.getElementById("end_age").value;
        url += "&name=" + encodeURI(encodeURI(document.getElementById("name").value));
        url += "&custserial=" + document.getElementById("custserial").value;
        url += "&measureno=" + document.getElementById("measureno").value;
        url += "&start_birthyy=" + document.getElementById("start_birthyy").value;
        url += "&end_birthyy=" + document.getElementById("end_birthyy").value;
        url += "&start_birthmm=" + document.getElementById("start_birthmm").value;
        url += "&end_birthmm=" + document.getElementById("end_birthmm").value;
        url += "&select_channel=" + select_channel;
        url += "&select_mode=" + select_mode;
        url += "&select_makeup=" + select_makeup;
        url += "&select_area=" + select_area;
        url += "&select_skin_type_device=" + select_skin_type_device;
        url += "&select_skin_type_survey=" + select_skin_type_survey;
        url += "&select_senstive=" + select_senstive;
        url += "&select_skin_anxiety1=" + select_skin_anxiety1;
        url += "&select_skin_anxiety2=" + select_skin_anxiety2;
        url += "&select_filter=" +filterStr
        url += "&is_agree_thirdparty_info=" +is_agree_thirdparty_info;

        location.href = url;
      }

      function decode_utf8(s) {
        try{
          return decodeURI(s);
        }catch(err){
          console.log(err);
          return s;
        }
      }

      function showDetail(userId, measureno){
        window.open("/admin/data/detail?userId=" +userId+ "&measureno=" +measureno, "/admin/data/detail?userId=" +userId+ "&measureno=" +measureno, "scrollbars=1,resizable=1,height=500,width=600");
      }
    </script>

    <style>
    .fixed-table-body {
      max-height: 280px;
    }

    .text-center {
        margin: 0 auto;
        text-align: center !important;
    }

    th {
      font-size: 15px;
      text-align: center !important;
    }

    td {
      width: auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 auto;
      text-align: center !important;
    }
    </style>

  <body>
    <%= render "admin/header" %>
    <div id="filter" style="background: #b1cbbb; padding: 8px;">
      <div class="form-inline">
        <p style="float:left; margin-top: 7px;">분석일:&nbsp;</p>
        <input class="form-control" type="text" id="start_date" style="float:left; width:100px;">
        <input class="form-control" type="text" id="end_date" style="float:left; width:100px;">
        <button id="date_init" class="btn btn-primary" style="float:left;">전체</button>

        <p style="float:left; margin-left: 20px; margin-top: 5px;">채널:&nbsp;</p>
        <p style="float:left; margin-left: 5px; margin-top: 5px;">CNP&nbsp;</p>
        <input type="checkbox" name="check_box" value="CNP" id="CNP" style="float:left; margin-top:9px;"/>
        <p style="float:left; margin-left: 10px; margin-top: 5px;">CNP TEST&nbsp;</p>
        <input type="checkbox" name="check_box" value="CLAB" id="CLAB" style="float:left; margin-top:9px;"/>

        <p style="float:left; margin-left: 20px; margin-top: 7px;">매장 코드:&nbsp;</p>
        <input class="form-control" type="text" name="select_shop" id="select_shop" style="float:left; width: 200px;">
        <p style="float:right; margin-right:20px;">
          Download:
          <%= link_to "Excel", admin_data_list_cnp_path(format: "xlsx", :start_date => @start_date, :end_date => @end_date,
          :select_sex => @select_sex, :start_age => @start_age, :end_age => @end_age, :name => @name, :custserial => @custserial, :measureno => @measureno,
          :start_birthyy => @start_birthyy, :end_birthyy => @end_birthyy, :start_birthmm => @start_birthmm, :end_birthmm => @end_birthmm,
          :select_mode => @select_mode, :select_makeup => @select_makeup, :select_area => @select_area,
          :select_skin_type_device => @select_skin_type_device, :select_skin_type_survey => @select_skin_type_survey, :select_senstive => @select_senstive,
          :select_skin_anxiety1 => @select_skin_anxiety1, :select_skin_anxiety2 => @select_skin_anxiety2, :select_filter => @params_filter,
          :select_channel => @ch_cd, :select_shop => @shop_cd, :is_agree_thirdparty_info => @is_agree_thirdparty_info, :isExcel => true) %>
        </p>
      </div><br><br>

      <div class="form-inline">
        이름 :
        <input class="form-control" type="text" id="name" style="width:100px;">

        시리얼키 :
        <input class="form-control" type="text" id="custserial" style="width:100px;">

        분석횟수 :
        <input class="form-control" type="text" id="measureno" style="width:100px;">

        성별 :
        <select class="form-control" id="select_sex">
          <option value="all">전체</option>
          <option value="F">여자</option>
          <option value="M">남자</option>
        </select>

        모드 :
        <select class="form-control" id="select_mode">
          <option value="all">전체</option>
          <option value="F">종합 모드</option>
          <option value="T">간편 모드</option>
          <option value="">설문 모드</option>
        </select>

        메이크업 유무 :
        <select class="form-control" id="select_makeup">
          <option value="all">전체</option>
          <option value="1">유</option>
          <option value="2">무</option>
        </select>

        측정부위 :
        <select class="form-control" id="select_area">
          <option value="all">전체</option>
          <option value="F">전면</option>
          <option value="L">좌</option>
          <option value="R">우</option>
        </select>
      </div>

      <div class="form-inline">
        <p style="float:left; margin-top: 5px;">피부타입(기기):&nbsp;</p>
        <p style="float:left; margin-left: 5px; margin-top: 5px;">건성&nbsp;</p>
        <input type="checkbox" name="skin_type_device_check_box" value="gunsung" id="gunsung" style="float:left; margin-top:9px;">
        <p style="float:left; margin-left: 10px; margin-top: 5px;">중성&nbsp;</p>
        <input type="checkbox" name="skin_type_device_check_box" value="jungsung" id="jungsung" style="float:left; margin-top:9px;">
        <p style="float:left; margin-left: 10px; margin-top: 5px;">지성&nbsp;</p>
        <input type="checkbox" name="skin_type_device_check_box" value="jisung" id="jisung" style="float:left; margin-top:9px;">
        <p style="float:left; margin-left: 10px; margin-top: 5px;">T존 복합&nbsp;</p>
        <input type="checkbox" name="skin_type_device_check_box" value="t_zone_boghab" id="t_zone_boghab" style="float:left; margin-top:9px;">
        <p style="float:left; margin-left: 10px; margin-top: 5px;">U존 복합&nbsp;</p>
        <input type="checkbox" name="skin_type_device_check_box" value="u_zone_boghab" id="u_zone_boghab" style="float:left; margin-top:9px;">

        <p style="float:left; margin-left: 40px; margin-top: 5px;">피부타입(설문):&nbsp;</p>
        <p style="float:left; margin-left: 5px; margin-top: 5px;">건복합성&nbsp;</p>
        <input type="checkbox" name="skin_type_survey_check_box" value="skin_type_gun_boggab" id="skin_type_gun_boggab" style="float:left; margin-top:9px;">
        <p style="float:left; margin-left: 10px; margin-top: 5px;">지복합성&nbsp;</p>
        <input type="checkbox" name="skin_type_survey_check_box" value="skin_type_jisung_boghab" id="skin_type_jisung_boghab" style="float:left; margin-top:9px;">
        <p style="float:left; margin-left: 10px; margin-top: 5px;">건성&nbsp;</p>
        <input type="checkbox" name="skin_type_survey_check_box" value="skin_type_gunsung" id="skin_type_gunsung" style="float:left; margin-top:9px;">
        <p style="float:left; margin-left: 10px; margin-top: 5px;">중성&nbsp;</p>
        <input type="checkbox" name="skin_type_survey_check_box" value="skin_type_jungsung" id="skin_type_jungsung" style="float:left; margin-top:9px;">
        <p style="float:left; margin-left: 10px; margin-top: 5px;">지성&nbsp;</p>
        <input type="checkbox" name="skin_type_survey_check_box" value="skin_type_jisung" id="skin_type_jisung" style="float:left; margin-top:9px;">

        <p style="float:left; margin-left: 40px; margin-top: 5px;">민감성:&nbsp;</p>
        <select class="form-control" id="select_senstive" style="float:left;">
          <option value="all">전체</option>
          <option value="yes">예</option>
          <option value="no">아니오</option>
        </select>
      </div><br><br>

      <div class="form-inline">
        <p style="float:left; margin-top: 5px;">피부고민1:&nbsp;</p>
        <p style="float:left; margin-left: 10px; margin-top: 5px;">탄력&nbsp;</p>
        <input type="checkbox" name="select_skin_anxiety1" value="elasticity solution" id="select_skin_anxiety1_1" style="float:left; margin-top:9px;">
        <p style="float:left; margin-left: 10px; margin-top: 5px;">주름&nbsp;</p>
        <input type="checkbox" name="select_skin_anxiety1" value="wrinkle solution" id="select_skin_anxiety1_2" style="float:left; margin-top:9px;">
        <p style="float:left; margin-left: 10px; margin-top: 5px;">모공&nbsp;</p>
        <input type="checkbox" name="select_skin_anxiety1" value="pore solution" id="select_skin_anxiety1_3" style="float:left; margin-top:9px;">
        <p style="float:left; margin-left: 10px; margin-top: 5px;">트러블&nbsp;</p>
        <input type="checkbox" name="select_skin_anxiety1" value="trouble solution" id="select_skin_anxiety1_4" style="float:left; margin-top:9px;">
        <p style="float:left; margin-left: 10px; margin-top: 5px;">색소침착&nbsp;</p>
        <input type="checkbox" name="select_skin_anxiety1" value="pigment solution" id="select_skin_anxiety1_5" style="float:left; margin-top:9px;">

        <p style="float:left; margin-left: 40px; margin-top: 5px;">피부고민2:&nbsp;</p>
        <p style="float:left; margin-left: 10px; margin-top: 5px;">탄력&nbsp;</p>
        <input type="checkbox" name="select_skin_anxiety2" value="elasticity solution" id="select_skin_anxiety2_1" style="float:left; margin-top:9px;">
        <p style="float:left; margin-left: 10px; margin-top: 5px;">주름&nbsp;</p>
        <input type="checkbox" name="select_skin_anxiety2" value="wrinkle solution" id="select_skin_anxiety2_2" style="float:left; margin-top:9px;">
        <p style="float:left; margin-left: 10px; margin-top: 5px;">모공&nbsp;</p>
        <input type="checkbox" name="select_skin_anxiety2" value="pore solution" id="select_skin_anxiety2_3" style="float:left; margin-top:9px;">
        <p style="float:left; margin-left: 10px; margin-top: 5px;">트러블&nbsp;</p>
        <input type="checkbox" name="select_skin_anxiety2" value="trouble solution" id="select_skin_anxiety2_4" style="float:left; margin-top:9px;">
        <p style="float:left; margin-left: 10px; margin-top: 5px;">색소침착&nbsp;</p>
        <input type="checkbox" name="select_skin_anxiety2" value="pigment solution" id="select_skin_anxiety2_5" style="float:left; margin-top:9px;">
      </div><br><br>

      <div class="form-inline">
        나이 :
        <input class="form-control" type="text" id="start_age" style="width:100px;">
        <input class="form-control" type="text" id="end_age" style="width:100px;">
        <button id="age_init" class="btn btn-primary">전체</button>

        연도 :
        <input class="form-control" type="text" id="start_birthyy" style="width:100px;">
        <input class="form-control" type="text" id="end_birthyy" style="width:100px;">
        <button id="birthyy_init" class="btn btn-primary">전체</button>

        생월 :
        <input class="form-control" type="text" id="start_birthmm" style="width:100px;">
        <input class="form-control" type="text" id="end_birthmm" style="width:100px;">
        <button id="birthmm_init" class="btn btn-primary">전체</button>
      </div>
      <div class="form-inline" style="margin-top:10px;">
        <font style="margin-left:10px;"><제 3자 정보 제공 동의 고객> 예: </font><input type="checkbox" name="is_agree_thirdparty_info" id="is_agree_thirdparty_info_true" value="T">
        <font style="margin-left:10px;">아니오: </font><input type="checkbox" name="is_agree_thirdparty_info" id="is_agree_thirdparty_info_false" value="F">
        <button class="btn btn-warning" id="submit">조회</button>
      </div>
    </div>

    <div style="background: #b1cbbb; padding-left:10px;">
      <button id="filter-btn" class="btn btn-primary">필터링 선택</button>
    </div>

    <div id="avr" style="background: #eea29a; padding: 8px;">
      총 인원 수 : <%= @count %>
    </div>

    <table data-toggle="table">
      <thead style="width: 100%;">
        <tr>
          <th>시리얼</th>
          <th>이름</th>
          <th>분석 횟수</th>
          <th>채널</th>
          <th>측정 부위</th>
          <th>진단 날짜</th>
          <th>업데이트 일</th>
            <% if @select_filter != [] %>
              <% @select_filter.each do |filter| %>
                <% if filter.include?("mo_1") %>
                  <th>수분 측정 이마</th>
                <% elsif filter.include?("mo_7") %>
                  <th>수분 측정 우측 볼</th>
                <% elsif filter.include?("mo_8") %>
                  <th>수분 측정 좌측 볼</th>
                <% elsif filter.include?("pr_1") %>
                  <th>모공 측정 이마</th>
                <% elsif filter.include?("pr_2") %>
                  <th>모공 측정 코</th>
                <% elsif filter.include?("pr_7") %>
                  <th>모공 측정 우측 볼</th>
                <% elsif filter.include?("pr_8") %>
                  <th>모공 측정 좌측 볼</th>
                <% elsif filter.include?("pr_avr") %>
                  <th>모공 측정 평균</th>
                <% elsif filter.include?("wr_3") %>
                  <th>주름 측정 우측 눈옆</th>
                <% elsif filter.include?("wr_4") %>
                  <th>주름 측정 우측 눈밑</th>
                <% elsif filter.include?("wr_5") %>
                  <th>주름 측정 좌측 눈옆</th>
                <% elsif filter.include?("wr_6") %>
                  <th>주름 측정 좌측 눈밑</th>
                <% elsif filter.include?("wr_avr") %>
                  <th>수분 측정 평균</th>
                <% elsif filter.include?("el_7") %>
                  <th>탄력 측정 우측 볼</th>
                <% elsif filter.include?("el_8") %>
                  <th>탄력 측정 우측 볼</th>
                <% elsif filter.include?("el_avr") %>
                  <th>탄력 측정 평균</th>
                <% elsif filter.include?("el_angle_7") %>
                  <th>탄력 각도 우측 볼</th>
                <% elsif filter.include?("el_angle_8") %>
                  <th>탄력 각도 좌측 볼</th>
                <% elsif filter.include?("sb_1") %>
                  <th>피지 개수 이마</th>
                <% elsif filter.include?("sb_2") %>
                  <th>피지 개수 코</th>
                <% elsif filter.include?("sb_7") %>
                  <th>피지 개수 우측 볼</th>
                <% elsif filter.include?("sb_8") %>
                  <th>피지 개수 우측 볼</th>
                <% elsif filter.include?("sb_avr") %>
                  <th>피지 개수 평균</th>
                <% elsif filter.include?("pp_1") %>
                  <th>포피린 개수 이마</th>
                <% elsif filter.include?("pp_2") %>
                  <th>포피린 개수 코</th>
                <% elsif filter.include?("pp_7") %>
                  <th>포피린 개수 우측 볼</th>
                <% elsif filter.include?("pp_8") %>
                  <th>포피린 개수 우측 볼</th>
                <% elsif filter.include?("pp_avr") %>
                  <th>포피린 개수 평균</th>
                <% elsif filter.include?("pp_ratio_1") %>
                  <th>포피린 비 이마</th>
                <% elsif filter.include?("pp_ratio_2") %>
                  <th>포피린 비 코</th>
                <% elsif filter.include?("pp_ratio_7") %>
                  <th>포피린 비 우측 볼</th>
                <% elsif filter.include?("pp_ratio_8") %>
                  <th>포피린 비 우측 볼</th>
                <% elsif filter.include?("pp_ratio_avr") %>
                  <th>포피린 비 평균</th>
                <% elsif filter.include?("sp_pl_1") %>
                  <th>편광 색소침착 측정 이마</th>
                <% elsif filter.include?("sp_pl_2") %>
                  <th>편광 색소침착 측정 코</th>
                <% elsif filter.include?("sp_pl_3") %>
                  <th>편광 색소침착 측정 우측 눈옆</th>
                <% elsif filter.include?("sp_pl_4") %>
                  <th>편광 색소침착 측정 우측 눈밑</th>
                <% elsif filter.include?("sp_pl_5") %>
                  <th>편광 색소침착 측정 좌측 눈옆</th>
                <% elsif filter.include?("sp_pl_6") %>
                  <th>편광 색소침착 측정 좌측 눈밑</th>
                <% elsif filter.include?("sp_pl_7") %>
                  <th>편광 색소침착 측정 우측 볼</th>
                <% elsif filter.include?("sp_pl_8") %>
                  <th>편광 색소침착 측정 우측 볼</th>
                <% elsif filter.include?("sp_pl_avr") %>
                  <th>편광 색소침착 측정 평균</th>
                <% elsif filter.include?("sp_uv_1") %>
                  <th>UV광 색소침착 측정 이마</th>
                <% elsif filter.include?("sp_uv_2") %>
                  <th>UV광 색소침착 측정 코</th>
                <% elsif filter.include?("sp_uv_3") %>
                  <th>UV광 색소침착 측정 우측 눈옆</th>
                <% elsif filter.include?("sp_uv_4") %>
                  <th>UV광 색소침착 측정 우측 눈밑</th>
                <% elsif filter.include?("sp_uv_5") %>
                  <th>UV광 색소침착 측정 좌측 눈옆</th>
                <% elsif filter.include?("sp_uv_6") %>
                  <th>UV광 색소침착 측정 좌측 눈밑</th>
                <% elsif filter.include?("sp_uv_7") %>
                  <th>UV광 색소침착 측정 우측 볼</th>
                <% elsif filter.include?("sp_uv_8") %>
                  <th>UV광 색소침착 측정 우측 볼</th>
                <% elsif filter.include?("sp_uv_avr") %>
                  <th>UV광 색소침착 측정 평균</th>
                <% elsif filter.include?("sk_c_1") %>
                  <th>피부톤 측정 이마</th>
                <% elsif filter.include?("sk_c_2") %>
                  <th>피부톤 측정 코</th>
                <% elsif filter.include?("sk_c_3") %>
                  <th>피부톤 측정 우측 눈옆</th>
                <% elsif filter.include?("sk_c_4") %>
                  <th>피부톤 측정 우측 눈밑</th>
                <% elsif filter.include?("sk_c_5") %>
                  <th>피부톤 측정 좌측 눈옆</th>
                <% elsif filter.include?("sk_c_6") %>
                  <th>피부톤 측정 좌측 눈밑</th>
                <% elsif filter.include?("sk_c_7") %>
                  <th>피부톤 측정 우측 볼</th>
                <% elsif filter.include?("sk_c_8") %>
                  <th>피부톤 측정 우측 볼</th>
                <% elsif filter.include?("sk_c_avr") %>
                  <th>피부톤 측정 평균</th>
                <% elsif filter.include?("sk_r_1") %>
                  <th>피부톤 Red 이마</th>
                <% elsif filter.include?("sk_r_2") %>
                  <th>피부톤 Red 코</th>
                <% elsif filter.include?("sk_r_4") %>
                  <th>피부톤 Red 우측 눈밑</th>
                <% elsif filter.include?("sk_r_6") %>
                  <th>피부톤 Red 좌측 눈밑</th>
                <% elsif filter.include?("sk_r_7") %>
                  <th>피부톤 Red 우측 볼</th>
                <% elsif filter.include?("sk_r_8") %>
                  <th>피부톤 Red 좌측 볼</th>
                <% elsif filter.include?("sk_r_avr") %>
                  <th>피부톤 Red 평균</th>
                <% elsif filter.include?("sk_g_1") %>
                  <th>피부톤 Green 이마</th>
                <% elsif filter.include?("sk_g_2") %>
                  <th>피부톤 Green 코</th>
                <% elsif filter.include?("sk_g_4") %>
                  <th>피부톤 Green 우측 눈밑</th>
                <% elsif filter.include?("sk_g_6") %>
                  <th>피부톤 Green 좌측 눈밑</th>
                <% elsif filter.include?("sk_g_7") %>
                  <th>피부톤 Green 우측 볼</th>
                <% elsif filter.include?("sk_g_8") %>
                  <th>피부톤 Green 좌측 볼</th>
                <% elsif filter.include?("sk_g_avr") %>
                  <th>피부톤 Green 평균</th>
                <% elsif filter.include?("sk_b_1") %>
                  <th>피부톤 Blue 이마</th>
                <% elsif filter.include?("sk_b_2") %>
                  <th>피부톤 Blue 코</th>
                <% elsif filter.include?("sk_b_4") %>
                  <th>피부톤 Blue 우측 눈밑</th>
                <% elsif filter.include?("sk_b_6") %>
                  <th>피부톤 Blue 좌측 눈밑</th>
                <% elsif filter.include?("sk_b_7") %>
                  <th>피부톤 Blue 우측 볼</th>
                <% elsif filter.include?("sk_b_8") %>
                  <th>피부톤 Blue 좌측 볼</th>
                <% elsif filter.include?("sk_b_avr") %>
                  <th>피부톤 Blue 평균</th>
                <% elsif filter.include?("lab_l") %>
                  <th>피부색 L 값</th>
                <% elsif filter.include?("lab_a") %>
                  <th>피부색 a 값</th>
                <% elsif filter.include?("lab_b") %>
                  <th>피부색 b 값</th>
                <% elsif filter.include?("e_sebum_t") %>
                  <th>피지 T 값(T존)</th>
                <% elsif filter.include?("e_sebum_u") %>
                  <th>피지 E 값(U존)</th>
                <% elsif filter.include?("colortype") %>
                  <th>피부톤</th>
                <% elsif filter.include?("suntype") %>
                  <th>선 민감도</th>
                <% elsif filter.include?("skintype") %>
                  <th>피부타입(야누스 측정)</th>
                <% elsif filter.include?("m_skintype") %>
                  <th>피부타입(설문 로직)</th>
                <% elsif filter.include?("score_r") %>
                  <th>동안각도 점수 우측</th>
                <% elsif filter.include?("score_l") %>
                  <th>동안각도 점수 좌측</th>
                <% elsif filter.include?("e_porphyrin_t") %>
                  <th>포피린 E 값(T존)</th>
                <% elsif filter.include?("e_porphyrin_u") %>
                  <th>포피린 E 값(U존)</th>
                <% elsif filter.include?("shop_cd") %>
                  <th>매장코드</th>
                <% else %>
                  <th class="text-center"><%= filter %></th>
                <% end %>
              <% end %>
            <% else %>
              <th>수분 측정 이마</th>
              <th>수분 측정 우측 볼</th>
              <th>수분 측정 좌측 볼</th>
              <th>모공 측정 이마</th>
              <th>모공 측정 코</th>
              <th>모공 측정 우측 볼</th>
              <th>모공 측정 좌측 볼</th>
              <th>모공 측정 평균</th>
              <th>주름 측정 우측 눈옆</th>
              <th>주름 측정 우측 눈밑</th>
              <th>주름 측정 좌측 눈옆</th>
              <th>주름 측정 좌측 눈밑</th>
              <th>주름 측정 평균</th>
              <th>탄력 측정 우측 볼</th>
              <th>탄력 측정 좌측 볼</th>
              <th>탄력 측정 평균</th>
              <th>탄력 각도 우측 볼</th>
              <th>탄력 각도 좌측 볼</th>
              <th>피지 개수 이마</th>
              <th>피지 개수 코</th>
              <th>피지 개수 우측 볼</th>
              <th>피지 개수 좌측 볼</th>
              <th>피지 개수 평균</th>
              <th>포피린 개수 이마</th>
              <th>포피린 개수 코</th>
              <th>포피린 개수 우측 볼</th>
              <th>포피린 개수 좌측 볼</th>
              <th>포피린 개수 평균</th>
              <th>포피린 비 이마</th>
              <th>포피린 비 코</th>
              <th>포피린 비 우측 볼</th>
              <th>포피린 비 좌측 볼</th>
              <th>포피린 비 평균</th>
              <th>편광 색소침착 측정 이마</th>
              <th>편광 색소침착 측정 코</th>
              <th>편광 색소침착 측정 우측 눈옆</th>
              <th>편광 색소침착 측정 우측 눈밑</th>
              <th>편광 색소침착 측정 좌측 눈옆</th>
              <th>편광 색소침착 측정 좌측 눈밑</th>
              <th>편광 색소침착 측정 우측 볼</th>
              <th>편광 색소침착 측정 좌측 볼</th>
              <th>편광 색소침착 측정 평균</th>
              <th>UV광 색소침착 측정 이마</th>
              <th>UV광 색소침착 측정 코</th>
              <th>UV광 색소침착 측정 우측 눈옆</th>
              <th>UV광 색소침착 측정 우측 눈밑</th>
              <th>UV광 색소침착 측정 좌측 눈옆</th>
              <th>UV광 색소침착 측정 좌측 눈밑</th>
              <th>UV광 색소침착 측정 우측 볼</th>
              <th>UV광 색소침착 측정 좌측 볼</th>
              <th>UV광 색소침착 측정 평균</th>
              <th>피부톤 측정 이마</th>
              <th>피부톤 측정 코</th>
              <th>피부톤 측정 우측 눈밑</th>
              <th>피부톤 측정 좌측 눈밑</th>
              <th>피부톤 측정 우측 볼</th>
              <th>피부톤 측정 좌측 볼</th>
              <th>피부톤 측정 평균</th>
              <th>피부톤 Red 이마</th>
              <th>피부톤 Red 코</th>
              <th>피부톤 Red 우측 눈밑</th>
              <th>피부톤 Red 좌측 눈밑</th>
              <th>피부톤 Red 우측 볼</th>
              <th>피부톤 Red 좌측 볼</th>
              <th>피부톤 Red 평균</th>
              <th>피부톤 Green 이마</th>
              <th>피부톤 Green 코</th>
              <th>피부톤 Green 우측 눈밑</th>
              <th>피부톤 Green 좌측 눈밑</th>
              <th>피부톤 Green 우측 볼</th>
              <th>피부톤 Green 좌측 볼</th>
              <th>피부톤 Green 평균</th>
              <th>피부톤 Blue 이마</th>
              <th>피부톤 Blue 코</th>
              <th>피부톤 Blue 우측 눈밑</th>
              <th>피부톤 Blue 좌측 눈밑</th>
              <th>피부톤 Blue 우측 볼</th>
              <th>피부톤 Blue 좌측 볼</th>
              <th>피부톤 Blue 평균</th>
              <th>피부색 L 값</th>
              <th>피부색 a 값</th>
              <th>피부색 b 값</th>
              <th>피지 E 값 (T 존)</th>
              <th>피지 E 값 (U 존)</th>
              <th>피부톤</th>
              <th>선 민감도</th>
              <th>피부타입(야누스 측정)</th>
              <th>피부타입(설문 로직)</th>
              <th>동안각도 점수 우측</th>
              <th>동안각도 점수 좌측</th>
              <th>포피린 E 값(T존)</th>
              <th>포피린 E 값(U존)</th>
              <th>매장코드</th>
            <% end %>
        </tr>
      </thead>
      <tbody>
        <% if !@is_admin_init %>
          <% @fcdatas.each do |fcdata| %>
            <%= render partial: "admin/data/item", locals: { fcdata: fcdata } %>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <div>
      <%= paginate @fcdatas %>
    </div>
  </body>
</html>
