<!DOCTYPE html>
<html>
    <head>
      <script>
        $(function () {

        });
      </script>
    </head>
    <body>
      <tr class="table_tr" id="<%= privacy.id %>/<%= privacy.email %>">
        <td class="text-center" style="text-align: center !important;"><%= privacy.id.to_i %></td>
        <td><%= privacy.email %></td>
        <td><%= privacy.category %></td>
        <td><%= privacy.ip %></td>
        <td><%= privacy.created_at %></td>
      </tr>
    </body>
</html>
