<!DOCTYPE html>
<html>
    <head>
      <script>
        $(function () {
          try
          {
            var userName = decode_utf8('<%= user.custname %>')
            tempUserName = ""
            for(var i = 0; i < userName.length; i++){
              if(i == 0)
                tempUserName += userName.slice(0, 1)
              else if(i == userName.length - 1)
                tempUserName += userName.slice(userName.length - 1, userName.length)
              else
                tempUserName += "*"
            }
            $('#name_<%= user.custserial.to_i %>_<%= user.lastanaldate %>').append(tempUserName);
          }
          catch(err)
          {
            $('#name_<%= user.custserial.to_i %>_<%= user.lastanaldate %>').append('<%= user.custname %>');
          }

          try
          {
            var phone = '<%= user.phone %>'
            tempPhone = ""
            for(var i = 0; i < phone.length; i++){
              if(i == 0 || i == 1 || (i > phone.length - 5 && i != phone.length - 1))
                continue

              if(i == 2)
                tempPhone += phone.slice(0, 3)
              else if(i == phone.length - 1)
                tempPhone += phone.slice(phone.length - 4, phone.length)
              else
                tempPhone += "*"
            }
            $('#phone_<%= user.custserial.to_i %>_<%= user.lastanaldate %>').append(tempPhone);
          }
          catch(err)
          {
            $('#phone_<%= user.custserial.to_i %>_<%= user.lastanaldate %>').append('<%= user.phone %>');
          }
        });

        function decode_utf8(s) {
          return decodeURI(s);
        }
      </script>
    </head>
    <body>
      <!-- <h3>유저목록< -->
      <div style="display:table; height:60px; width: 100%; float:left; background: #ffe6ee; margin: 2px; padding: 8px;">
        <font size="4" onClick="showDetail(<%= user.custserial.to_i %>)"><div id="name_<%= user.custserial.to_i %>_<%= user.lastanaldate %>"></div></font>

        <div><font size="2">
          (가입날짜 : <%= user.uptdate %> / 마지막 진단 날짜 : <%= user.lastanaldate %>) <b>시리얼</b> <%= user.custserial.to_i %> / <b>전화번호</b> <div id="phone_<%= user.custserial.to_i %>_<%= user.lastanaldate %>"></div> / <b>성별</b> <%= user.sex %> / <b>생년월일</b> <%= user.birthyy %>-<%= user.birthmm %>-<%= user.birthdd %><br>
          <% is_agree_privacy = "X" %>
          <% if user.is_agree_privacy == "T" %>
            <% is_agree_privacy = "O" %>
          <% end %>
          <b>개인정보 이용동의</b> <%= is_agree_privacy %> /
          <% is_agree_thirdparty = "X" %>
          <% if user.is_agree_thirdparty_info == "T" %>
            <% is_agree_thirdparty = "O" %>
          <% end %>
          <b>제 3자 정보 제공 동의</b> <%= is_agree_thirdparty %> /
          <% is_agree_marketing = "X" %>
          <% if user.is_agree_marketing == "T" %>
            <% is_agree_marketing = "O" %>
          <% end %>
          <b>마케팅 정보 동의</b> <%= is_agree_marketing %> /
          <!-- <% is_agree_after = "X" %>
          <% if user.is_agree_after == "T" %>
            <% is_agree_after = "O" %>
          <% end %> -->
           <!-- <b>사후 피드백 서비스</b> <%= is_agree_after %>  -->
           <!-- / -->
            <b>측정 횟수</b> <%= Fctabletinterview.where(custserial: user.custserial).count %>
        </font>
        </div>
      </div>
    </body>
</html>
