<!DOCTYPE html>
<html>
    <head>
      <script type="text/javascript" src="../js/jquery.js"></script>
      <script type="text/javascript" src="../js/bootstrap.js"></script>

      <link href="../css/bootstrap.min.css" rel="stylesheet">

      <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
      <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

      <script>
        $(function () {
          <% user = Custinfo.where(custserial: fcdata.custserial).first %>
          <% if !user.nil? %>
            try
            {
              var userName = decode_utf8('<%= user.custname %>')
              tempUserName = ""
              if (userName.length == 2){
                tempUserName += userName.slice(0, 1)
                tempUserName += "*"
              } else {
                for(var i = 0; i < userName.length; i++){
                  if(i == 0)
                    tempUserName += userName.slice(0, 1)
                  else if(i == userName.length - 1)
                    tempUserName += userName.slice(userName.length - 1, userName.length)
                  else
                    tempUserName += "*"
                }
              }
              $('#name_fcdata_<%= fcdata.custserial.to_i %>_<%= fcdata.measureno.to_i %>').append(tempUserName);
            }
            catch(err)
            {
              $('#name_fcdata_<%= fcdata.custserial.to_i %>_<%= fcdata.measureno.to_i %>').append('<%= user.custname %>');
            }

            try
            {
              var phone = '<%= user.phone %>'
              tempPhone = ""
              for(var i = 0; i < phone.length; i++){
                if(i == 0 || i == 1 || (i > phone.length - 5 && i != phone.length - 1))
                  continue

                if(i == 2)
                  tempPhone += phone.slice(0, 3)
                else if(i == phone.length - 1)
                  tempPhone += phone.slice(phone.length - 4, phone.length)
                else
                  tempPhone += "*"
              }
              $('#phone_<%= user.custserial.to_i %>_<%= fcdata.uptdate %>').append(tempPhone);
            }
            catch(err)
            {
              $('#phone_<%= user.custserial.to_i %>_<%= fcdata.uptdate %>').append('<%= user.phone %>');
            }
          <% end %>
        });

        function changeFlag(custserial, ch_cd, measureno){
          console.log("GO!");
          if($("#flag_check_box_" + custserial + "_" + ch_cd + "_" + measureno).is(':checked')) {
            console.log("checked!!!");
            flag = "F"
          } else {
            console.log("unchecked!!!");
            flag = "T"
          }

          var formData = new FormData();
          formData.append("custserial", custserial);
          formData.append("ch_cd", ch_cd);
          formData.append("measureno", measureno);
          formData.append("flag", flag);

          $.ajax({
              url: "/admin/data_and_gene_update",
              type: 'POST',
              data: formData,
              async: false,
              cache: false,
              contentType: false,
              processData: false,
              success: function (response) {
                console.log(response);
              },
              error: function (response){
                console.log(response);
              }
          });
        }

        function decode_utf8(s) {
          try{
            return decodeURI(s);
          }catch(err){
            console.log(err);
            return s;
          }
        }
      </script>
    </head>
    <body>
      <tr class="table_tr text-center" id="<%= fcdata.custserial.to_i %>/<%= fcdata.ch_cd %>/<%= fcdata.measureno %>">
        <td class="text-center"><%= fcdata.custserial.to_i %></td>
        <td class="text-center" id="name_fcdata_<%= fcdata.custserial.to_i %>_<%= fcdata.measureno.to_i %>"></td>
        <td class="text-center"><%= fcdata.measuredate %></td>
        <td class="text-center"><%= fcdata.ch_cd %></td>
        <td class="text-center"><%= fcdata.shop_cd %></td>
        <td class="text-center"><%= fcdata.measureno.to_i %></td>
        <% if @is_show_flag %>
          <td class="text-center">
            <% if fcdata.flag == "T" %>
              <input type="checkbox" name="flag_check_box_<%= fcdata.custserial.to_i %>_<%= fcdata.ch_cd %>_<%= fcdata.measureno %>" value="T" onClick="changeFlag('<%= fcdata.custserial.to_i %>', '<%= fcdata.ch_cd %>', '<%= fcdata.measureno %>')" checked/>
            <% else %>
              <input type="checkbox" name="flag_check_box_<%= fcdata.custserial.to_i %>_<%= fcdata.ch_cd %>_<%= fcdata.measureno %>" value="T" onClick="changeFlag('<%= fcdata.custserial.to_i %>', '<%= fcdata.ch_cd %>', '<%= fcdata.measureno %>')"/>
            <% end %>
          </td>
        <% end %>
      </tr>
    </body>
</html>
