<td><%= migen_agree.custserial %></td>
<td><%= migen_agree.ch_cd %></td>
<td><%= migen_agree.shop_cd %></td>
<td><%= migen_agree.is_private %></td>
<td><%= migen_agree.private_agree_dt %></td>
<td><%= migen_agree.private_retract_dt %></td>
<td><%= migen_agree.is_consignment %></td>
<td><%= migen_agree.consignment_agree_dt %></td>
<td><%= migen_agree.consignment_retract_dt %></td>
<td><%= migen_agree.is_skin_residence %></td>
<td><%= migen_agree.skin_residence_agree_dt %></td>
<td><%= migen_agree.skin_residence_retract_dt %></td>
<td><%= migen_agree.is_sensitive %></td>
<td><%= migen_agree.sensitive_agree_dt %></td>
<td><%= migen_agree.sensitive_retract_dt %></td>
<td><%= migen_agree.is_private_third %></td>
<td><%= migen_agree.private_third_agree_dt %></td>
<td><%= migen_agree.private_third_retract_dt %></td>
<td><%= migen_agree.is_sensitive_third %></td>
<td><%= migen_agree.sensitive_third_agree_dt %></td>
<td><%= migen_agree.sensitive_third_retract_dt %></td>
<td><%= migen_agree.is_marketing %></td>
<td><%= migen_agree.marketing_agree_dt %></td>
<td><%= migen_agree.marketing_retract_dt %></td>
