<html>
  <head>
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.js"></script>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

    <script>
    $ (function () {
        window.resizeTo(500, 700);

          <% if @user.is_agree_privacy== "T" %>
            $('input:radio[name=is_agree_privacy]:input[value=T]').attr("checked", true);
          <% end %>
          <% if @user.is_agree_thirdparty_info== "T" %>
            $('input:radio[name=is_agree_thirdparty_info]:input[value=T]').attr("checked", true);
          <% end %>
          <% if @user.is_agree_marketing== "T" %>
            $('input:radio[name=is_agree_marketing]:input[value=T]').attr("checked", true);
          <% end %>
          <% if @user.is_agree_after== "T" %>
            $('input:radio[name=is_agree_after]:input[value=T]').attr("checked", true);
          <% end %>

          $(document).on("click", ".edit-user", function (e) {
            var is_private = $(':radio[name="is_private"]:checked').val();
            var is_consignment = $(':radio[name="is_consignment"]:checked').val();
            var is_skin_residence = $(':radio[name="is_skin_residence"]:checked').val();
            var is_sensitive = $(':radio[name="is_sensitive"]:checked').val();
            var is_private_third = $(':radio[name="is_private_third"]:checked').val();
            var is_sensitive_third = $(':radio[name="is_sensitive_third"]:checked').val();
            var is_marketing = $(':radio[name="is_marketing"]:checked').val();

            var userId = $(this).attr('id').split("/")[0]
            var ch_cd = $(this).attr('id').split("/")[1]
            var measureno = $(this).attr('id').split("/")[2]

            var formData = new FormData($(this)[0]);
            formData.append("ch_cd", ch_cd);
            formData.append("measureno", measureno);
            formData.append("phone", $("#phone").val());
            formData.append("birthyy", $("#birthyy").val());
            formData.append("birthmm", $("#birthmm").val());
            formData.append("birthdd", $("#birthdd").val());
            formData.append("email", $("#email").val());

            formData.append("is_private", is_private);
            formData.append("is_consignment", is_consignment);
            formData.append("is_skin_residence", is_skin_residence);
            formData.append("is_sensitive", is_sensitive);
            formData.append("is_private_third", is_private_third);
            formData.append("is_sensitive_third", is_sensitive_third);
            formData.append("is_marketing", is_marketing);

              $.ajax({
                  url: "/admin/migen_agree_update?custserial"+custserial,
                  type: 'PUT',
                  data: formData,
                  async: false,
                  cache: true,
                  contentType: false,
                  processData: false,
                  success: function (response) {
                      alert("정상적으로 수정되었습니다.");
                      opener.location.reload();
                      location.href = "/admin/migen_agree_detail?custserial=" + custserial;
                  },
                  error: function (response) {
                      console.log(response);
                  }
              });
          });
      });

      function decode_utf8(s) {
        return decodeURI(s);
      }

    </script>
  </head>

  <body style="padding: 10px;">
    <h2>고객정보</h2>

    <font size="5"><b><div id="name_<%= @user.custserial.to_i %>_<%= @user.lastanaldate %>"></b></div></font>

    <div style="width:100%; height:400px;">
      <font size="4">


      <div style="width:200px; height:30px; float:left;">
        <b>개인정보 동의 여부</b>
      </div>
      <div style="width:200px; height:30px; float:left;">
        <input style="margin-left:20px;" type="radio" name="is_private" class="is_private" id="is_private_t" value="T"> 예
  			<input style="margin-left:20px;" type="radio" name="is_private" class="is_private" id="is_private_f" value="F" checked="checked"> 아니오 <br>
      </div><br>
      <div style="width:200px; height:30px; float:left;">
        <b>개인정보 위수탁 동의 여부</b>
      </div>
      <div style="width:200px; height:30px; float:left;">
        <input style="margin-left:20px;" type="radio" name="is_consignment" class="is_consignment" id="is_consignment_t" value="T"> 예
  			<input style="margin-left:20px;" type="radio" name="is_consignment" class="is_consignment" id="is_consignment_f" value="F" checked="checked"> 아니오 <br>
      </div><br>

      <div style="width:200px; height:30px; float:left;">
        <b>신체정보,생활습관 등 개인정보 동의 여부</b>
      </div>
      <div style="width:200px; height:30px; float:left;">
        <input style="margin-left:20px;" type="radio" name="is_skin_residence" value="T"> 예
  			<input style="margin-left:20px;" type="radio" name="is_skin_residence" value="F" checked="checked"> 아니오 <br>
      </div>
      <div style="width:200px; height:30px; float:left;">
        <b>건강정보, 치료 이력 등 민감정보 동의 여부</b>
      </div>
      <div style="width:200px; height:30px; float:left;">
        <input style="margin-left:20px;" type="radio" name="is_sensitive" value="T"> 예
        <input style="margin-left:20px;" type="radio" name="is_sensitive" value="F" checked="checked"> 아니오 <br>
      </div>
      <div style="width:200px; height:30px; float:left;">
        <b>개인정보 제3자 제공 동의 여부</b>
      </div>
      <div style="width:200px; height:30px; float:left;">
        <input style="margin-left:20px;" type="radio" name="is_private_third" value="T"> 예
  			<input style="margin-left:20px;" type="radio" name="is_private_third" value="F" checked="checked"> 아니오 <br>
      </div>
      <div style="width:200px; height:30px; float:left;">
        <b>민감정보 제3자 제동 동의 여부</b>
      </div>
      <div style="width:200px; height:30px; float:left;">
        <input style="margin-left:20px;" type="radio" name="is_sensitive_third" value="T"> 예
        <input style="margin-left:20px;" type="radio" name="is_sensitive_third" value="F" checked="checked"> 아니오 <br>
      </div>
      <div style="width:200px; height:30px; float:left;">
        <b>마케팅 정보 수신 동의 여부</b>
      </div>
      <div style="width:200px; height:30px; float:left;">
        <input style="margin-left:20px;" type="radio" name="is_marketing" value="T"> 예
        <input style="margin-left:20px;" type="radio" name="is_marketing" value="F" checked="checked"> 아니오 <br>
      </div>

      </font>
    </div><br>
    <center>
      <button id="<%= @user.custserial %>/<%= @user.ch_cd %>/<%= @user.measureno %>" class="btn btn-warning edit-user">저장</button>
    </center>

  </body>
</html>
