<!DOCTYPE html>
<html>
    <head>
      <script>
        $(function () {
          <% user = Custinfo.find tabletinterview.custserial %>
          try
          {
            $('#name_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>').append(decode_utf8('<%= user.custname %>'));
          }
          catch(err)
          {
            $('#name_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>').append('<%= user.custname %>');
          }
        });

        function decode_utf8(s) {
          return decodeURI(s);
        }
      </script>
    </head>
    <body>
      <div style="display:table; height:50px; width: 100%; float:left; background: #ffe6ee; margin: 2px; padding: 8px;">
        <% custinfo = Custinfo.find tabletinterview.custserial.to_i %>
        <font size="4"><div id="name_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>"></div></font>
        <font size="2">
          시리얼 : <%= tabletinterview.custserial.to_i %> / 진단 날짜 : <%= tabletinterview.uptdate %> / 전화번호 : <%= custinfo.phone %> <br>
          사후 피드백 서비스 : <%= custinfo.is_agree_after %>

        </font>
      </div>
    </body>
</html>
