<!DOCTYPE html>
<html>
    <head>
      <script>
        $(function () {
          <% user = Custinfo.find tabletinterview.custserial.to_i %>
          try
          {
            var userName = decode_utf8('<%= user.custname %>')
            tempUserName = ""
            for(var i = 0; i < userName.length; i++){
              if(i == 0)
                tempUserName += userName.slice(0, 1)
              else if(i == userName.length - 1)
                tempUserName += userName.slice(userName.length - 1, userName.length)
              else
                tempUserName += "*"
            }
            $('#name_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>').append(tempUserName);
          }
          catch(err)
          {
            $('#name_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>').append('<%= user.custname %>');
          }

          try
          {
            var phone = '<%= user.phone %>'
            tempPhone = ""
            for(var i = 0; i < phone.length; i++){
              if(i == 0 || i == 1 || (i > phone.length - 5 && i != phone.length - 1))
                continue

              if(i == 2)
                tempPhone += phone.slice(0, 3)
              else if(i == phone.length - 1)
                tempPhone += phone.slice(phone.length - 4, phone.length)
              else
                tempPhone += "*"
            }
            $('#phone_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>').append(tempPhone);
          }
          catch(err)
          {
            $('#phone_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>').append('<%= user.phone %>');
          }
        });

        function decode_utf8(s) {
          return decodeURI(s);
        }
      </script>
    </head>
    <body>
      <div style="display:table; height:50px; width: 100%; float:left; background: #ffe6ee; margin: 2px; padding: 8px;">
        <% custinfo = Custinfo.find tabletinterview.custserial.to_i %>
        <font size="4"><div id="name_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>"></div></font>
        <font size="2">
          시리얼 : <%= tabletinterview.custserial.to_i %> / 진단 날짜 : <%= tabletinterview.uptdate %> / 전화번호 : <div id="phone_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>"></div> <br>
          <% is_agree = "X" %>
          <% if custinfo.is_agree_after == "T" && !tabletinterview.base_lot.blank? %>
            <% is_agree = "O" %>
          <% end %>
          사후 피드백 서비스 : <%= is_agree %>
          <br>
          <!-- 1차설문 조건에 상관없이 보임 -->
          <% f1 = Fcafterinterview.where(tablet_interview_id: tabletinterview.tablet_interview_id).where(custserial: tabletinterview.custserial.to_i).where(order: 0).first %>
          <% if f1.a1.nil? %>
            <% is_feed_back_ok_1 = "X" %>
          <% else %>
            <% is_feed_back_ok_1 = "O" %>
          <% end %>
          <a onClick="show_after_interview(<%= f1.after_interview_id %>, <%= f1.tablet_interview_id %>, <%= f1.custserial %>)">1차 설문 여부 : <%= is_feed_back_ok_1 %></a> /

          <% if custinfo.is_agree_after == "T" && !tabletinterview.base_lot.blank? %>
            <% f2 = Fcafterinterview.where(tablet_interview_id: tabletinterview.tablet_interview_id).where(custserial: tabletinterview.custserial.to_i).where(order: 1).first %>
            <% if f2.a1.nil? %>
              <% is_feed_back_ok_2 = "X" %>
            <% else %>
              <% is_feed_back_ok_2 = "O" %>
            <% end %>
            <a onClick="show_after_interview(<%= f2.after_interview_id %>, <%= f2.tablet_interview_id %>, <%= f2.custserial %>)">2차 설문 여부 : <%= is_feed_back_ok_2 %></a> /
            <% f3 = Fcafterinterview.where(tablet_interview_id: tabletinterview.tablet_interview_id).where(custserial: tabletinterview.custserial.to_i).where(order: 2).first %>
            <% if f3.a1.nil? %>
              <% is_feed_back_ok_3 = "X" %>
            <% else %>
              <% is_feed_back_ok_3 = "O" %>
            <% end %>
            <a onClick="show_after_interview(<%= f3.after_interview_id %>, <%= f3.tablet_interview_id %>, <%= f3.custserial %>)">3차 설문 여부 : <%= is_feed_back_ok_3 %></a>
          <% end %>
        </font>
      </div>
    </body>
</html>
