<!DOCTYPE html>
<html>
    <head>
      <script>
        $(function () {
          <% user = Custinfo.find tabletinterview.custserial %>
          try
          {
            $('#name_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>').append(decode_utf8('<%= user.custname %>'));
          }
          catch(err)
          {
            $('#name_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>').append('<%= user.custname %>');
          }
        });

        function decode_utf8(s) {
          return decodeURI(s);
        }
      </script>
    </head>
    <body>
      <div style="display:table; height:50px; width: 100%; float:left; background: #ffe6ee; margin: 2px; padding: 8px;">
        <% custinfo = Custinfo.find tabletinterview.custserial.to_i %>
        <font size="4"><div id="name_<%= user.custserial.to_i %>_<%= tabletinterview.uptdate %>"></div></font>
        <font size="2">
          시리얼 : <%= tabletinterview.custserial.to_i %> / 진단 날짜 : <%= tabletinterview.uptdate %> / 전화번호 : <%= custinfo.phone %> <br>
          사후 피드백 서비스 : <%= custinfo.is_agree_after %>
          <br>
          <% if tabletinterview.is_agree_after == "T" %>
            <% f1 = Fcafterinterview.where(tablet_interview_id: tabletinterview.tablet_interview_id).where(custserial: tabletinterview.custserial.to_i).where(after_interview_id: 0).first %>
            <% if f1.a1.nil? %>
              <% is_feed_back_ok_1 = "F" %>
            <% else %>
              <% is_feed_back_ok_1 = "T" %>
            <% end %>
            <a onClick="show_after_interview(<%= f1.after_interview_id %>, <%= f1.tablet_interview_id %>, <%= f1.custserial %>)">1차 설문 여부 : <%= is_feed_back_ok_1 %></a> /
            <% f2 = Fcafterinterview.where(tablet_interview_id: tabletinterview.tablet_interview_id).where(custserial: tabletinterview.custserial.to_i).where(after_interview_id: 1).first %>
            <% if f2.a1.nil? %>
              <% is_feed_back_ok_2 = "F" %>
            <% else %>
              <% is_feed_back_ok_2 = "T" %>
            <% end %>
            <a onClick="show_after_interview(<%= f2.after_interview_id %>, <%= f2.tablet_interview_id %>, <%= f2.custserial %>)">2차 설문 여부 : <%= is_feed_back_ok_2 %></a> /
            <% f3 = Fcafterinterview.where(tablet_interview_id: tabletinterview.tablet_interview_id).where(custserial: tabletinterview.custserial.to_i).where(after_interview_id: 2).first %>
            <% if f3.a1.nil? %>
              <% is_feed_back_ok_3 = "F" %>
            <% else %>
              <% is_feed_back_ok_3 = "T" %>
            <% end %>
            <a onClick="show_after_interview(<%= f3.after_interview_id %>, <%= f3.tablet_interview_id %>, <%= f3.custserial %>)">3차 설문 여부 : <%= is_feed_back_ok_3 %></a>
          <% end %>  
        </font>
      </div>
    </body>
</html>
