<html>
  <head>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

    <script>
      $(function () {
        $("#datepicker").datepicker({
                    dateFormat: 'yy-mm-dd',
                    dayNamesMin: [
                        '일',
                        '월',
                        '화',
                        '수',
                        '목',
                        '금',
                        '토'
                    ],
                    monthNamesShort: [
                        '1월',
                        '2월',
                        '3월',
                        '4월',
                        '5월',
                        '6월',
                        '7월',
                        '8월',
                        '9월',
                        '10월',
                        '11월',
                        '12월'
                    ],
                    currentText: '오늘 날짜',
                    changeMonth: true
                });
          $("#datepicker").datepicker('setDate', '<%= @date %>');
          $('#datepicker').change(function () {
              location.href = "/feedback?date=" + $('#datepicker').val()
          });
      });
    </script>
  </head>

  <body>
    <input type="text" id="datepicker" style="width:100%; margin-top:10px;">

    <div>
      <h3>하루 전 진단자</h3>
      <%= @date_1days_ago %><br>
      <div>
        <% @tablet_interviews_1_days_ago.each do |tabletinterview| %>
          <%= render partial: "feedback/item", locals: { tabletinterview: tabletinterview } %>
        <% end %>
      </div>

      <h3>2주 전 진단자</h3>
      <%= @date_2weeks_ago %><br>
      <div>
        <% @tablet_interviews_2_weeks_ago.each do |tabletinterview| %>
          <%= render partial: "feedback/item", locals: { tabletinterview: tabletinterview } %>
        <% end %>
      </div>

      <h3>3개월 전 진단자</h3>
      <%= @date_3months_ago %><br>
      <div>
        <% @tablet_interviews_3_months_ago.each do |tabletinterview| %>
          <%= render partial: "feedback/item", locals: { tabletinterview: tabletinterview } %>
        <% end %>
      </div>
    </div>
  </body>
</html>
