<html>
  <head>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

    <script>
      $(function () {
        $("#datepicker").datepicker({
                    dateFormat: 'yy-mm-dd',
                    dayNamesMin: [
                        '일',
                        '월',
                        '화',
                        '수',
                        '목',
                        '금',
                        '토'
                    ],
                    monthNamesShort: [
                        '1월',
                        '2월',
                        '3월',
                        '4월',
                        '5월',
                        '6월',
                        '7월',
                        '8월',
                        '9월',
                        '10월',
                        '11월',
                        '12월'
                    ],
                    currentText: '오늘 날짜',
                    changeMonth: true
                });
          $("#datepicker").datepicker('setDate', '<%= @date %>');
          $('#datepicker').change(function () {
              location.href = "/feedback?date=" + $('#datepicker').val()
          });
      });

      function show_after_interview(after_interview_id, tablet_interview_id, custserial){
        window.open("/after_interview?custserial=" + custserial + "&after_interview_id=" + after_interview_id + "&tablet_interview_id=" + tablet_interview_id, "/after_interview?custserial=" + custserial + "&after_interview_id=" + after_interview_id + "&tablet_interview_id=" + tablet_interview_id, "scrollbars=1,resizable=1,height=500,width=600");
      }
    </script>
  </head>

  <body>
    <input type="text" id="datepicker" style="width:100%; margin-top:10px;">

    <div>
      <h4>당일 진단자 (<%= @date_today %>)</h4>
      <div>
        <% @tablet_interviews_today.each do |tabletinterview| %>
          <%= render partial: "feedback/item", locals: { tabletinterview: tabletinterview } %>
        <% end %>
      </div>

      <h4>2주 전 진단자 (<%= @date_2weeks_ago %>)</h4>
      <div>
        <% @tablet_interviews_2_weeks_ago.each do |tabletinterview| %>
          <%= render partial: "feedback/item", locals: { tabletinterview: tabletinterview } %>
        <% end %>
      </div>

      <h4>3개월 전 진단자 (<%= @date_3months_ago %>)</h4>
      <div>
        <% @tablet_interviews_3_months_ago.each do |tabletinterview| %>
          <%= render partial: "feedback/item", locals: { tabletinterview: tabletinterview } %>
        <% end %>
      </div>
    </div>
  </body>
</html>
