<html>
  <head>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>

    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

    <script>
      $(function () {

        $("#start_date").datepicker({
                    dateFormat: 'yy-mm-dd',
                    dayNamesMin: [
                        '일',
                        '월',
                        '화',
                        '수',
                        '목',
                        '금',
                        '토'
                    ],
                    monthNamesShort: [
                        '1월',
                        '2월',
                        '3월',
                        '4월',
                        '5월',
                        '6월',
                        '7월',
                        '8월',
                        '9월',
                        '10월',
                        '11월',
                        '12월'
                    ],
                    currentText: '오늘 날짜',
                    changeMonth: true
                });
            $("#end_date").datepicker({
                        dateFormat: 'yy-mm-dd',
                        dayNamesMin: [
                            '일',
                            '월',
                            '화',
                            '수',
                            '목',
                            '금',
                            '토'
                        ],
                        monthNamesShort: [
                            '1월',
                            '2월',
                            '3월',
                            '4월',
                            '5월',
                            '6월',
                            '7월',
                            '8월',
                            '9월',
                            '10월',
                            '11월',
                            '12월'
                        ],
                        currentText: '오늘 날짜',
                        changeMonth: true
                    });
          $("#start_date").datepicker('setDate', '<%= @start_date %>');
          $("#end_date").datepicker('setDate', '<%= @end_date %>');

          document.getElementById("start_age").value = "20"
          document.getElementById("end_age").value = "30"

          <% if !@start_age.nil? %>
            document.getElementById("start_age").value = '<%= @start_age %>'
          <% end %>
          <% if !@end_age.nil? %>
            document.getElementById("end_age").value = '<%= @end_age %>'
          <% end %>

          <% if !@sex.nil? %>
            $('select[id="select_sex"]').val('<%= @sex %>');
          <% end %>

          <% if !@select_base.nil? %>
            $('select[id="select_base"]').val('<%= @select_base %>');
          <% end %>

          <% if !@select_ample1.nil? %>
            $('select[id="select_ample_1"]').val('<%= @select_ample1 %>');
          <% end %>

          <% if !@select_ample2.nil? %>
            $('select[id="select_ample_2"]').val('<%= @select_ample2 %>');
          <% end %>

          <% if !@select_interview.nil? %>
            $('select[id="select_interview"]').val('<%= @select_interview %>');
          <% end %>

          $('#submit').click(function(){
            load();
          });

      });

      function load(){
        var select_base = document.getElementById("select_base").options[document.getElementById("select_base").selectedIndex].value;
        var select_ample1 = document.getElementById("select_ample_1").options[document.getElementById("select_ample_1").selectedIndex].value;
        var select_ample2 = document.getElementById("select_ample_2").options[document.getElementById("select_ample_2").selectedIndex].value;
        var select_sex = document.getElementById("select_sex").options[document.getElementById("select_sex").selectedIndex].value;
        var select_interview = document.getElementById("select_interview").options[document.getElementById("select_interview").selectedIndex].value;

        url = ""
        url += "/feedback_list?start_date=" + $('#start_date').val() + "&end_date=" + $('#end_date').val();
        url += "&sex=" + select_sex;
        url += "&start_age=" + document.getElementById("start_age").value;
        url += "&end_age=" + document.getElementById("end_age").value;
        url += "&select_base=" + select_base;
        url += "&select_ample1=" + select_ample1;
        url += "&select_ample2=" + select_ample2;
        url += "&select_interview=" + select_interview;
        location.href = url;
      }
    </script>
  </head>

  <body>
    진단 날짜 : <input type="text" id="start_date" style="width:100px; margin-top:10px;">
    <input type="text" id="end_date" style="width:100px; margin-top:10px;">
    유형 :
    <select id="select_interview">
      <option value="all">All</option>
      <option value="today">당일</option>
      <option value="2weeks_ago">2주 전</option>
      <option value="3months_ago">3개월 전</option>
    </select>
    <br>

    성별 :
    <select id="select_sex">
      <option value="all">All</option>
      <option value="F">F</option>
      <option value="M">M</option>
    </select>

    나이 :
    <input type="text" id="start_age" style="width:100px; margin-top:10px;">
    <input type="text" id="end_age" style="width:100px; margin-top:10px;">
    <br><br>

    베이스제품 :
    <select id="select_base">
      <option value="all">All</option>
      <option value="skin control">스킨 컨트롤 세럼</option>
      <option value="deep humect">딥 휴멕트 세럼</option>
      <option value="rebalencing">듀얼 밸런스 세럼</option>
    </select>

    앰플 1 :
    <select id="select_ample_1">
      <option value="all">All</option>
      <option value="pore clinic ampoule">포어 클리닉 앰플</option>
      <option value="carming ampoule">카밍 앰플</option>
      <option value="luminus ampoule">루미너스 앰플</option>
      <option value="regenerating ampoule">리제네리이팅 앰플</option>
      <option value="perming ampoule">퍼밍 앰플</option>
    </select>

    앰플 2 :
    <select id="select_ample_2">
      <option value="all">All</option>
      <option value="pore clinic ampoule">포어 클리닉 앰플</option>
      <option value="carming ampoule">카밍 앰플</option>
      <option value="luminus ampoule">루미너스 앰플</option>
      <option value="regenerating ampoule">리제네리이팅 앰플</option>
      <option value="perming ampoule">퍼밍 앰플</option>
    </select>

    <button id="submit">조회</button>
    <div>
      <div>
        총 인원 수 : <%= @count %> / 설문 1의 평균 점수 : <%= @average_a1 %> / 설문 2의 평균 점수 : <%= @average_a2 %> / 설문 3의 평균 점수 : <%= @average_a3 %> / 설문 4의 평균 점수 : <%= @average_a4 %><br>
        <% @after_interviews.each do |after_interview| %>
          <%= render partial: "feedback/after_item", locals: { after_interview: after_interview } %>
        <% end %>
      </div>
    </div>
  </body>
</html>
