<!DOCTYPE html>
<html>
    <head>
      <script type="text/javascript" src="../js/jquery.js"></script>
      <script type="text/javascript" src="../js/bootstrap.js"></script>

      <link href="../css/bootstrap.min.css" rel="stylesheet">

      <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
      <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

      <script>
        $(function () {
        });
        function decode_utf8(s) {
          try{
            return decodeURI(s);
          }catch(err){
            console.log(err);
            return s;
          }
        }
      </script>
    </head>
    <body>
      <h2><%= fcavgdata.first.n_index.to_i %> ~ <%= fcavgdata.last.n_index.to_i %> 세 이하</h2>
      <% fcavgdata.reverse_each do |data| %>
        <div style="display:table; height:130px; width: 100%; float:left; background: #cecece; margin: 2px; padding: 8px;">
          <font size="4">나이: <%= data.n_index.to_i %> 세</font><br>
          <font size="2">모공 : <%= data.pore %></font> / <font size="2">주름 : <%= data.wrinkle %></font><br>
          <font size="2">색소침착 편광 : <%= data.spot_pl %></font> / <font size="2">색소침착 UV광  : <%= data.spot_uv %></font> / <font size="2">탄력 : <%= data.elasticity %></font><br>
          <font size="2">포피린 Ratio : <%= data.porphyrin_ratio %></font> / <font size="2">T존 피지 E값 : <%= data.e_sebum_t %></font> / <font size="2">U존 피지 E값 : <%= data.e_sebum_u %></font><br>
          <font size="2">수분 : <%= data.moisture %></font> / <font size="2">포피린_t : <%= data.e_porphyrin_t %></font> / <font size="2">포피린_u : <%= data.e_porphyrin_u %></font><br>
        </div>
      <% end %>
    </body>
</html>
