<!DOCTYPE html>
<html>
    <head>
      <script type="text/javascript" src="../js/jquery.js"></script>
      <script type="text/javascript" src="../js/bootstrap.js"></script>

      <link href="../css/bootstrap.min.css" rel="stylesheet">

      <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
      <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

      <script>
        $(function () {
        });
        function decode_utf8(s) {
          try{
            return decodeURI(s);
          }catch(err){
            console.log(err);
            return s;
          }
        }
      </script>
    </head>
    <body>

      <tr class="table_tr text-center">
        <% title = data.age %>
        <% temp1 = title.split("_")[0] %>
        <% if title.split("_")[2].nil? %>
          <% grade = title.split("_")[1] %>
        <% else %>
          <% grade = title.split("_")[2] %>
        <% end %>
        <% if temp1.include?("Male") %>
          <% title = "남자 "+grade %>
        <% else %>
          <% title = "여자 "+grade %>
        <% end %>
        <td><%= title %></td>
        <td><%= data.pore.to_i %></td>
        <td><%= data.wrinkle.to_i %></td>
        <td><%= data.spot_pl.to_i %></td>
        <td><%= data.spot_uv.to_i %></td>
        <td><%= data.elasticity.to_i %></td>
        <td><%= data.porphyrin_ratio.to_i %></td>
        <td><%= data.e_sebum_t %></td>
        <td><%= data.e_sebum_u %></td>
        <td><%= data.moisture.to_i %></td>
        <td><%= data.e_porphyrin_t %></td>
        <td><%= data.e_porphyrin_u %></td>
      </tr>
    </body>
</html>
