<!DOCTYPE html>
<html>
    <head>
      <script type="text/javascript" src="../js/jquery.js"></script>
      <script type="text/javascript" src="../js/bootstrap.js"></script>

      <link href="../css/bootstrap.min.css" rel="stylesheet">

      <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
      <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

      <script>
        $(function () {
        });
        function decode_utf8(s) {
          try{
            return decodeURI(s);
          }catch(err){
            console.log(err);
            return s;
          }
        }
      </script>
    </head>
    <body>
      <h2><%= fcavgdata.first.n_index %> ~ <%= fcavgdata.last.n_index %> 세 이하</h2>
      <% fcavgdata.reverse_each do |data| %>
        <div style="display:table; height:150px; width: 100%; float:left; background: #cecece; margin: 2px; padding: 8px;">
          나이: <font><%= data.n_index %> 세</font><br>
          모공 : <font><%= data.pore %></font> / 탄력 : <font><%= data.wrinkle %></font><br>
          색소침착 : <font><%= data.spot_pl %></font> / 색소 : <font><%= data.spot_uv %></font> / 탄력 : <font><%= data.elasticity %></font><br>
          포르피린 비율 : <font><%= data.porphyrin_ratio %></font> / 피지t : <font><%= data.e_sebum_t %></font> / 피지u : <font><%= data.e_sebum_u %></font><br>
          수분 : <font><%= data.moisture %></font> / 포르피린t : <font><%= data.e_porphyrin_t %></font> / 포르피린u : <font><%= data.e_porphyrin_u %></font><br>
        </div>
      <% end %>
    </body>
</html>
