<!DOCTYPE html>
<html>
    <head>
      <script type="text/javascript" src="../js/jquery.js"></script>
      <script type="text/javascript" src="../js/bootstrap.js"></script>

      <link href="../css/bootstrap.min.css" rel="stylesheet">

      <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
      <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

      <script>
        $(function () {
        });
        function decode_utf8(s) {
          try{
            return decodeURI(s);
          }catch(err){
            console.log(err);
            return s;
          }
        }
      </script>
    </head>
    <body>

      <div style="display:table; height:130px; width: 100%; float:left; background: #cecece; margin: 2px; padding: 8px;">
        <% title = data.age %>
        <% temp1 = title.split("_")[0] %>
        <% if title.split("_")[2].nil? %>
          <% grade = title.split("_")[1] %>
        <% else %>
          <% grade = title.split("_")[2] %>
        <% end %>
        <% if temp1.include?("Male") %>
          <% title = "남자 "+grade %>
        <% else %>
          <% title = "여자 "+grade %>
        <% end %>
        <h4><%= title %></h4>
        <font size="2">
          모공 : <%= data.pore %> / 주름 : <%= data.wrinkle %> / 색소침착 편광 : <%= data.spot_pl %> / 색소침착 UV광  : <%= data.spot_uv %> / 탄력 : <%= data.elasticity %> / 포피린 비율 : <%= data.porphyrin_ratio %><br>
          T존 피지 : <%= data.e_sebum_t %> / U존 피지 : <%= data.e_sebum_u %> / 수분 : <%= data.moisture %> / T존 포피린 : <%= data.e_porphyrin_t %> / U존 포피린 : <%= data.e_porphyrin_u %><br>
        </font>
      </div>

    </body>
</html>
